<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard_enlace'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Auditoría de control interno</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Auditoría de control interno</h3>
                </div>
            </div>

            <div class="uk-grid uk-margin-small-top">
                <div class="uk-width-1-1@m">
                    <div class="uk-alert uk-border-rounded uk-text-uppercase" style="z-index: 980;" uk-sticky="bottom: #offset">
                        <div class="uk-grid uk-flex uk-flex-middle">
                            <div class="uk-width-1-2">
                                <span class="uk-text-primary uk-text-bold uk-text-uppercase">
                                    <span v-if="isEmpyAuditoria === false"> {{ auditoria.Entidad }}</span>
                                    <span uk-spinner v-else></span>
                                </span>
                            </div>
                            <div class="uk-width-1-2 uk-text-right">
                                <span class="uk-text-primary uk-text-bold">
                                    <i class="far fa-calendar-alt"></i> Ejercicio Fiscal
                                    <span v-if="isEmpyAuditoria === false">{{ auditoria.Ejercicio }}</span>
                                    <span uk-spinner v-else></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-margin-small-top">
                <div class="uk-width-1-1@m">
                    <div class="uk-alert uk-border-rounded">
                        <dl class="uk-description-list">
                            <dt class="uk-text-bold"><strong>Cuestionario de control interno</strong></dt>
                            <dt>Estado del cuestionario</dt>
                            <dd>
                                <template v-if="isEtapaEnlace">
                                    <span class="uk-text-uppercase uk-text-danger" v-if="isOpenForm === false">
                                        La fecha para contestar el cuestionario ha expirado o no ha comenzado
                                    </span>
                                    <span class="uk-text-uppercase uk-text-success" v-else>
                                        Disponible para contestar
                                    </span>
                                </template>
                                <template v-else>
                                    <span class="uk-text-uppercase uk-text-danger">
                                        No disponible para contestar
                                    </span>
                                </template>
                            </dd>
                            <dt v-show="isEtapaEnlace">Periodo para poder contestar cuestionario</dt>
                            <dd v-show="isEtapaEnlace">
                                <span v-if="fechaInicioEtapaActual === null || fechaFinEtapaActual === null" class="uk-text-uppercase uk-text-danger">
                                    Fechas no establecidas
                                </span>
                                <span v-else class="uk-text-uppercase">
                                    Del {{ setDate(fechaInicioEtapaActual) }} al {{ setDate(fechaFinEtapaActual) }}
                                </span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <template v-if="isEtapaEnlace === false && isEtapaAuditor === false">
                <div class="uik-grid">
                    <div class="uk-width-1-1 uk-margin-large-top uk-margin-large-bottom uk-text-center uk-text-uppercase">
                        <div uk-spinner="ratio: 2.0"></div>
                        <br>
                        Cargando...
                    </div>
                </div>
            </template>

            <!-- ETAPAS AUDITOR -->
            <template v-if="isEtapaAuditor === true">
                <div class="uik-grid">
                    <template v-if="isEtapasPrimeraVuelta">
                        <div class="uk-width-1-1 uk-margin-large-top uk-margin-large-bottom uk-text-center">
                            <form action="/api/descargar-respuestas"
                                  method="post"
                                  class="uk-display-inline"
                                  target="_blank"
                                  v-if="auditoria.Hash !== null">
                                <input type="hidden" name="auditoria" :value="auditoria.AuditoriaID">
                                <input type="hidden" name="api_token" :value="getApiToken">
                                <button type="submit"
                                        class="uk-button uk-button-default uk-border-rounded">
                                    Descargar respuestas <i class="fas fa-file-pdf"></i>
                                </button>
                            </form>
                            <form action="/api/descargar-acuses"
                                  method="post"
                                  class="uk-display-inline"
                                  target="_blank"
                                  v-if="auditoria.Hash !== null">
                                <input type="hidden" name="auditoria" :value="auditoria.AuditoriaID">
                                <input type="hidden" name="api_token" :value="getApiToken">
                                <button type="submit"
                                        class="uk-button uk-button-default uk-border-rounded">
                                    Descargar acuse de recibido <i class="fas fa-file-pdf"></i>
                                </button>
                            </form>
                        </div>
                    </template>
                    <template v-if="isEtapasSegundaVuelta">
                        <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase">
                            Sección en construcción
                        </div>
                        <!--<div class="uk-width-1-1 uk-margin-large-top uk-margin-large-bottom uk-text-center">
                            <form action="/api/descargar-respuestas"
                                  method="post"
                                  class="uk-display-inline"
                                  target="_blank">
                                <input type="hidden" name="auditoria" :value="auditoria.AuditoriaID">
                                <input type="hidden" name="api_token" :value="getApiToken">
                                <button type="submit"
                                        class="uk-button uk-button-default uk-border-rounded">
                                    Descargar respuestas <i class="fas fa-file-pdf"></i>
                                </button>
                            </form>
                            <form action="/api/descargar-acuses"
                                  method="post"
                                  class="uk-display-inline"
                                  target="_blank">
                                <input type="hidden" name="auditoria" :value="auditoria.AuditoriaID">
                                <input type="hidden" name="api_token" :value="getApiToken">
                                <button type="submit"
                                        class="uk-button uk-button-default uk-border-rounded">
                                    Descargar acuse de recibido <i class="fas fa-file-pdf"></i>
                                </button>
                            </form>
                        </div>-->
                    </template>
                </div>
            </template>

            <!-- ETAPA ENLACE -->
            <template v-if="isEtapaEnlace === true">
                <div class="uk-grid uk-margin-small-top" v-show="showMessageContestarPreguntas && isOpenForm">
                    <div class="uk-width-1-1@m">
                        <div class="uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase">
                            Contesta las preguntas del cuestionario de cada uno de los componentes que se presentan
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-grid-small uk-margin-large-bottom" v-if="isOpenForm">
                    <template v-if="!showForm">
                        <template v-if="temasCuestionario.length > 0">
                            <!--Tarjeta de temas del cuestionario-->
                            <div class="uk-width-1-2" v-for="tema in temasCuestionario" @click="showFormTopic(tema)">
                                <div class="uk-card-tema uk-border-rounded uk-padding uk-margin-small-bottom uk-text-uppercase uk-text-bold">
                                    {{ tema.TemaID }}. {{ tema.Tema }}
                                    <br>
                                    <span class="uk-text-small-custom">Total de preguntas {{ tema.No_Preguntas }}</span>
                                    <br>
                                    <span v-if="setPorcentajeAvance(tema) == tema.No_Preguntas" class="uk-text-small-custom uk-text-success" > <i class="fas fa-check"></i>Contestado</span>
                                    <span v-else class="uk-text-small-custom uk-text-uppercase "> Preguntas por contestar: {{tema.No_Preguntas - setPorcentajeAvance(tema) }}</span>
                                </div>
                            </div>
                            <div class="uk-width-1-1" v-show="temasCuestionario.length > 0">
                                <router-link
                                    tag="a"
                                    :to="{name: 'dashboard_enlace'}"
                                    class="uk-button uk-button-default uk-border-rounded uk-float-left">
                                    <i class="fas fa-long-arrow-alt-left"></i> Regresar a Menú principal
                                </router-link>
                                <button type="button"
                                        class="uk-button uk-button-primary uk-border-rounded uk-float-right"
                                        :disabled="readyForSend === false || saving === true"
                                        @click="enviar">
                                    Envíar cuestionario <span v-show="saving" uk-spinner="ratio: 0.7"></span>
                                </button>
                            </div>
                        </template>
                        <template v-else>
                            <div class="uk-width-1-1">
                                <p class="uk-margin-medium-top uk-text-center uk-text-uppercase">
                                    <span uk-spinner="ratio: 2.0"></span> <br>
                                    Cargando...
                                </p>
                            </div>
                        </template>
                    </template>
                    <template v-else>
                        <div class="uk-width-1-1">
                            <form-cuestionario></form-cuestionario>
                            <button type="button"
                                    class="uk-button uk-button-default uk-border-rounded uk-float-left uk-margin-small-top"
                                    @click="cancelFormTopic"
                                    v-show="showButtonBack">
                                <i class="fas fa-long-arrow-alt-left"></i> Regresar a temas del cuestionario
                            </button>
                        </div>
                    </template>
                </div>
                <div v-else>
                    <div class="uk-alert uk-border-rounded uk-text-center uk-padding uk-margin-medium-top uk-text-uppercase">
                        <i class="far fa-calendar-times"></i> La fecha para contestar el cuestionario ha expirado o no ha comenzado
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    let moment = require('moment');
    import FormCuestionario from "@/js/components/auditoria_control_interno/FormCuestionario";
    export default {
        name: "ModuloCuestionario",
        components: {
            FormCuestionario
        },
        created() {
            this.getAuditoria();
        },
        data() {
            return {
                auditoria: {},
                etapaActual: '',
                fechaInicioEtapaActual: null,
                fechaFinEtapaActual: null,
                temasCuestionario: [],
                showForm: false,
                formTopic: this.$store.state.cuestionario.formTopic,
                saving: false
            }
        },
        methods: {
            getAuditoria() {
                if(typeof this.getUser.FuncionarioID !== 'undefined') {
                    let data = {
                        api_token: localStorage.getItem('api_token'),
                        funcionarioID: this.getUser.FuncionarioID
                    };
                    axios.post('/api/get-auditoria-by-funcionario-id', data).then(resp => {
                        this.auditoria = resp.data.auditoria;
                        this.getGeneralDataCuestionario();
                        this.getTemasCuestionario();
                    }).catch(e => {
                        console.log(e);
                    });
                }
            },
            getGeneralDataCuestionario() {
                let data = {
                    api_token: localStorage.getItem('api_token'),
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/get-general-data-cuestionario', data).then(resp => {
                    this.etapaActual = resp.data.etapaActual;
                    this.fechaInicioEtapaActual = resp.data.fechaInicio;
                    this.fechaFinEtapaActual = resp.data.fechaFin;
                }).catch(e => {
                    console.log(e);
                });
            },
            setDate(date) {
                moment.locale('es');
                return moment(date).format('D MMMM YYYY');
            },
            getTemasCuestionario() {
                let data = {
                    api_token: localStorage.getItem('api_token'),
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/get-temas-cuestionario', data).then(resp => {
                    this.temasCuestionario = resp.data.temasCuestionario;
                }).catch(e => {
                    console.log(e);
                });
            },
            setPorcentajeAvance(tema) {
                let total = tema.No_Preguntas;
                return tema.Preguntas_contestadas;
            },
            showFormTopic(tema) {
                this.showForm = true;
                let data = {
                    tema: tema,
                    auditoriaId: this.auditoria.AuditoriaID
                }
                this.$store.commit('updateFormTopic', data);
            },
            cancelFormTopic() {
                this.showForm = false;
                this.$store.commit('resetFormTopic');
                this.$store.commit('resetNoPreguntas');
                this.getTemasCuestionario();
            },
            enviar() {
                UIkit.modal.confirm('¿CONFIRMA QUE DESEA ENVÍAR EL CUESTIONARIO? UNA VEZ ENVÍADO NO PODRÁ MODIFICAR SUS RESPUESTAS').then(() => {
                    this.saving = true;
                    let data = {
                        api_token: localStorage.getItem('api_token'),
                        auditoria: this.auditoria.AuditoriaID
                    };
                    axios.post('/api/enviar-cuestionario', data).then(resp => {
                        this.saving = false;
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Cuestionario envíado correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.getAuditoria();
                    }).catch(e => {
                        this.saving = false;
                        console.log(e);
                    })
                },  () => console.log('Envío cancelado'));
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            }
        },
        computed: {
            getUser(){
                return this.$store.getters.dataUser;
            },
            isEmpyAuditoria() {
                return (_.isEmpty(this.auditoria));
            },
            getEtapaActual() {
                return (this.etapaActual !== '');
            },
            isEtapaEnlace() {
                if(this.etapaActual === '') {
                    return false;
                } else {
                    return (this.etapaActual === 'Enlace contestando' || this.etapaActual === 'Solventación de CRP');
                }
            },
            readyForSend() {
                let ready = true;
                for(let i = 0; i < this.temasCuestionario.length; i++) {
                    if(ready === true) {
                        let tema = this.temasCuestionario[i];
                        if(tema.No_Preguntas === tema.Preguntas_contestadas) {
                            ready = true;
                        } else {
                            ready = false;
                        }
                    }
                }
                return ready;
            },
            getNumeroPreguntas() {
                return this.$store.getters.dataCuestionario.noPreguntas;
            },
            getDataPregunta() {
                return this.$store.getters.dataPregunta;
            },
            showButtonBack() {
                return (this.getNumeroPreguntas > 0 && _.isEmpty(this.getDataPregunta));
            },
            isEtapaAuditor() {
                if(this.etapaActual === '') {
                    return false;
                } else {
                    return (this.etapaActual !== 'Enlace contestando' || this.etapaActual === 'Solventación de CRP');
                }
            },
            getApiToken(){
                return localStorage.getItem('api_token');
            },
            showMessageContestarPreguntas() {
                if(this.isEtapaAuditor === false && this.isEtapaEnlace === false) {
                    return false;
                } else {
                    return _.isEmpty(this.$store.getters.dataPregunta);
                }
            },
            isEtapasPrimeraVuelta() {
                let etapasPrimeraVuelta = [
                    'Enlace contestando',
                    'Revisión auditor',
                    'Revision responsable',
                    'Generando CRP',
                    'Enviar CRP'
                ];
                return (etapasPrimeraVuelta.includes(this.etapaActual));
            },
            isEtapasSegundaVuelta() {
                let etapasSegundaVuelta = [
                    'Solventación de CRP',
                    'Revisando solventación CRP auditor',
                    'Revisando solventación CRP responsable',
                    'Generando Informe'
                ];
                return (etapasSegundaVuelta.includes(this.etapaActual));
            },
            isOpenForm() {
                let today = moment().format('YYYY-MM-DD');
                let todayMoment = moment(today).unix();
                let fechaInicio = moment(this.fechaInicioEtapaActual).unix();
                let fechaFinal = moment(this.fechaFinEtapaActual).unix();
                return (todayMoment >= fechaInicio && todayMoment <= fechaFinal);
            }
        },
        watch: {
            getUser: function(val) {
                if(_.isEmpty(val) === false) {
                    this.getAuditoria();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
                .uk-card-tema{
                    background-color: $color-white;
                    color: $color-primary;
                    &:hover {
                        cursor: pointer;
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(122, 10, 44, 1);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(122, 10, 44, 1);
                        box-shadow: 0px 0px 5px 0px rgba(122, 10, 44, 1);
                    }
                    .uk-text-small-custom {
                        font-size: 12px;
                    }
                }
            }
        }
    }
</style>
