@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;500;800&display=swap');
@import "variables";

//Uikit
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/mixins.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit.scss";
@import "~uikit/src/scss/uikit-theme.scss";

//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

html, body {
    .uk-modal {
        .uk-modal-dialog {
            border-radius: 5px !important;

            .uk-modal-footer {
                border-bottom-left-radius: 5px !important;
                border-bottom-right-radius: 5px !important;

                .uk-button {
                    border-radius: 5px;
                }
            }
        }
    }

    .uk-notification {
        .uk-notification-message {
            background-color: $color-green;
            color: $color-white;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        }
    }
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: red; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

    .ck-editor__editable {
        min-height: 200px;
        max-height: 200px;
    }
}

