$ff-franklin: 'Libre Franklin', sans-serif;
$color-primary: #7A0A2C;
$color-white: #FFFFFF;
$color-black2: #616161;
$color-black: #424242;
$color-grey-disabled: #9e9e9e;
$color-green: #4caf50;
$color-grey-ligth: #eeeeee;
