<template>
    <div class="uk-grid uk-margin-medium-top">
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-clipboard-list"></i> Cuestionario
                </span>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-top">
            <div class="uk-grid">
                <div class="uk-width-1-1" v-if="error !== null">
                    <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                        {{ error }}
                    </div>
                </div>
                <div class="uk-width-1-1@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        Cuestionario asignado a la auditoría
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-1@m">
                            <div class="uk-form-controls">
                                <select class="uk-select uk-border-rounded uk-text-uppercase"
                                        v-model="cuestionarioAsignado"
                                        :disabled="!editarCuestionario">
                                    <option value="">Selecciona un cuestionario</option>
                                    <option :value="cuestionario.Nombre"
                                            v-for="(cuestionario, index) in cuestionarios"
                                            :key="index">
                                        {{cuestionario.Nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1@m uk-margin-small-top uk-text-right">
                    <template v-if="!editarCuestionario">
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="editarCuestionario = true">
                            Actualizar
                        </button>
                    </template>
                    <template v-else>
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded"
                                @click="cancelEdit">
                            Cancelar
                        </button>
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="saveCuestionario">Guardar <span uk-spinner="ratio: 0.6" v-show="updating"></span></button>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CuestionarioAuditoria",
        props: ['auditoria'],
        created() {
            this.getDataCuestionario();
        },
        data() {
            return {
                error: null,
                cuestionarioAsignado: '',
                editarCuestionario: false,
                updating: false,
                cuestionarioAsignadoTemporal: '',
                cuestionarios: [],
                sending: false
            }
        },
        methods:{
            cancelEdit() {
                this.error = null;
                this.editarCuestionario = false;
                this.cuestionarioAsignado = this.cuestionarioAsignadoTemporal;
            },
            getDataCuestionario() {
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/get-data-cuestionario', data).then(resp => {
                    this.cuestionarios = resp.data.cuestionarios;
                    if(_.isNull(resp.data.asignado.CuestionarioID)) {
                        this.cuestionarioAsignado = '';
                    } else {
                        for(let i = 0; i < this.cuestionarios.length; i++) {
                            if(this.cuestionarios[i].CuestionarioID === resp.data.asignado.CuestionarioID) {
                                this.cuestionarioAsignado = this.cuestionarios[i].Nombre;
                                this.cuestionarioAsignadoTemporal = JSON.parse(JSON.stringify(this.cuestionarioAsignado));
                            }
                        }
                    }
                }).catch(e => {
                    console.log(e);
                })
            },
            saveCuestionario() {
                if(this.cuestionarioAsignado === '') {
                    this.error = 'El cuestionario seleccionado no es válido';
                    return false;
                }
                this.updating = true;
                let data = {
                    cuestionario: this.cuestionarioAsignado,
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/update-cuestionario-auditoria', data).then(resp => {
                    this.editarCuestionario = false;
                    this.updating = false;
                    this.getDataCuestionario();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Auditoría actualizada correctamente',
                        pos: 'top-right',
                        timeout: 4000
                    });
                }).catch(e => {
                    console.log(e);
                    this.editarCuestionario = false;
                    this.updating = false;
                })
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-default:disabled,
    .uk-button-default[disabled] {
        background-color: $color-grey-disabled;
        color: $color-black;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
