<template>
    <div class="uk-grid uk-margin-medium-top">
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-user-tie"></i> Enlaces
                </span>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-top">
            <div class="uk-grid">
                <div class="uk-width-1-1" v-if="error !== null">
                    <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                        {{ error }}
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        Enlace asignado a la auiditoría
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-1@m">
                            <div class="uk-form-controls">
                                <select class="uk-select uk-border-rounded uk-text-uppercase"
                                        v-model="enlaceAsignado"
                                        :disabled="!editarEnlace">
                                    <option value="">Selecciona un enlace</option>
                                    <option :value="enlace.Nombre"
                                            v-for="(enlace, index) in enlaces"
                                            :key="index">
                                        {{enlace.Nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        Accesos
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-1@m" v-if="enlaceAsignadoTemporal === '' || typeof enlaceAsignadoTemporal === 'undefined'">
                            <span class="uk-text-uppercase uk-text-danger uk-text-bold">
                                No se ha asignado un enlace
                            </span>
                        </div>
                        <div class="uk-width-1-1@m" v-else>
                            <form action="/api/desempenio/descargar-accesos"
                                  method="get"
                                  class="uk-display-inline"
                                  target="_blank">
                                <input type="hidden" name="enlace" :value="enlaceAsignadoTemporal">
                                <input type="hidden" name="auditoria" :value="auditoria.AuditoriaID">
                                <input type="hidden" name="api_token" :value="apiToken">
                                <button type="submit"
                                        class="uk-button uk-button-default uk-border-rounded">
                                    Ver Accesos <i class="fas fa-file-pdf"></i>
                                </button>
                            </form>
                            <button type="button"
                                    class="uk-button uk-button-default uk-border-rounded"
                                    @click="enviarAccesos"
                                    :disabled="sending">
                                Envíar Accesos
                                <i class="fas fa-share" v-show="sending === false"></i>
                                <span uk-spinner="ratio: 0.7" v-show="sending === true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!--<div class="uk-width-1-1@m">
                    <router-link
                        :to="{name: 'modulo-enlaces-control-interno-crear',
                            params: {EnteID : auditoria.EnteID}
                        }"
                        tag="a" class="uk-button uk-button-default uk-border-rounded"
                    >
                        Agregar nuevo enlace <i class="fas fa-user-plus"></i>
                    </router-link>
                </div>-->
                <div class="uk-width-1-1@m uk-margin-small-top uk-text-right">
                    <template v-if="!editarEnlace">
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="editarEnlace = true">
                            Actualizar
                        </button>
                    </template>
                    <template v-else>
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded"
                                @click="cancelEdit">
                            Cancelar
                        </button>
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="saveEnlace">Guardar <span uk-spinner="ratio: 0.6" v-show="updating"></span></button>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EnlacesAuditoria",
        props: ['auditoria'],
        created() {
            this.getEnlaceAsignado();
            this.getEnlacesEnte();
        },
        mounted() {
            this.getApiToken();
        },
        data() {
            return {
                error: null,
                editarEnlace: false,
                updating: false,
                enlaceAsignado: '',
                enlaceAsignadoTemporal: '',
                enlaces: [],
                apiToken: null,
                sending: false
            }
        },
        methods: {
            getApiToken(){
                this.apiToken = localStorage.getItem('api_token');
            },
            cancelEdit() {
                this.error = null;
                this.editarEnlace = false;
                this.enlaceAsignado = this.enlaceAsignadoTemporal;
            },
            getEnlaceAsignado() {
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/get-enlace-asignado', data).then(resp => {
                    if(_.isObject(resp.data.enlace_asignado)) {
                        this.enlaceAsignadoTemporal = resp.data.enlace_asignado.NombreCompleto;
                    } else {
                        this.enlaceAsignadoTemporal = resp.data.enlace_asignado;
                    }
                    this.enlaceAsignado = JSON.parse(JSON.stringify(this.enlaceAsignadoTemporal));
                }).catch(e => {
                    console.log(e);
                })
            },
            getEnlacesEnte() {
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/get-enlaces-ente', data).then(resp => {
                    this.enlaces = resp.data.enlaces;
                }).catch(e => {
                    console.log(e);
                })
            },
            saveEnlace() {
                if(this.enlaceAsignado === '') {
                    this.error = 'El enlace seleccionado no es válido';
                    return false;
                }
                this.updating = true;
                let data = {
                    enlace: this.enlaceAsignado,
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/update-enlace-auditoria', data).then(resp => {
                    this.editarEnlace = false;
                    this.updating = false;
                    this.getEnlaceAsignado();
                    this.getEnlacesEnte();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Auditoría actualizada correctamente',
                        pos: 'top-right',
                        timeout: 4000
                    });
                }).catch(e => {
                    console.log(e);
                    this.editarEnlace = false;
                    this.updating = false;
                })
            },
            enviarAccesos() {
                this.sending = true;
                let data = {
                    enlace: this.enlaceAsignadoTemporal,
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/enviar-accesos', data).then(resp => {
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Enlaces de acceso envíados',
                        pos: 'top-right',
                        timeout: 4000
                    });
                    this.sending = false;
                }).catch(e => {
                    console.log(e);
                    this.sending = false;
                });

            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-default:disabled,
    .uk-button-default[disabled] {
        background-color: $color-grey-disabled;
        color: $color-black;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
