<template>
    <div class="uk-grid uk-margin-medium-top">
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-file-alt"></i> Datos generales
                </span>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-top">
            <div class="uk-grid">
                <div class="uk-width-1-1" v-if="error !== null">
                    <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                        {{ error }}
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        No. Auditoría
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-1@m">
                            <div class="uk-form-controls">
                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                       v-model="auditoria.NoAuditoria"
                                       :disabled="!editarGenerales"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        Titular
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-1@m">
                            <div class="uk-form-controls">
                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                       v-model="auditoria.Titular"
                                       :disabled="!editarGenerales"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TODO Queda pendiente habilitar para la auditoria de desempeño-->
                <!--<div class="uk-width-1-1@m uk-margin-small-top uk-text-right">
                    <template v-if="!editarGenerales">
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="editarGenerales = true">
                            Actualizar
                        </button>
                    </template>
                    <template v-else>
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded"
                                @click="cancelEdit">
                            Cancelar
                        </button>
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="saveGenerales">Guardar <span uk-spinner="ratio: 0.6" v-show="updating"></span></button>
                    </template>
                </div>-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GeneralesAuditoria",
        props: ['auditoria'],
        mounted() {
            this.setGenerales();
        },
        data() {
            return {
                editarGenerales: false,
                noAuditoriaTemporal: '',
                titularAuditoriaTemporal: '',
                updating: false,
                error: null
            }
        },
        methods: {
            cancelEdit() {
                this.editarGenerales = false;
                this.auditoria.NoAuditoria = this.noAuditoriaTemporal;
                this.auditoria.Titular = this.titularAuditoriaTemporal;
            },
            setGenerales() {
                this.noAuditoriaTemporal = JSON.parse(JSON.stringify(this.auditoria.NoAuditoria));
                this.titularAuditoriaTemporal = JSON.parse(JSON.stringify(this.auditoria.Titular));
            },
            saveGenerales() {
                this.error = null;
                if(this.auditoria.Titular === '') {
                    this.error = 'El titular no es válido';
                    return false;
                }
                if(this.auditoria.NoAuditoria === '') {
                    this.error = 'El número de auditoría no es válido';
                    return false;
                }
                let data = {
                    auditoria: this.auditoria.AuditoriaID,
                    noAuditoria: this.auditoria.NoAuditoria,
                    titularAuditoria: this.auditoria.Titular
                };
                this.updating = true;
                axios.post('/api/editar-generales', data).then(resp => {
                    this.noAuditoriaTemporal = JSON.parse(JSON.stringify(this.auditoria.NoAuditoria));
                    this.titularAuditoriaTemporal = JSON.parse(JSON.stringify(this.auditoria.Titular));
                    this.editarGenerales = false;
                    this.updating = false;
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Auditoría actualizada correctamente',
                        pos: 'top-right',
                        timeout: 4000
                    });
                }).catch(e => {
                    console.log(e);
                    this.editarGenerales = false;
                    this.updating = false;
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
