<template>
    <div class="uk-grid uk-margin-medium-top">
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="far fa-file-alt"></i> Expediente de Auditoría
                </span>
            </div>
        </div>
        <div class="uk-width-1-1 uk-margin-small-top">
            <table class="uk-table uk-margin-small-top uk-table-small uk-text-small uk-table-divider uk-table-striped uk-table-middle uk-table-hover"
                   v-if="isNullFilesCrp === false">
                <caption class="uk-text-uppercase uk-text-center uk-caption uk-padding-small uk-text-bold">
                    PERIODO DE CÉDULA DE RESULTADOS PRELIMINARES
                </caption>
                <tbody>
                <tr class="uk-text-uppercase">
                    <td class="uk-width-small">1</td>
                    <td class="uk-width-2xlarge"><i class="far fa-file-pdf fa-lg"></i> Respuestas del cuestionario</td>
                    <td class="uk-width-auto uk-flex">
                        <span class="uk-text-button-options uk-margin-small-right uk-border-rounded uk-padding-small"
                              uk-tooltip="VER DOCUMENTO"
                              @click="previewRespuestas">
                            <i class="far fa-eye"></i>
                        </span>
                        <span class="uk-text-button-options uk-border-rounded"
                              uk-tooltip="DESCARGAR DOCUMENTO"
                              @click="downloadRespuestas">
                            <i class="fas fa-download"></i>
                        </span>
                        <form id="form-descargar-respuestas"
                                     action="/api/desempenio/descargar-respuestas-crp"
                                     method="post"
                                     class="uk-hidden"
                                     target="_blank">
                        <input type="hidden" id="api_token" name="api_token" :value="getApiToken">
                        <input type="hidden" name="auditoria" :value="auditoria.AuditoriaID">
                    </form>
                    </td>
                </tr>
                <tr class="uk-text-uppercase">
                    <td class="uk-width-small">1</td>
                    <td class="uk-width-2xlarge"><i class="far fa-file-pdf fa-lg"></i> Acuse de recibo</td>
                    <td class="uk-width-auto uk-flex">
                        <span class="uk-text-button-options uk-margin-small-right uk-border-rounded uk-padding-small"
                              uk-tooltip="VER DOCUMENTO"
                              @click="previewAcuse">
                            <i class="far fa-eye"></i>
                        </span>
                        <span class="uk-text-button-options uk-border-rounded"
                              uk-tooltip="DESCARGAR DOCUMENTO"
                              @click="downloadAcuse">
                            <i class="fas fa-download"></i>
                        </span>
                        <form id="form-descargar-acuse"
                              action="/api/desempenio/descargar-acuse-crp"
                              method="post"
                              class="uk-hidden"
                              target="_blank">
                            <input type="hidden" name="api_token" :value="getApiToken">
                            <input type="hidden" name="auditoria" :value="auditoria.AuditoriaID">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="uk-table uk-margin-small-top uk-table-small uk-text-small uk-table-divider uk-table-striped" v-else>
                <caption class="uk-text-uppercase uk-text-center uk-caption uk-padding-small uk-text-bold">
                    PERIODO DE CÉDULA DE RESULTADOS PRELIMINARES
                </caption>
                <tbody>
                <tr>
                    <td class="uk-text-center uk-text-uppercase">
                        No se encontraron documentos
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-width-1-1 uk-margin-small-top">

        </div>
    </div>
</template>

<script>
    export default {
        name: "PapelesAuditoria",
        props: ['auditoria'],
        created() {
            this.getFilesCrp();
        },
        data() {
            return {
                filesCrp: [],
                ejercicio: 0
            }
        },
        methods: {
            getFilesCrp() {
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                }
                axios.post('/api/desempenio/get-files-crp', data).then(resp => {
                    if(_.isNull(resp.data.files)) {
                        this.filesCrp = null
                    } else {
                        this.filesCrp = resp.data.files;
                        this.ejercicio = resp.data.ejercicio;
                    }
                }).catch(e => console.log(e));
            },
            previewRespuestas() {
                let url = window.location;
                let baseUrl = url .protocol + "//" + url.host+"/panel/auditoria-desempenio/preview-respuestas/"+ this.ejercicio + "/" +this.auditoria.AuditoriaID + "/desempenio";
                window.open(baseUrl);
            },
            previewAcuse() {
                let url = window.location;
                let baseUrl = url .protocol + "//" + url.host+"/panel/auditoria-desempenio/preview-acuse/"+ this.ejercicio + "/" +this.auditoria.AuditoriaID + "/desempenio";
                window.open(baseUrl);
            },
            downloadRespuestas() {
                let form = $('#form-descargar-respuestas');
                form.submit();
            },
            downloadAcuse() {
                let form = $('#form-descargar-acuse');
                form.submit();
            }
        },
        computed: {
            isNullFilesCrp() {
                return _.isNull(this.filesCrp);
            },
            getApiToken(){
                return localStorage.getItem('api_token');
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-caption {
        background-color: #f5f5f5;
    }
    .uk-text-button-options{
        border: 1px $color-primary solid;
        color: $color-primary;
        padding: 3px 6px;
        &:hover {
            background-color: $color-primary;
            color: $color-white;
            cursor: pointer;
        }
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
