<template>
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-margin-medium-bottomd">
            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                {{ pregunta.NoPregunta }}.- {{ pregunta.Pregunta }}
            </div>
            <div class="uk-margin">
                <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                <vue-ckeditor type="classic"
                              v-model.trim="respuesta"
                              :editors="editors"
                              :config="editors.config">
                </vue-ckeditor>
            </div>
            <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                <span uk-spinner="ratio: 2"></span><br>
                Cargando anexos...
            </div>
            <template v-else>
                <documentacion-anexada :anexos="anexos" v-if="anexos.length > 0" :pregunta="pregunta"></documentacion-anexada>
            </template>
            <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                <label class="uk-form-label uk-text-uppercase uk-text-primary">
                    Esta Documentación fue precargada. para guardarla de clic en el botón guardar respuesta.
                </label>
                <ul class="uk-list uk-list-bullet">
                    <li v-for="(document, index) in documentosSeleccionadosDes" :key="index">
                        <i :class="setFileIcon(document.name)"></i> {{ document.name }} - {{ document.size }}MB
                    </li>
                </ul>
            </div>
            <div class="uk-margin">
                <div class="uk-text-right">
                    <button class="uk-button uk-button-default uk-border-rounded" @click="trigerFileElement">
                        Agregar documentación a la respuesta <i class="fas fa-file-upload"></i>
                    </button>
                    <br>
                    <span class="uk-text-small uk-text-danger uk-text-center uk-text-bold">
                                Tamaño máximo de documentos 10MB C/U
                            </span>
                </div>
                <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                <div class="uk-width-1-3">
                    <button type="button"
                            class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                            :disabled="preguntaAnteriorEmpty"
                            @click="goToAfter">
                        <i class="fas fa-angle-left"></i> Ir a pregunta anterior
                    </button>
                </div>
                <div class="uk-width-1-3">
                    <button type="button"
                            class="uk-button uk-button-primary uk-border-rounded uk-button-large uk-width-1-1"
                            @click="sendDataOk"
                            :disabled="loading">
                        Guardar respuesta <i class="fas fa-check"></i>
                    </button>
                </div>
                <div class="uk-width-1-3">
                    <button type="button"
                            class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                            :disabled="preguntaSiguienteEmpty"
                            @click="goToBefore">
                        Ir a pregunta siguiente <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DocumentacionAnexada from '@/js/components/auditoria_desempenio/DocumentacionAnexada.vue';
    import filesHelper from '@/js/helpers/files';
    let moment = require('moment');
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import VueCkeditor from 'vue-ckeditor5';
    require('@ckeditor/ckeditor5-build-classic/build/translations/es.js');
    export default {
        name: "PreguntaCuestionario",
        props: ['preguntas', 'auditoria'],
        components: {
            DocumentacionAnexada,
            'vue-ckeditor': VueCkeditor.component,
        },
        data() {
            return {
                respuesta: '',
                respuestaTemp: '',
                documentosSeleccionados:[],
                documentosSeleccionadosDes:[],
                loading: false,
                editors: {
                    classic: ClassicEditor,
                    config: {
                        toolbar: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'link',
                            'numberedList',
                            'bulletedList',
                            'blockQuote',
                            '|',
                            'undo',
                            'redo'],
                        language: 'es',
                    },
                }
            }
        },
        methods:{
            previewFiles(event) {
                this.documentosSeleccionadosDes = [];
                let files = event.target.files;
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    let size = (file.size / 1000000).toFixed(2);
                    let obj = {
                        name: file.name,
                        size: size,
                        type: file.type
                    }
                    this.documentosSeleccionadosDes.push(obj);
                }
                let exededSize = false;
                for(let j = 0; j < this.documentosSeleccionadosDes.length; j++) {
                    let file = this.documentosSeleccionadosDes[j];
                    if(exededSize === false) {
                        if(file.size > 10) {
                            exededSize = true;
                        }
                    }
                }
                if(exededSize) {
                    this.documentosSeleccionados = [];
                    this.documentosSeleccionadosDes = [];
                    alert('El tamaño máximo por documento es de hasta 10MB, alguno de los documentos excede el limite máximo');
                } else {
                    this.documentosSeleccionados = files;
                }
            },
            trigerFileElement() {
                var el = document.getElementsByClassName("fileElement");
                if (el[0]) {
                    el[0].click();
                }
            },
            setFileIcon(nameFile) {
                if(nameFile.includes('.pdf')) {
                    return 'fas fa-file-pdf';
                } else if(nameFile.includes('.docx')) {
                    return 'fas fa-file-word';
                } else if(nameFile.includes('.xlsx')) {
                    return 'fas fa-file-excel';
                } else if(nameFile.includes('.zip') || nameFile.includes('.rar')) {
                    return 'fas fa-file-archive';
                } else if(nameFile.includes('.jpg') || nameFile.includes('.png')) {
                    return 'fas fa-image';
                } else {
                    return 'fas fa-file';
                }
            },
            sendDataOk() {
                if(this.respuesta === '' || _.isNull(this.respuesta)) {
                    alert("LA RESPUESTA ES REQUERIDA");
                    return false;
                } else {
                    let data = {
                        api_token: localStorage.getItem('api_token'),
                        pregunta: this.pregunta,
                        respuesta: this.respuesta,
                        auditoriaId: this.auditoria.AuditoriaID
                    };
                    let docs = this.documentosSeleccionados;
                    if(docs.length > 0) {
                        data.files = docs;
                    }
                    let new_data = filesHelper.makeFormData(data);
                    this.loading = true;
                    axios.post('/api/desempenio/save-respuesta', new_data).then(resp => {
                        localStorage.setItem('respuesta_id', resp.data.respuesta_id);
                        this.loading = false;
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Pregunta guardada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.$emit("reloadpreguntas");
                        this.documentosSeleccionados = [];
                        this.documentosSeleccionadosDes = [];
                        this.$store.dispatch('getAnexosDesempenio', {
                            pregunta: this.pregunta
                        });
                        this.respuestaTemp = '';
                    }).catch(e => {
                        console.log(e);
                        this.loading = false;
                    });
                }
            },
            goToAfter() {
                this.$store.commit('updatePregunta', this.preguntaAnterior);
                this.$store.dispatch('getAnexosDesempenio', {
                    pregunta: this.preguntaAnterior
                });
                if(this.preguntaAnterior.TipoPreguntaID === 3) {
                    setTimeout(() => {
                        this.getOpcionesPregunta();
                    }, 500);
                }
                this.setPreguntaAntSig(this.preguntaAnterior);
                this.documentosSeleccionados = [];
                this.documentosSeleccionadosDes = [];
                this.subrespuestaTemp = '';
                var elmnt = document.getElementById("pregunta_section");
                elmnt.scrollIntoView();
            },
            goToBefore() {
                this.$store.commit('updatePregunta', this.preguntaSiguiente);
                this.$store.dispatch('getAnexosDesempenio', {
                    pregunta: this.preguntaSiguiente
                });
                if(this.preguntaSiguiente.TipoPreguntaID === 3) {
                    setTimeout(() => {
                        this.getOpcionesPregunta();
                    }, 500);
                }
                this.setPreguntaAntSig(this.preguntaSiguiente);
                this.documentosSeleccionados = [];
                this.documentosSeleccionadosDes = [];
                this.subrespuestaTemp = '';
                var elmnt = document.getElementById("pregunta_section");
                elmnt.scrollIntoView();
            },
            setPreguntaAntSig(pregunta) {
                let noPregunta = pregunta.NoPregunta;
                let totalPreguntas = this.preguntas.length;
                this.preguntaAnterior = {};
                this.preguntaSiguiente = {};
                if(noPregunta === 1) {
                    this.$store.commit('updatePreguntaAnterior', {});
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[1]);
                } else if(noPregunta === totalPreguntas) {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[totalPreguntas - 2]);
                    this.$store.commit('updatePreguntaSiguiente', {});
                } else {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[noPregunta - 2]);
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[noPregunta]);
                }
            },
        },
        computed: {
            pregunta() {
                let data_pregunta = this.$store.getters.dataPregunta;
                this.respuesta = (_.isNull(data_pregunta.Respuesta)) ? '' : data_pregunta.Respuesta;
                this.respuestaTemp = JSON.parse(JSON.stringify(data_pregunta.Respuesta));
                return data_pregunta;
            },
            preguntaAnterior: {
                get () {
                    return this.$store.getters.dataPreguntaAnterior;
                },
                set() {}
            },
            preguntaSiguiente: {
                get () {
                    return this.$store.getters.dataPreguntaSiguiente;
                },
                set() {}
            },
            anexos() {
                return this.$store.getters.dataAnexosDesempenioPregunta;
            },
            preguntaAnteriorEmpty() {
                return (_.isEmpty(this.preguntaAnterior));
            },
            preguntaSiguienteEmpty() {
                return (_.isEmpty(this.preguntaSiguiente));
            },
            getLoadingAnexos() {
                return this.$store.getters.loadingAnexosPregunta;
            },
            setRespuesta() {
                console.log(this.pregunta);
            }
        },
        watch: {
            preguntas(val) {
                let noPregunta = this.pregunta.NoPregunta;
                let i = 0;
                let encontrado = false;
                while (i < val.length && encontrado === false) {
                    if(val[i].NoPregunta === noPregunta) {
                        encontrado = true;
                    } else {
                        i = i + 1;
                    }
                }
                this.$store.commit('updatePregunta', val[i]);
            },
        },
    }

</script>

<style lang="scss" scoped>
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
