<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Adeudos</span></li>
                   </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Adeudos del declarante</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-file-invoice-dollar"></i> Adeudos / Pasivos (Situación actual)
                                        </span>
                                    </div>
                                    <div class="uk-width-1-2 uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-small uk-border-rounded uk-button-danger"
                                                uk-tooltip="DE CLIC SI NO CUENTA CON INVERSIONES"
                                                @click="marcarNinguno">
                                            Ninguno
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-1@m" v-if="adeudos.length === 0">
                                <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small" v-if="formato === 0">
                                    <button type="button"
                                            class="uk-button uk-button-default uk-border-rounded"
                                            @click="formato = 1">
                                        Agregar inversión <i class="fas fa-file-invoice-dollar"></i>
                                    </button>
                                </div>
                                <div v-else>
                                    <adeudo-form :cat_tipo_titular="cat_tipo_titular"
                                                 :cat_tipo_adeudo="cat_tipo_adeudo"
                                                 :adeudo="adeudo"
                                                 @cancel="cancelFormato"
                                                 @reloadData="reloadData"></adeudo-form>
                                </div>
                            </div>
                            <div class="uk-width-1-1@m" v-else>
                                <template v-if="ischeckedTerminate === 0">
                                    <button type="button"
                                            class="uk-float-right uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                            @click="marcarTerminada"
                                            v-if="formato === 0">
                                        Marcar sección como terminada <i class="far fa-check-square"></i>
                                    </button>
                                </template>
                                <button type="button"
                                        class="uk-float-right uk-button uk-button-default uk-border-rounded"
                                        @click="formato = 1"
                                        v-if="formato === 0">
                                    Agregar adeudo <i class="fas fa-file-invoice-dollar"></i>
                                </button>
                                <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-table-middle"
                                       v-if="formato === 0">
                                    <thead>
                                        <tr>
                                            <th class="uk-text-center">#</th>
                                            <th class="uk-width-auto">Tipo de adeudo / pasivo</th>
                                            <th class="uk-width-auto uk-text-center">Titular</th>
                                            <th class="uk-width-auto uk-text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(adeudo, index) in adeudos" :key="index">
                                            <td class="uk-text-center">
                                                {{ index + 1 }}
                                            </td>
                                            <td class="uk-text-uppercase">
                                                {{ setAdeudo(adeudo.TipoAdeudoID) }}
                                            </td>
                                            <td class="uk-text-uppercase uk-text-center">
                                                {{ adeudo.Titular }}
                                            </td>
                                            <td class="uk-text-right">
                                                <button type="button"
                                                        class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                                        @click="editarAdeudo(adeudo)">
                                                    Editar registro
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                            </td>
                                            <td class="uk-text-right">
                                                <button type="button"
                                                        class="uk-button uk-button-danger uk-button-small uk-border-rounded"
                                                        @click="borrarAdeudo(adeudo)"
                                                        uk-tooltip="title: BORRAR REGISTRO; pos: right">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div v-else>
                                    <adeudo-form :cat_tipo_titular="cat_tipo_titular"
                                                 :cat_tipo_adeudo="cat_tipo_adeudo"
                                                 :adeudo="adeudo"
                                                 @cancel="cancelFormato"
                                                 @reloadData="reloadData"></adeudo-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import AdeudoForm from "@/js/views/dashboard/declaracion/components/AdeudoForm";
export default{
    name: "Adeudos",
    components: {
        AdeudoForm
    },
    data(){
        return{
            cat_tipo_titular: [],
            cat_tipo_adeudo: [],
            adeudos: [],
            adeudo: {},
            formato: 0
        }
    },
     created(){
        this.getCatTipoTitulares();
        this.getDataDeclaracion();
        this.getCatTipoAdeudo();
        this.getAdeudos();
    },
     methods:{
        getDataDeclaracion() {
            this.$store.dispatch('getDatosDeclaracion');
        },
        getCatTipoTitulares(){
            axios.get('/api/declaracion/get-catalogo-tipo-titulares').then(resp =>{
                this.cat_tipo_titular = resp.data.catalogo_tipo_titular;
            }).catch(e => {
                console.log(e);
            })
        },
        getCatTipoAdeudo(){
            axios.get('/api/declaracion/get-catalogo-tipo-adeudo').then(resp =>{
                this.cat_tipo_adeudo = resp.data.catalogo_tipo_adeudo;
            }).catch(e => {
                console.log(e);
            })
        },
        getAdeudos(){
            axios.get('/api/declaracion/get-adeudos').then(resp =>{
                this.adeudos = resp.data.adeudos;
            }).catch(e =>{
                console.log(e);
            })
        },
         marcarTerminada() {
             let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR LA SECCION DE ADEUDOS COMO TERMINADA?");
             if(result) {
                 let data = {
                     declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                 };
                 axios.post('/api/declaracion/marcar-terminada-adeudos', data).then(resp => {
                     location.reload();
                     UIkit.notification({
                         message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                         pos: 'top-right',
                         timeout: 3000
                     });
                 }).catch(e => {
                     console.log(e);
                 });
             } else{
                 return false;
             }
         },
         marcarNinguno() {
             let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR COMO NINGUNO SUS ADEUDOS? SE PERDERÁ LA INFORMACIÓN PREVIAMENTE REGISTRADA");
             if(result) {
                 let data = {
                     declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                 };
                 axios.post('/api/declaracion/marcar-ninguna-adeudos', data).then(resp => {
                     this.reloadData();
                     UIkit.notification({
                         message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                         pos: 'top-right',
                         timeout: 3000
                     });
                 }).catch(e => {
                     console.log(e);
                 });
             } else{
                 return false;
             }
         },
         borrarAdeudo(adeudo) {
             let result = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
             if(result) {
                 let data = {adeudo_id: adeudo.AdeudoID};
                 axios.post('/api/declaracion/borrar-adeudo', data).then(resp => {
                     this.reloadData();
                     UIkit.notification({
                         message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                         pos: 'top-right',
                         timeout: 3000
                     });
                 }).catch(e => {
                     console.log(e);
                 });
             } else{
                 return false;
             }
         },
         editarAdeudo(adeudo) {
             this.formato = 1;
             this.adeudo = adeudo;
         },
         reloadData() {
             this.getAdeudos();
         },
         setAdeudo(TipoAdeudoID) {
             if(this.cat_tipo_adeudo.length > 0){
                 let tipo_adeudo = this.cat_tipo_adeudo.filter((item) => {
                     return item.TipoAdeudoID === TipoAdeudoID
                 });
                 return tipo_adeudo[0].Nombre;
             } else {
                return '';
             }
         },
         cancelFormato() {
             this.formato = 0;
             this.adeudo = {};
         },
    },
    computed:{
        showTerceros(){
            if(this.tipo_titular != 'DECLARANTE' && this.tipo_titular != ''){
                return true;
            }else{
                return false;
            }
        },
        getDatosDeclaracion(){
            return this.$store.getters.getDatosDeclaracion;
        },
        ischeckedTerminate(){
            let secciones = this.getDatosDeclaracion.secciones;
            if(_.isUndefined(secciones) === false) {
                let seccion   = secciones.filter((item) => {
                    return item.Nombre === 'ADEUDOS/PASIVOS'
                });
                return seccion[0].EstadoActual;
            }
        }
    },
    watch: {
        'getDatosDeclaracion': function (val) {
            let direccionID = val.inf_gral[0].DireccionID;
            if(_.isNull(direccionID) === false) {
                this.getDireccion(direccionID);
            } else {
                return false;
            }
        },
        'tipo_inversion': function(val){
            console.log(val);
            if (val != ''){
                this.getCatActivos(val);
            }else{
                console.log('Error al cargar el catalogo de activos');
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
