<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Datos generales</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Datos generales del declarante</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <form @submit.prevent="save">
                                <!--Primera sección-->
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                    <span class="uk-text-bold">
                                        <i class="fas fa-user"></i> Datos generales
                                    </span>
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1 uk-margin-small-bottom">
                                        <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="nombre"
                                                   type="text"
                                                   v-model.trim="user.Nombres"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="primerapellido">Primer apellido *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="primerapellido"
                                                   type="text"
                                                   v-model.trim="user.PrimerApellido"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="segundoapellido">Segundo apellido</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="segundoapellido"
                                                   type="text"
                                                   v-model.trim="user.SegundoApellido"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="curp">CURP *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="curp"
                                                   type="text"
                                                   v-model.trim="user.CURP"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="rfc">RFC *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="rfc"
                                                   type="text"
                                                   v-model.trim="setRfc"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="homoclave">Homoclave *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="homoclave"
                                                   type="text"
                                                   disabled
                                                   v-model.trim="setHomoclave">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="correoinstitucional">Correo electrónico institucional *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="correoinstitucional"
                                                   type="email"
                                                   v-model.trim="user.Email"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="correopersonal">Correo electrónico personal *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="correopersonal"
                                                   type="email"
                                                   required
                                                   v-model.trim="user.EmailPersonal">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="numerocasa">Número telefónico de casa</label>
                                        <div class="uk-form-controls">
                                            <cleave id="numerocasa"
                                                    v-model.trim.trim="user.TelefonoParticular"
                                                    :options="optionsCleave"
                                                    class="uk-input uk-border-rounded"></cleave>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="numerocelular">Número celular personal *</label>
                                        <div class="uk-form-controls">
                                            <cleave id="numerocelular"
                                                    v-model.trim.trim="user.TelefonoCelular"
                                                    :options="optionsCleave"
                                                    required
                                                    class="uk-input uk-border-rounded"></cleave>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="estadocivil">Situación personal/ estado civil *</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-border-rounded" id="estadocivil" v-model.trim="user.EstadoCivilID" required>
                                                <option :value="null">Selecciona una opción</option>
                                                <option v-for="(catalogo, index) in catalogo_estado_civil.catalogo"
                                                    class="uk-radio" v-bind:value="catalogo.EstadoCivilID"
                                                    type="radio" name="radio2" checked :key="index">{{catalogo.EstadoCivil}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div v-if="user.EstadoCivilID !== 1 && user.EstadoCivilID !== null" class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="regimenmatrimonial">Régimen matrimonial *</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-border-rounded" id="regimenmatrimonial" v-model.trim="user.RegimenMatrimonial" required>
                                                <option :value="null">Selecciona una opción</option>
                                                <option :value="1">Sociedad conyugal</option>
                                                <option :value="2">Separación de bienes</option>
                                                <option :value="3">Otro</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div v-if="user.RegimenMatrimonial == 3 && user.EstadoCivilID !== 1" class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="regimen-especifico">Especifique régimen matrimonial *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="regimen-especifico"
                                                   type="text"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="pais">País de nacimiento *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="pais"
                                                   type="text"
                                                   v-model.trim="user.PaisNacimiento"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nacionalidad">Nacionalidad *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="nacionalidad"
                                                   type="text"
                                                   v-model.trim="user.Nacionalidad"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="observaciones">Aclaraciones / Observaciones</label>
                                        <div class="uk-form-controls">
                                            <textarea rows="3" class="uk-textarea uk-border-rounded uk-text-uppercase" v-model.trim="user.Observaciones" id="observaciones"></textarea>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                                        <button class="uk-button uk-button-primary uk-border-rounded"
                                                :disabled="loadingBtn"
                                            type="submit">
                                            <span v-show="loadingBtn === false">Guardar</span>
                                            <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Cleave from 'vue-cleave-component';
    require('cleave.js/dist/addons/cleave-phone.mx.js');
    export default {
        name:"DatosGenerales",
        components: {
            Cleave
        },
        data(){
            return{
                user: {},
                catalogo_estado_civil:[],
                optionsCleave: {
                    phone: true,
                    phoneRegionCode: 'MX'
                },
                regimenTemporal: '',
                loadingBtn: false
            }
        },
        created(){
            this.getDatos();
            this.getCatEstCivil();
            this.getDataDeclaracion();
        },
        methods:{
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            getDatos(){
                axios.get('/api/declaracion/get-datos-declaracion').then(resp => {
                    this.user = resp.data.datos;
                    if(_.isNull(this.user.RegimenMatrimonial) === false) {
                        if(this.user.RegimenMatrimonial.length > 1) {
                            this.regimenTemporal = JSON.parse(JSON.stringify(this.user.RegimenMatrimonial));
                            this.user.RegimenMatrimonial = "3";
                            setTimeout(() => {
                                $("#regimen-especifico").val(this.regimenTemporal);
                            }, 500);
                        } else {
                            this.regimenTemporal = '';
                            this.user.RegimenMatrimonial = this.user.RegimenMatrimonial;
                        }
                    }
                    this.user.PaisNacimiento = (_.isNull(this.user.PaisNacimiento)) ? 'México' : this.user.PaisNacimiento;
                    this.user.Nacionalidad   = (_.isNull(this.user.Nacionalidad)) ? 'Mexicana' : this.user.Nacionalidad;
                }).catch(e => {
                    console.log(e);
                })
            },
            getCatEstCivil(){
                axios.get('/api/declaracion/get-catalogo-estado_civil').then(resp =>{
                    this.catalogo_estado_civil = resp.data;
                }).catch(e => {
                    console.log(e);
                })
            },
            save(){
                if (this.user.EstadoCivilID == 1){
                    this.user.EstadoCivilID = this.user.EstadoCivilID;
                }else{
                    if(this.user.RegimenMatrimonial == 3){
                        this.user.EstadoCivilID = this.user.EstadoCivilID;
                        this.user.RegimenMatrimonial = $("#regimen-especifico").val();
                    }
                    else{
                        this.user.EstadoCivilID = this.user.EstadoCivilID;
                        this.user.RegimenMatrimonial = this.user.RegimenMatrimonial;
                    }
                }
                this.user.declaracion_id = this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                let data = {
                    info: this.user
                };

                this.loadingBtn = true;
                axios.post('/api/declaracion/saveDatosPersonales',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.loadingBtn = false;
                    this.getDatos();
                }).catch(e => {
                    console.log(e);
                    this.loadingBtn = false;
                    alert("OCURRIO UN ERROR | CONTACTA A LA UNIDAD DE TECNOLOGÍAS DE INFORMACIÓN");
                })
            },
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            setRfc() {
                if(_.isUndefined(this.user.RFC)) {
                    return '';
                } else {
                    return this.user.RFC.substr(0, 10);
                }
            },
            setHomoclave() {
                if(_.isUndefined(this.user.RFC)) {
                    return '';
                } else {
                    return this.user.RFC.substr(10, 13);
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
            .uk-button-primary:disabled,
            .uk-button-primary[disabled] {
                background-color: $color-grey-disabled !important;
                color: $color-black;
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-input, .uk-select {
            text-transform: uppercase;
        }
        #correoinstitucional, #correopersonal {
            text-transform: none !important;
        }
    }
</style>
