<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Datos del cargo</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Datos del cargo del declarante</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <form @submit.prevent="save">
                                <!--Primera sección-->
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                    <span class="uk-text-bold">
                                        <i class="fas fa-briefcase"></i> Cargo del declarante
                                    </span>
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1 uk-margin-small-bottom">
                                        <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
                                    </div>
                                    <div class="uk-width-1-5@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nivel">Nivel / orden de gobierno *</label>
                                        <div class="uk-form-controls">
                                        </div>
                                        <select class="uk-select uk-border-rounded uk-text-uppercase"
                                                id="nivel"
                                                v-model="cargo.orden"
                                                disabled>
                                            <option :value="orden.NivelOrdenID" v-for="(orden, index) in ordenes_gobierno" :key="index">
                                                {{ orden.NombreOrden }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="uk-width-1-5@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="ambito">Ámbito público *</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-border-rounded uk-text-uppercase"
                                                    id="ambito"
                                                    v-model="cargo.ambito"
                                                    disabled>
                                                <option :value="ambito.AmbitoID" v-for="(ambito, index) in ambitos_publicos" :key="index">
                                                    {{ ambito.NombreAmbito }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-3-5@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="ente">Nombre del ente público *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="ente"
                                                   type="text"
                                                   v-model="cargo.ente"
                                                   disabled/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="area_adscripcion">Área de adscripción *</label>
                                        <div class="uk-form-controls">
                                            <select id="area_adscripcion"
                                                    class="uk-select uk-border-rounded uk-text-uppercase"
                                                    required
                                                    v-model="cargo.area">
                                                <option value="">Selecciona una opción</option>
                                                <option :value="area.AdscripcionID" v-for="(area, index) in areas_adscripcion" :key="index">
                                                    {{ area.Nombre }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="empleo">Empleo, cargo o comisión *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="empleo"
                                                   type="text"
                                                   disabled
                                                   v-model="cargo.empleo">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nivel_cargo">Nivel del empleo, cargo o comisión *</label>
                                        <div class="uk-form-controls">
                                            <select id="nivel_cargo" class="uk-select uk-border-rounded uk-text-uppercase" v-model="cargo.nivel" required>
                                                <option value="">Selecciona una opción</option>
                                                <option :value="nivel.NivelCargoID" v-for="(nivel, index) in niveles_cargo" :key="index">
                                                    {{ nivel.Nivel }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">¿Está contratado por honorarios? *</label>
                                        <div class="uk-form-controls uk-margin-small-top">
                                            <div class="uk-grid-small uk-child-width-auto uk-grid uk-text-uppercase">
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': cargo.honorarios === 1}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           name="radio"
                                                           v-model="cargo.honorarios"
                                                           :value="1"
                                                           required>
                                                    Si
                                                </label>
                                                <br>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': cargo.honorarios === 0}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           name="radio"
                                                           v-model="cargo.honorarios"
                                                           :value="0">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Fecha de toma de posesión del empleo o cargo *</label>
                                        <div class="uk-form-controls">
                                            <flat-pickr id="fecha_ingreso"
                                                        :config="config"
                                                        class="uk-input uk-border-rounded"
                                                        v-model="cargo.fecha"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Teléfono de oficina y extensión *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="telefono"
                                                   type="text"
                                                   v-model.trim="cargo.telefono"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="funciones">Especifique función principal *</label>
                                        <div class="uk-form-controls">
                                            <textarea rows="3"
                                                      class="uk-textarea uk-border-rounded uk-text-uppercase"
                                                      v-model.trim="cargo.funciones"
                                                      id="funciones"
                                                      required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <dl class="uk-description-list">
                                    <dt>Domicilio del empleo o cargo</dt>
                                    <dd class="uk-text-uppercase uk-address-custom uk-padding-small uk-border-rounded" v-if="!isEmpty(direccion)">
                                        {{ setDireccion }}
                                    </dd>
                                    <div uk-spinner v-else></div>
                                </dl>
                                <div class="uk-width-1-1@m uk-margin-small-bottom">
                                    <label class="uk-form-label uk-text-uppercase" for="observaciones">Aclaraciones / Observaciones</label>
                                    <div class="uk-form-controls">
                                    <textarea rows="3"
                                              class="uk-textarea uk-border-rounded uk-text-uppercase"
                                              id="observaciones" v-model.trim="cargo.aclaraciones">
                                    </textarea>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                                    <button class="uk-button uk-button-primary uk-border-rounded"
                                            :disabled="loadingBtn"
                                            type="submit">
                                        <span v-show="loadingBtn === false">Guardar</span>
                                        <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Direccion from "@/js/views/dashboard/declaracion/components/Direccion.vue";
    import Cleave from 'vue-cleave-component';
    require('cleave.js/dist/addons/cleave-phone.mx.js');
    export default {
        name:"DatosCargo",
        components: {
            flatPickr,
            Direccion,
            Cleave
        },
        created() {
            this.getDatos();
            this.getDataCargo();
            this.getDataDeclaracion();
        },
        data(){
            return{
                user: {},
                loadingBtn: false,
                cargo: {
                    orden: 2,
                    ambito: 4,
                    ente: 'Órgano Superior de Auditoria y Fiscalización Gubernamental del Estado',
                    area: '',
                    nivel: '',
                    empleo: '',
                    funciones: '',
                    honorarios: '',
                    fecha: '',
                    telefono: '',
                    aclaraciones: ''
                },
                estados: [],
                areas_adscripcion: [],
                niveles_cargo: [],
                ordenes_gobierno: [],
                ambitos_publicos: [],
                direccion:{},
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                optionsCleave: {
                    phone: true,
                    phoneRegionCode: 'MX'
                },
            }
        },
        methods: {
            getDataCargo() {
                axios.get('/api/declaracion/get-data-cargo').then(resp => {
                    this.estados           = resp.data.estados;
                    this.areas_adscripcion = resp.data.areas_adscripcion;
                    this.niveles_cargo     = resp.data.niveles_cargo;
                    this.ordenes_gobierno  = resp.data.ordenes_gobierno;
                    this.ambitos_publicos  = resp.data.ambitos_publicos;
                    this.direccion         = resp.data.direccion;
                }).catch(e => {
                   console.log(e);
                    this.estados           = []
                    this.areas_adscripcion = []
                    this.niveles_cargo     = []
                });
            },
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            getDatos(){
                axios.get('/api/declaracion/get-datos-declaracion').then(resp => {
                    this.user = resp.data.datos;
                    this.cargo.empleo = this.user.Puesto;
                    if(_.isNull(this.user.RegimenMatrimonial) === false) {
                        if(this.user.RegimenMatrimonial.length > 1) {
                            this.regimenTemporal = JSON.parse(JSON.stringify(this.user.RegimenMatrimonial));
                            this.user.RegimenMatrimonial = "3";
                            setTimeout(() => {
                                $("#regimen-especifico").val(this.regimenTemporal);
                            }, 500);
                        } else {
                            this.regimenTemporal = '';
                            this.user.RegimenMatrimonial = this.user.RegimenMatrimonial;
                        }
                    }
                    this.user.PaisNacimiento = (_.isNull(this.user.PaisNacimiento)) ? 'México' : this.user.PaisNacimiento;
                    this.user.Nacionalidad   = (_.isNull(this.user.Nacionalidad)) ? 'Mexicana' : this.user.Nacionalidad;
                }).catch(e => {
                    console.log(e);
                })
            },
            isEmpty(direccion) {
                return _.isEmpty(direccion);
            },
            save() {
                if(this.cargo.fecha === '') {
                    alert("LA FECHA DE TOMA DE POSESIÓN DEL EMPLEO O CARGO ES REQUERIDA");
                    return false;
                } else {
                    this.loadingBtn           = true;
                    this.cargo.declaracion_id = this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                    this.cargo.puesto_id      = this.user.PuestoID;
                    this.cargo.direccion_id   = this.direccion.DireccionID;
                    axios.post('/api/declaracion/save-datos-cargo', this.cargo).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.loadingBtn = false;
                        this.getDataCargo();
                    }).catch(e => {
                        console.log(e);
                        this.loadingBtn = false;
                    });
                }
            },
            getDataCargoRegistrado() {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                }
                axios.post('/api/declaracion/get-cargo-registrado', data).then(resp => {
                    let cargo = resp.data.cargo;
                    this.cargo.orden        = cargo.OrdenGobiernoID;
                    this.cargo.ambito       = cargo.AmbitoPublicoID;
                    this.cargo.ente         = cargo.Dependencia;
                    this.cargo.area         = cargo.AdscripcionID;
                    this.cargo.nivel        = cargo.NivelCargo;
                    this.cargo.funciones    = cargo.FuncionPrincipal;
                    this.cargo.honorarios   = cargo.Honorarios;
                    this.cargo.fecha        = cargo.FechaIngreso;
                    this.cargo.telefono     = cargo.Telefono;
                    this.cargo.aclaraciones = cargo.Observaciones;
                }).catch(e => {
                    console.log(e);
                });
            }
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            setDireccion() {
                let direccion = this.direccion;
                return direccion.Calle + ' #' + direccion.NumeroExterior + ', Colonia ' + direccion.Colonia + ', ' + direccion.Estado + ', ' + direccion.Municipio + '. CP ' + direccion.CodigoPostal;
            },
        },
        watch: {
            'getDatosDeclaracion': function() {
                this.getDataCargoRegistrado();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
                .uk-radio-custom {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-color: #ffffff;
                    padding-right: 15px;
                    &:hover{
                        background-color: #f5f5f5;
                        cursor: pointer;
                    }
                }
                .uk-address-custom {
                    background-color: #ffffff;
                }
                .uk-radio-custom-border {
                    border: 1px #1E87F0 solid;
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
