<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Datos de la pareja</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Datos de la pareja declarante</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-user-friends"></i> Datos de la pareja
                                        </span>
                                    </div>
                                    <div class="uk-width-1-2 uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-small uk-border-rounded uk-button-danger"
                                                uk-tooltip="DE CLIC SI NO CUENTA CON DATOS DE LA PAREJA"
                                                @click="marcarNinguno">
                                            Ninguno
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m" v-if="dependientes.length === 0">
                            <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small" v-if="formato === 0">
                                <button type="button"
                                        class="uk-button uk-button-default uk-border-rounded"
                                        @click="formato = 1">
                                    Agregar datos de pareja <i class="fas fa-user-friends"></i>
                                </button>
                            </div>
                            <div v-else>
                                <dependientes-form :cat_vinculo_personal="cat_vinculo_personal"
                                                   :estados="estados"
                                                   :dependiente="dependiente"
                                                   :is_pareja="1"
                                                   @cancel="cancelFormato"
                                                   @reloadData="reloadData"/>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m" v-else>
                            <template v-if="ischeckedTerminate === 0">
                                <button type="button"
                                        class="uk-float-right uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                        @click="marcarTerminada"
                                        v-if="formato === 0">
                                    Marcar sección como terminada <i class="far fa-check-square"></i>
                                </button>
                            </template>
                            <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-table-middle"
                                   v-if="formato === 0">
                                <thead>
                                <tr>
                                    <th class="uk-text-center">#</th>
                                    <th class="uk-width-auto">Nombre</th>
                                    <th class="uk-width-auto uk-text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(dependiente, index) in dependientes" :key="index">
                                    <td class="uk-text-center">
                                        {{ index + 1 }}
                                    </td>
                                    <td class="uk-text-uppercase">
                                        {{ dependiente.Nombres +' '+ dependiente.PrimerApellido +' '+ dependiente.SegundoApellido }}
                                    </td>
                                    <td class="uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                                @click="editarDependiente(dependiente)">
                                            Editar registro
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-danger uk-button-small uk-border-rounded"
                                                @click="borrarDependiente(dependiente.DependienteID)"
                                                uk-tooltip="title: BORRAR REGISTRO; pos: right">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-else>
                                <dependientes-form :cat_vinculo_personal="cat_vinculo_personal"
                                                   :estados="estados"
                                                   :dependiente="dependiente"
                                                   :is_pareja="1"
                                                   @cancel="cancelFormato"
                                                   @reloadData="reloadData"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DependientesForm from "./components/DependientesForm";
    export default {
        name:"DatosPareja",
        components: {
            DependientesForm
        },
        created() {
            this.getDataDeclaracion();
            this.getCatVinculoPersonal();
            this.getEstados();
            this.getDatoPareja();
        },
        data(){
            return{
                cat_vinculo_personal: [],
                estados: [],
                dependientes: [],
                dependiente: {},
                formato: 0
            }
        },
        methods: {
            getDatoPareja() {
                axios.get('/api/declaracion/get-datos-pareja').then(resp =>{
                    this.dependientes = resp.data.datos_pareja;
                }).catch(e => {
                    console.log(e);
                })
            },
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            getEstados() {
                axios.get('/api/declaracion/get-estados').then(resp => {
                    this.estados = resp.data.estados;
                }).catch(e => {
                    this.estados = [];
                    console.log(e);
                })
            },
            getCatVinculoPersonal(){
                axios.get('/api/declaracion/get-catalogo-vinculo-personal').then(resp =>{
                    let vinculos_pareja = resp.data.catalogo_vinculo_personal.filter(item => {
                       return item.Categoria === 'Pareja';
                    });
                    this.cat_vinculo_personal = vinculos_pareja;
                }).catch(e => {
                    console.log(e);
                })
            },
            marcarNinguno() {
                let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR COMO NINGUNO SUS DATOS DE PAREJA? SE PERDERÁ LA INFORMACIÓN PREVIAMENTE REGISTRADA");
                if(result) {
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                    };
                    axios.post('/api/declaracion/marcar-ninguna-datos-pareja', data).then(resp => {
                        this.reloadData();
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                    }).catch(e => {
                        console.log(e);
                    });
                } else{
                    return false;
                }
            },
            marcarTerminada() {
                let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR LA SECCION DE DATOS DE LA PAREJA COMO TERMINADA?");
                if(result) {
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                    };
                    axios.post('/api/declaracion/marcar-terminada-datos-pareja', data).then(resp => {
                        this.reloadData();
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        location.reload();
                    }).catch(e => {
                        console.log(e);
                    });
                } else{
                    return false;
                }
            },
            cancelFormato() {
                this.formato = 0;
                this.dependiente = {};
            },
            reloadData() {
                this.getDatoPareja();
            },
            editarDependiente(dependiente) {
                this.formato = 1;
                this.dependiente = dependiente;
            },
            borrarDependiente(dependiente_id) {
                let result = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
                if(result) {
                    let data = {dependiente_id: dependiente_id};
                    axios.post('/api/declaracion/borrar-dependiente', data).then(resp => {
                        this.reloadData();
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                    }).catch(e => {
                        console.log(e);
                    });
                } else{
                    return false;
                }
            },
        },
        computed:{
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            ischeckedTerminate(){
                let secciones = this.getDatosDeclaracion.secciones;
                if(_.isUndefined(secciones) === false) {
                    let seccion   = secciones.filter((item) => {
                        return item.Nombre === 'DATOS DE LA PAREJA'
                    });
                    return seccion[0].EstadoActual;
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
