<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Menú de Declaración Patrimonial</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Menú de Declaración Patrimonial</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR A MENÚ PRINCIPAL"
                                         :to="{name: 'dashboard'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <menu-card title="SiDePat"
                           description="Sistema de Declaración y de Intereses"
                           goToUrl="estatus-declaracion-administrador"
                           v-if="isUserSdp">
                    <i class="fas fa-file-signature fa-3x"></i>
                </menu-card>
                <menu-card title="Panel de Administración"
                           description="Ir al panel de administración de declaración patrimonial"
                           goToUrl="declaracion-administrador-panel"
                           v-if="isAdminSdp">
                    <i class="fas fa-desktop fa-3x"></i>
                </menu-card>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    export default {
        name: "DeclaracionAdministrador",
        components: {
            MenuCard
        },
        created() {
            this.getUserRole();
        },
        data() {
            return {
                userTypes: []
            }
        },
        methods: {
            getUserRole() {
                let data = {
                    plataforma: 'SDP'
                };
                axios.post('/api/get-user-platform-rol-declaracion', data).then(resp => {
                    this.userTypes = resp.data.userTypes;
                }).catch(e => {
                    console.log(e);
                    this.$router.push({name: 'dashboard'});
                })
            },
        },
        computed: {
            isUserSdp() {
                if(this.userTypes.length > 0) {
                    let isUserDeclaracion = false;
                    this.userTypes.forEach(userType => {
                        if(isUserDeclaracion === false) {
                            if(userType.NombreRol === 'Usuario SDP') {
                                isUserDeclaracion = true
                            }
                        }
                    });
                    return isUserDeclaracion;
                } else {
                    return false;
                }
            },
            isAdminSdp() {
                if(this.userTypes.length > 0) {
                    let isAdminDeclaracion = false;
                    this.userTypes.forEach(userType => {
                        if(isAdminDeclaracion === false) {
                            let rol = userType.NombreRol.toUpperCase();
                            if(rol === 'ADMINISTRADOR SDP') {
                                isAdminDeclaracion = true
                            }
                        }
                    });
                    return isAdminDeclaracion;
                } else {
                    return false;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
