<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Declaración SAT</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase uk-text-center">Declaración fiscal anual (SAT)</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <!--Primera sección-->
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <span class="uk-text-bold">
                                    <i class="fas fa-file-pdf"></i> Subir la declaración anual (SAT)
                                </span>
                            </div>
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-1@m uk-margin-small-bottom">
                                    <div class="uk-alert-primary uk-border-rounded uk-text-uppercase uk-text-bold" uk-alert>
                                        <p>Utiliza esta sección para poder consultar o actualizar la declaración fiscal anual (SAT)</p>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@m uk-margin-small-bottom">
                                    <div class="uk-section uk-section-default uk-section-small uk-border-rounded">
                                        <div class="uk-grid uk-margin-remove-left" v-if="documentosSeleccionadosDes.length > 0">
                                            <div class="uk-width-1-1 uk-alert uk-alert-danger uk-border-rounded uk-text-center uk-text-uppercase">
                                                Esta Documentación fue precargada. para guardarla de clic en el botón guardar respuestas.
                                                <ul class="uk-list uk-margin-small-top">
                                                    <li v-for="(document, index) in documentosSeleccionadosDes" :key="index" style="list-style-type: none;">
                                                        <i :class="setFileIcon(document.name)"></i> {{ document.name }} - {{ document.size }}MB
                                                    </li>
                                                </ul>
                                                <button type="button" class="uk-button uk-button-danger uk-border-rounded uk-button-small" @click="documentosSeleccionadosDes = []">
                                                    Cancelar
                                                </button>
                                                <button class="uk-button uk-button-primary uk-border-rounded uk-button-small"
                                                        :disabled="loadingBtn"
                                                        type="button"
                                                        @click="save" v-if="documentosSeleccionadosDes.length > 0">
                                                    <span v-show="loadingBtn === false">Guardar <i class="fas fa-check"></i></span>
                                                    <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="uk-container uk-text-center" v-if="isEmptyDeclaracion">
                                            <p>No se ha registrado ninguna declaración fiscal anual</p>
                                        </div>
                                        <div class="uk-grid uk-margin-remove-left" v-else>
                                            <div class="uk-width-1-1">
                                                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-middle">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Documento
                                                            </th>
                                                            <th>

                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="uk-text-uppercase">
                                                                <i class="fas fa-file-pdf fa-lg"></i> Declaracion Anual Sat <br>
                                                            </td>
                                                            <td class="uk-text-right">
                                                                <button class="uk-button uk-button-default uk-border-rounded uk-button-small" @click="descargar">
                                                                    <i class="fas fa-file-download"></i> Descargar
                                                                </button>
                                                                <button class="uk-button uk-button-danger uk-border-rounded uk-button-small" @click="borrar">
                                                                    <i class="fas fa-trash-alt"></i> Borrar
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <br>
                                        <button class="uk-button uk-button-default uk-border-rounded uk-align-center" @click="trigerFileElement">
                                            <i class="fas fa-file-upload"></i>
                                            Agregar nuevo documento
                                        </button>
                                        <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import filesHelper from '@/js/helpers/files';
    export default {
        name:"DeclaracionSat",
        created() {
            this.getDataDeclaracion();
            this.getDeclaracionSat();
        },
        data(){
            return{
                loadingBtn: false,
                documentosSeleccionados:[],
                documentosSeleccionadosDes:[],
                declaracion: {},
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
            }
        },
        methods:{
            getDeclaracionSat() {
                  axios.get('/api/declaracion/get-declaracion-sat').then(resp => {
                      this.declaracion = resp.data.declaracion;
                  }).catch(e => {
                      console.log(e);
                  })
            },
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            save() {
                let confirm = window.confirm("¿CONFIRMA QUE DESEA SUBIR SU DECLARACIÓN ANUAL (SAT)?");
                if(confirm) {
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                    };
                    let docs = this.documentosSeleccionados;
                    if(docs.length > 0) {
                        data.files = docs;
                    }
                    let new_data = filesHelper.makeFormData(data);
                    this.loadingBtn = true;
                    axios.post('/api/declaracion/subir-declaracion-sat', new_data).then(resp => {
                        this.loadingBtn = false;
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                    }).catch(e => {
                        console.log(e);
                        this.loadingBtn = false;
                    });
                } else {
                    return false;
                }
            },
            previewFiles(event) {
                this.documentosSeleccionadosDes = [];
                let files = event.target.files;
                if(files.length < 2) {
                    for (let i = 0; i < files.length; i++) {
                        let file = files[i];
                        let size = (file.size / 1000000).toFixed(2);
                        let obj = {
                            name: file.name,
                            size: size,
                            type: file.type
                        }
                        this.documentosSeleccionadosDes.push(obj);
                    }
                    let exededSize = false;
                    for(let j = 0; j < this.documentosSeleccionadosDes.length; j++) {
                        let file = this.documentosSeleccionadosDes[j];
                        if(exededSize === false) {
                            if(file.size > 10) {
                                exededSize = true;
                            }
                        }
                    }
                    if(exededSize) {
                        this.documentosSeleccionados = [];
                        this.documentosSeleccionadosDes = [];
                        alert('El tamaño máximo por documento es de hasta 10MB, alguno de los documentos excede el limite máximo');
                    } else {
                        this.documentosSeleccionados = files;
                    }
                } else {
                    alert("SOLO SE PUEDE SUBIR UN ARCHIVO COMO MÁXIMO");
                    return false;
                }
            },
            trigerFileElement() {
                var el = document.getElementsByClassName("fileElement");
                console.log(el);
                if (el[0]) {
                    el[0].click();
                }
            },
            setFileIcon(nameFile) {
                if(nameFile.includes('.pdf')) {
                    return 'fas fa-file-pdf';
                } else if(nameFile.includes('.docx')) {
                    return 'fas fa-file-word';
                } else if(nameFile.includes('.xlsx')) {
                    return 'fas fa-file-excel';
                } else if(nameFile.includes('.zip') || nameFile.includes('.rar')) {
                    return 'fas fa-file-archive';
                } else if(nameFile.includes('.jpg') || nameFile.includes('.png')) {
                    return 'fas fa-image';
                } else {
                    return 'fas fa-file';
                }
            },
            descargar() {
                let declaracionSat = this.declaracion;
                window.open(window.location.origin+'/'+declaracionSat.Ruta);
            },
            borrar() {
                let result = window.confirm('¿CONFIRMA QUE DESEA BORRAR LA DECLARACIÓN ANUAL SAT?');
                if(result) {
                    let declaracionSat = this.declaracion;
                    axios.post('/api/declaracion/borrar-declaracion-sat', declaracionSat).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        location.reload();
                    }).catch(e => {
                        console.log(e);
                    });
                } else {
                    return false;
                }
            }
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            isEmptyDeclaracion() {
                return _.isEmpty(this.declaracion);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
