<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Domicilio declarante</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Domicilio del declarante</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                        <span class="uk-text-bold">
                            <i class="fas fa-home"></i> Domicilio del declarante
                        </span>
                    </div>
                    <div class="uk-width-1-1 uk-margin-small-bottom">
                        <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
                    </div>
                    <form @submit.prevent="save">
                        <direccion :estados="estados" :direccion="direccion"></direccion>
                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                            <label class="uk-form-label uk-text-uppercase" for="observaciones">Aclaraciones / Observaciones</label>
                            <div class="uk-form-controls">
                                <textarea rows="3"
                                      class="uk-textarea uk-border-rounded uk-text-uppercase"
                                      id="observaciones"
                                      v-model.trim="observaciones">
                                </textarea>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                            <button class="uk-button uk-button-primary uk-border-rounded"
                                    :disabled="loadingBtn"
                                    type="submit">
                                <span v-show="loadingBtn === false">Guardar</span>
                                <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Direccion from "@/js/views/dashboard/declaracion/components/Direccion.vue";

    export default {
        name:"DomicilioDeclarante",
        components:{
            Direccion
        },
        created() {
            this.getEstados();
            this.getDataDeclaracion();
        },
        destroyed() {
            this.$store.commit('resetDireccion');
        },
        data() {
            return {
                loadingBtn: false,
                estados: [],
                direccion: {},
                observaciones: ''
            }
        },
        methods: {
            save() {
                let data = this.getDatosDireccion;
                data.declaracion_id = this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                if(data.codigo_postal.length !== 5) {
                    alert("EL CÓDIGO POSTAL DEBE SER DE 5 NÚMEROS");
                    return false;
                } else {
                    this.loadingBtn = true;
                    axios.post('/api/declaracion/save-direccion', data).then(resp => {
                        this.loadingBtn = false;
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.$store.commit('resetDireccion');
                        this.getDataDeclaracion();
                    }).catch(e => {
                        this.loadingBtn = false;
                        console.log(e);
                    });
                }
            },
            getEstados() {
                axios.get('/api/declaracion/get-estados').then(resp => {
                    this.estados = resp.data.estados;
                }).catch(e => {
                    this.estados = [];
                    console.log(e);
                })
            },
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            getDireccion(direccionID) {
                axios.post('/api/declaracion/get-direccion', {direcion_id: direccionID}).then(resp => {
                    this.direccion = resp.data.direccion;
                }).catch(e => {
                    console.log(e);
                })
            }
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            getDatosDireccion() {
                this.observaciones = this.$store.getters.direccionDeclaracion.observaciones;
                return this.$store.getters.direccionDeclaracion;
            }
        },
        watch: {
            'getDatosDeclaracion': function (val) {
                let direccionID = val.inf_gral[0].DireccionID;
                if(_.isNull(direccionID) === false) {
                    this.getDireccion(direccionID);
                } else {
                    return false;
                }
            },
            'getDatosDireccion': function(val) {
                this.observaciones = val.observaciones;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
