<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador'}" class="uk-text-uppercase uk-text-small">Menú de Declaración Patrimonial</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador-panel'}" class="uk-text-uppercase uk-text-small">Panel de administración</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Asignación de Usuarios</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Asignación de Usuarios</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR A PANEL DE ADMINISTRACIÓN"
                                         :to="{name: 'declaracion-administrador-panel'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div v-if="loading" class="uk-width-1-1 uk-text-center uk-text-uppercase">
                    <span uk-spinner="ratio: 2"></span><br>
                    Cargando...
                </div>
                <div v-else class="uk-width-1-1">
                    <div class="uk-grid uk-grid-small uk-margin-remove-left">
                        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-width-1-1 uk-text-bold uk-bg-dark">
                            <i class="far fa-file-alt"></i> Declaración de Situación Patrimonial
                        </div>
                        <div class="uk-width-1-3@m uk-height-small uk-margin-small-bottom" v-for="(tipo, index) in tiposDeclaracionExtensa">
                            <div class="uk-card uk-card-default uk-card-body uk-padding-small uk-height-1-1 uk-border-rounded uk-card-hover"
                                 @click="openModalUsuario(tipo)">
                                <div class="uk-text-center uk-text-bold uk-margin-small-bottom">
                                    {{ setName(tipo.Nombre, 'extensa') }}
                                </div>
                                <div class="uk-text-center uk-margin-small-top uk-text-uppercase" style="margin-top: 20px;">
                                    <i class="fas fa-users fa-2x"></i><br>
                                    Usuarios asignados: <span class="uk-text-bold">{{ setUserNumbers(tipo) }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-width-1-1 uk-text-bold uk-bg-dark">
                            <i class="far fa-file-alt"></i> Declaración de Situación Patrimonial Formato Simplificado
                        </div>
                        <div class="uk-width-1-3@m uk-height-small uk-margin-small-bottom" v-for="(tipo, index) in tiposDeclaracionSimplificada">
                            <div class="uk-card uk-card-default uk-card-body uk-padding-small uk-height-1-1 uk-border-rounded uk-card-hover"
                                 @click="openModalUsuario(tipo)">
                                <div class="uk-text-center uk-text-bold uk-margin-small-bottom">
                                    {{ setName(tipo.Nombre, 'simplificada') }}
                                </div>
                                <div class="uk-text-center uk-margin-small-top uk-text-uppercase" style="margin-top: 20px;">
                                    <i class="fas fa-users fa-2x"></i><br>
                                    Usuarios asignados: <span class="uk-text-bold">{{ setUserNumbers(tipo) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "IndexDeclaracionAdministradorPanelUsuarios",
        created() {
            this.getFormatosDeclaracion();
        },
        data() {
            return {
                loading: false,
                users: [],
                tiposDeclaracion: [],
                tiposDeclaracionExtensa: [],
                tiposDeclaracionSimplificada: [],
            }
        },
        methods: {
            getUsersDeclaracion() {
                this.$store.dispatch('getUsersToDeclare');
            },
            getFormatosDeclaracion() {
                this.loading = true;
                axios.get('/api/declaracion/admin/get-tipos-declaracion').then(resp => {
                    this.tiposDeclaracion             = resp.data.tiposDeclaracion;
                    this.loading                      = false;
                    this.tiposDeclaracionExtensa      = this.tiposDeclaracion.filter(tipo => tipo.Nombre.includes('FORMATO SIMPLIFICADO') == false);
                    this.tiposDeclaracionSimplificada = this.tiposDeclaracion.filter(tipo => tipo.Nombre.includes('FORMATO SIMPLIFICADO') == true);
                    this.getUsersDeclaracion();
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                });
            },
            setUserNumbers(tipo) {
                let users = this.users;
                let count = 0;
                for(let i = 0; i < users.length; i++) {
                    if(users[i].TipoDeclaracionID === tipo.TipoDeclaracionID) {
                        count = count + 1;
                    }
                }
                return count;
            },
            setName(nombre, tipoDeclaracion) {
                if(tipoDeclaracion === 'extensa') {
                    return nombre.replace('DECLARACIÓN DE SITUACIÓN PATRIMONIAL','');
                } else {
                    return nombre.replace('DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO','');
                }
            },
            openModalUsuario(tipo) {
                this.$store.commit('setTipoDeclaracionConsultado', tipo);
                UIkit.modal("#modal-usuarios-declaracion").show();
            }
        },
        computed: {
            usersToDeclare() {
                return this.$store.getters.getUsersToDeclare;
            }
        },
        watch: {
            'usersToDeclare': function(val) {
                this.users = val;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-card {
            &:hover {
                cursor: pointer;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
