<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Inversiones</span></li>
                   </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Inversiones del declarante</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-coins"></i> Inversiones (Situación actual)
                                        </span>
                                    </div>
                                    <div class="uk-width-1-2 uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-small uk-border-rounded uk-button-danger"
                                                uk-tooltip="DE CLIC SI NO CUENTA CON INVERSIONES"
                                                @click="marcarNinguno">
                                            Ninguno
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-1@m" v-if="inversiones.length === 0">
                                <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small" v-if="formato === 0">
                                    <button type="button"
                                            class="uk-button uk-button-default uk-border-rounded"
                                            @click="formato = 1">
                                        Agregar inversión <i class="fas fa-coins"></i>
                                    </button>
                                </div>
                                <div v-else>
                                    <inversiones-form :cat_tipo_titular="cat_tipo_titular"
                                              :cat_inversion="cat_inversion"
                                              :inversion="inversion"
                                              @cancel="cancelFormato"
                                              @reloadData="reloadData"></inversiones-form>
                                </div>
                            </div>
                            <div class="uk-width-1-1@m" v-else>
                                <template v-if="ischeckedTerminate === 0">
                                    <button type="button"
                                            class="uk-float-right uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                            @click="marcarTerminada"
                                            v-if="formato === 0">
                                        Marcar sección como terminada <i class="far fa-check-square"></i>
                                    </button>
                                </template>
                                <button type="button"
                                        class="uk-float-right uk-button uk-button-default uk-border-rounded"
                                        @click="formato = 1"
                                        v-if="formato === 0">
                                    Agregar bien mueble <i class="fas fa-coins"></i>
                                </button>
                                <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-table-middle"
                                       v-if="formato === 0">
                                    <thead>
                                    <tr>
                                        <th class="uk-text-center">#</th>
                                        <th class="uk-width-auto">Tipo de inversión</th>
                                        <th class="uk-width-auto uk-text-center">Titular</th>
                                        <th class="uk-width-auto uk-text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(inversion, index) in inversiones" :key="index">
                                            <td class="uk-text-center">
                                                {{ index + 1 }}
                                            </td>
                                            <td class="uk-text-uppercase">
                                                {{ setInversion(inversion.TipoInversionID) }}
                                            </td>
                                            <td class="uk-text-uppercase uk-text-center">
                                                {{ inversion.Titular }}
                                            </td>
                                            <td class="uk-text-right">
                                                <button type="button"
                                                        class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                                        @click="editarInversion(inversion)">
                                                    Editar registro
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                            </td>
                                            <td class="uk-text-right">
                                                <button type="button"
                                                        class="uk-button uk-button-danger uk-button-small uk-border-rounded"
                                                        @click="borrarInversion(inversion)"
                                                        uk-tooltip="title: BORRAR REGISTRO; pos: right">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div v-else>
                                    <inversiones-form :cat_tipo_titular="cat_tipo_titular"
                                                      :cat_inversion="cat_inversion"
                                                      :inversion="inversion"
                                                      @cancel="cancelFormato"
                                                      @reloadData="reloadData"></inversiones-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import InversionesForm from "@/js/views/dashboard/declaracion/components/InversionesForm";

export default{
    name: "Inversiones",
    components: {
        InversionesForm
    },
    data(){
        return{
            cat_tipo_titular: [],
            cat_inversion: [],
            inversiones: [],
            inversion: {},
            formato: 0
        }
    },
    created(){
        this.getCatInversion();
        this.getCatTipoTitulares();
        this.getDataDeclaracion();
        this.getInversiones();
    },
    methods:{
        getDataDeclaracion() {
            this.$store.dispatch('getDatosDeclaracion');
        },
        getCatInversion(){
            axios.get('/api/declaracion/get-catalogo-inversion').then(resp =>{
                this.cat_inversion = resp.data.catalogo_tipo_inversion;
            }).catch(e => {
                console.log(e);
            })
        },
        getCatTipoTitulares(){
            axios.get('/api/declaracion/get-catalogo-tipo-titulares').then(resp =>{
                this.cat_tipo_titular = resp.data.catalogo_tipo_titular;
            }).catch(e => {
                console.log(e);
            })
        },
        getInversiones(){
            axios.get('/api/declaracion/get-inversiones').then(resp =>{
                this.inversiones = resp.data.inversiones;
            }).catch(e =>{
                console.log(e);
            })
        },
        cancelFormato() {
            this.formato = 0;
            this.inversion = {};
        },
        reloadData() {
            this.getInversiones();
        },
        marcarTerminada() {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR LA SECCION DE INVERSIONES COMO TERMINADA?");
            if(result) {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                };
                axios.post('/api/declaracion/marcar-terminada-inversiones', data).then(resp => {
                    location.reload();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        marcarNinguno() {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR COMO NINGUNO SUS INVERSIONES? SE PERDERÁ LA INFORMACIÓN PREVIAMENTE REGISTRADA");
            if(result) {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                };
                axios.post('/api/declaracion/marcar-ninguna-inversiones', data).then(resp => {
                    this.reloadData();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        borrarInversion(inversion) {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
            if(result) {
                let data = {recurso_financiero_id: inversion.RecursoFinancieroID};
                axios.post('/api/declaracion/borrar-inversion', data).then(resp => {
                    this.reloadData();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        editarInversion(inversion) {
            this.formato = 1;
            this.inversion = inversion;
        },
        setInversion(tipoInversionID) {
            let tipo_inversion = this.cat_inversion.filter((item) => {
                return item.TipoInversionID === tipoInversionID
            });
            return tipo_inversion[0].Nombre;
        }
    },
    computed:{
        showTerceros(){
            if(this.tipo_titular != 'DECLARANTE' && this.tipo_titular != ''){
                return true;
            }else{
                return false;
            }
        },
        getDatosDeclaracion(){
            return this.$store.getters.getDatosDeclaracion;
        },
        ischeckedTerminate(){
            let secciones = this.getDatosDeclaracion.secciones;
            if(_.isUndefined(secciones) === false) {
                let seccion   = secciones.filter((item) => {
                    return item.Nombre === 'INVERSIONES'
                });
                return seccion[0].EstadoActual;
            }
        }
    },
    watch: {
        'getDatosDeclaracion': function (val) {
            let direccionID = val.inf_gral[0].DireccionID;
            if(_.isNull(direccionID) === false) {
                this.getDireccion(direccionID);
            } else {
                return false;
            }
        },
    },
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
            .uk-bg-dark {
                background-color: #424242;
                color: $color-white;
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
    }
</style>
