<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Participacion en Instituciones</span></li>
                   </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Participación en instituciones</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-landmark"></i> Participación en instituciones
                                        </span>
                                    </div>
                                    <div class="uk-width-1-2 uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-small uk-border-rounded uk-button-danger"
                                                uk-tooltip="DE CLIC SI NO PARTICIPA EN NINGUNA EMPRESA"
                                                @click="marcarNinguno">
                                            Ninguno
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> <!--aaaa-->
                        <div class="uk-width-1-1@m" v-if="participaciones.length === 0">
                            <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small" v-if="formato === 0">
                                <button type="button"
                                        class="uk-button uk-button-default uk-border-rounded"
                                        @click="formato = 1">
                                    Agregar participación <i class="fas fa-landmark"></i>
                                </button>
                            </div>
                            <div v-else>
                                <participacion-instituciones-form
                                    :cat_tipo_institucion="cat_tipo_institucion"
                                    :cat_estados="cat_estados"
                                    :participacion="participacion"
                                    @cancel="cancelFormato"
                                    @reloadData="reloadData">
                                </participacion-instituciones-form>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m" v-else>
                            <template v-if="ischeckedTerminate === 0">
                                <button type="button"
                                        class="uk-float-right uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                        @click="marcarTerminada"
                                        v-if="formato === 0">
                                    Marcar sección como terminada <i class="far fa-check-square"></i>
                                </button>
                            </template>
                            <button type="button"
                                    class="uk-float-right uk-button uk-button-default uk-border-rounded"
                                    @click="formato = 1"
                                    v-if="formato === 0">
                                Agregar participación <i class="fas fa-landmark"></i>
                            </button>
                            <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-table-middle"
                                   v-if="formato === 0">
                                <thead>
                                <tr>
                                    <th class="uk-text-center">#</th>
                                    <th class="uk-width-auto">Nombre o razón social</th>
                                    <th class="uk-width-auto uk-text-center">Puesto o rol</th>
                                    <th class="uk-width-auto uk-text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(participacion, index) in participaciones" :key="index">
                                    <td class="uk-text-center">
                                        {{ index + 1 }}
                                    </td>
                                    <td class="uk-text-uppercase">
                                        {{ participacion.NombreInstitucion}}
                                    </td>
                                    <td class="uk-text-uppercase uk-text-center">
                                        {{ participacion.PuestoRol}}
                                    </td>
                                    <td class="uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                                @click="editarParticipacion(participacion)">
                                            Editar registro
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-danger uk-button-small uk-border-rounded"
                                                @click="borrarParticipacionInstitucion(participacion)"
                                                uk-tooltip="title: BORRAR REGISTRO; pos: right">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-else>
                                <participacion-instituciones-form
                                    :cat_tipo_institucion="cat_tipo_institucion"
                                    :cat_estados="cat_estados"
                                    :participacion="participacion"
                                    @cancel="cancelFormato"
                                    @reloadData="reloadData">
                                </participacion-instituciones-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ParticipacionInstitucionesForm from "@/js/views/dashboard/declaracion/components/ParticipacionInstitucionesForm";
export default {
    name:'ParticipacionInstituciones',
    components: {
        ParticipacionInstitucionesForm
    },
    data(){
        return{
            cat_tipo_institucion: [],
            cat_estados:[],
            participaciones:[],
            formato:0,
            participacion:{}
        }
    },
    created(){
        this.getCatTipoInstitucion();
        this.getCatEstados();
        this.getDataDeclaracion();
        this.getParticipaciones();
    },
    methods:{
        getDataDeclaracion() {
            this.$store.dispatch('getDatosDeclaracion');
        },
        getCatTipoInstitucion() {
            axios.get('/api/declaracion/get-catalogo-tipo-institucion').then(resp =>{
                this.cat_tipo_institucion = resp.data.catalogo_tipo_institucion;
            }).catch(e => {
                console.log(e);
            })
        },
        getCatEstados(){
            axios.get('/api/declaracion/get-estados').then(resp=>{
                this.cat_estados = resp.data.estados;
            }).catch(e =>{
                console.log();
            })
        },
        getParticipaciones(){
            axios.get('/api/declaracion/get-participacion-institucion').then(resp =>{
                this.participaciones = resp.data.participacion;
            }).catch(e =>{
                console.log(e);
            })
        },
        cancelFormato() {
            this.formato = 0;
            this.participacion = {};
        },
        reloadData() {
            this.getParticipaciones();
        },
        marcarNinguno() {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR COMO NINGUNO SUS VEHÍCULOS? SE PERDERÁ LA INFORMACIÓN PREVIAMENTE REGISTRADA");
            if(result) {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                };
                console.log(data);
                axios.post('/api/declaracion/marcar-ninguna-participacion-institucion', data).then(resp => {
                    this.reloadData();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        borrarParticipacionInstitucion(participacion) {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
            if(result) {
                let data = {participacion_id: participacion.ParticipacionInstitucionesID};
                axios.post('/api/declaracion/borrar-participacion-institucion', data).then(resp => {
                    this.reloadData();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        editarParticipacion(participacion) {
            this.formato = 1;
            this.participacion = participacion;
        },
        marcarTerminada() {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR LA SECCION DE VEHÍCULOS COMO TERMINADA?");
            if(result) {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                };
                console.log(data);
                axios.post('/api/declaracion/marcar-terminada-participacion-institucion', data).then(resp => {
                    location.reload();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
    },
    computed:{
        getDatosDeclaracion(){
            return this.$store.getters.getDatosDeclaracion;
        },
        ischeckedTerminate(){
            let secciones = this.getDatosDeclaracion.secciones;
            if(_.isUndefined(secciones) === false) {
                let seccion   = secciones.filter((item) => {
                    return item.Nombre === 'PARTICIPACIÓN EN TOMA DE DECISIONES DE ALGUNA INSTITUCIÓN'
                });
                return seccion[0].EstadoActual;
            }
        }
    },
    watch: {
        'getDatosDeclaracion': function (val) {
             let direccionID = val.inf_gral[0].DireccionID;
             if(_.isNull(direccionID) === false) {
                 this.getDireccion(direccionID);
             } else {
                 return false;
             }
        },
    },
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
