<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Préstamos o comodatos</span></li>
                   </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Préstamos o comodatos</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-credit-card"></i> Información del préstamo o comodato (Situación actual)
                                        </span>
                                    </div>
                                    <div class="uk-width-1-2 uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-small uk-border-rounded uk-button-danger"
                                                uk-tooltip="DE CLIC SI NO CUENTA CON BIENES INMUEBLES"
                                                @click="marcarNinguno">
                                            Ninguno
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m" v-if="prestamos.length === 0">
                            <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small" v-if="formato === 0">
                                <button type="button"
                                        class="uk-button uk-button-default uk-border-rounded"
                                        @click="formato = 1">
                                    Agregar préstamo o comodato <i class="fas fa-credit-card"></i>
                                </button>
                            </div>
                            <div v-else>
                                <prestamos-form :estados="estados"
                                            :catalogo_bien_inmueble="catalogo_bien_inmueble"
                                            :catalogo_bien_vehiculos="catalogo_bien_vehiculos"
                                            :cat_vinculo_personal="cat_vinculo_personal"
                                            :prestamo="prestamo"
                                            @cancel="cancelFormato"
                                            @reloadData="reloadData"></prestamos-form>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m" v-else>
                            <template v-if="ischeckedTerminate === 0">
                                <button type="button"
                                        class="uk-float-right uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                        @click="marcarTerminada"
                                        v-if="formato === 0">
                                    Marcar sección como terminada <i class="far fa-check-square"></i>
                                </button>
                            </template>
                            <button type="button"
                                    class="uk-float-right uk-button uk-button-default uk-border-rounded"
                                    @click="formato = 1"
                                    v-if="formato === 0">
                                Agregar bien inmueble <i class="fas fa-file-invoice"></i>
                            </button>
                            <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-table-middle"
                                   v-if="formato === 0">
                                <thead>
                                <tr>
                                    <th class="uk-text-center">#</th>
                                    <th class="uk-width-auto">Tipo de bien</th>
                                    <th class="uk-width-auto uk-text-center">Titular</th>
                                    <th class="uk-width-auto uk-text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(prestamo, index) in prestamos" :key="index">
                                    <td class="uk-text-center">
                                        {{ index + 1 }}
                                    </td>
                                    <td class="uk-text-uppercase">
                                        {{ setTipoBien(prestamo) }}
                                    </td>
                                    <td class="uk-text-uppercase uk-text-center">
                                        {{ prestamo.Titular }}
                                    </td>
                                    <td class="uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                                @click="editarPrestamo(prestamo)">
                                            Editar registro
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="uk-text-right">
                                        <button type="button"
                                                class="uk-button uk-button-danger uk-button-small uk-border-rounded"
                                                @click="borrarPrestamo(prestamo.PrestamoID)"
                                                uk-tooltip="title: BORRAR REGISTRO; pos: right">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-else>
                                <prestamos-form :estados="estados"
                                                :catalogo_bien_inmueble="catalogo_bien_inmueble"
                                                :catalogo_bien_vehiculos="catalogo_bien_vehiculos"
                                                :cat_vinculo_personal="cat_vinculo_personal"
                                                :prestamo="prestamo"
                                                @cancel="cancelFormato"
                                                @reloadData="reloadData"></prestamos-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import PrestamosForm from "@/js/views/dashboard/declaracion/components/PrestamosForm";
export default {
    name:"PrestamosComodatos",
    components: {
        PrestamosForm
    },
    created() {
        this.getDataDeclaracion();
        this.getEstados();
        this.getTipoBienesInmuebles();
        this.getTipoBienesVehiculos();
        this.getCatVinculoPersonal();
        this.getPrestamos();
    },
    data(){
        return{
            estados: [],
            catalogo_bien_inmueble: [],
            catalogo_bien_vehiculos: [],
            cat_vinculo_personal: [],
            prestamos: [],
            formato: 0,
            prestamo: {}
        }
    },
    methods: {
        getDataDeclaracion() {
            this.$store.dispatch('getDatosDeclaracion');
        },
        getEstados() {
            axios.get('/api/declaracion/get-estados').then(resp => {
                this.estados = resp.data.estados;
            }).catch(e => {
                this.estados = [];
                console.log(e);
            })
        },
        getTipoBienesInmuebles() {
            axios.get('/api/declaracion/get-catalogo-bienes_inmuebles').then(resp => {
                this.catalogo_bien_inmueble = resp.data.catalogo_bien_inmueble;
            }).catch(e => {
                this.estados = [];
                console.log(e);
            })
        },
        getTipoBienesVehiculos() {
            axios.get('/api/declaracion/get-catalogo-vehiculos').then(resp => {
                this.catalogo_bien_vehiculos = resp.data.catalogo_vehiculos;
            }).catch(e => {
                this.estados = [];
                console.log(e);
            })
        },
        getCatVinculoPersonal(){
            axios.get('/api/declaracion/get-catalogo-vinculo-personal').then(resp =>{
                this.cat_vinculo_personal = resp.data.catalogo_vinculo_personal;
            }).catch(e => {
                console.log(e);
            })
        },
        getPrestamos() {
            axios.get('/api/declaracion/get-prestamos').then(resp =>{
                this.prestamos = resp.data.prestamos;
            }).catch(e =>{
                console.log(e);
            })
        },
        cancelFormato() {
            this.formato = 0;
            this.prestamo = {};
        },
        reloadData() {
            this.getPrestamos();
        },
        setTipoBien(prestamo) {
            if(prestamo.TipoDeBien === 1) {
                if(this.catalogo_bien_inmueble.length > 0) {
                    let tipoBienes = this.catalogo_bien_inmueble.filter((bien) => {
                        return bien.TipoBienID === prestamo.BienInmuebleID;
                    });
                    return _.isUndefined(tipoBienes[0].Nombre) ? '' : tipoBienes[0].Nombre;
                } else {
                    return '';
                }
            } else {
                if(this.catalogo_bien_vehiculos.length > 0) {
                    let tipoBienes = this.catalogo_bien_vehiculos.filter((bien) => {
                        return bien.TipoBienID === prestamo.BienMuebleID;
                    });
                    return _.isUndefined(tipoBienes[0].Nombre) ? '' : tipoBienes[0].Nombre;
                } else {
                    return '';
                }
            }
        },
        marcarNinguno() {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR COMO NINGUNO SUS PRESTAMOS O COMODATOS? SE PERDERÁ LA INFORMACIÓN PREVIAMENTE REGISTRADA");
            if(result) {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                };
                axios.post('/api/declaracion/marcar-ninguna-prestamos', data).then(resp => {
                    this.reloadData();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        marcarTerminada() {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR LA SECCION DE PRESTAMOS O COMODATOS COMO TERMINADA?");
            if(result) {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral[0].DeclaracionID
                };
                axios.post('/api/declaracion/marcar-terminada-prestamos', data).then(resp => {
                    this.reloadData();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    location.reload();
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        editarPrestamo(prestamo) {
            this.formato = 1;
            this.prestamo = prestamo;
        },
        borrarPrestamo(prestamoID) {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
            if(result) {
                let data = {prestamo_id: prestamoID};
                axios.post('/api/declaracion/borrar-prestamo', data).then(resp => {
                    this.reloadData();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        }
    },
    computed:{
        getDatosDeclaracion(){
            return this.$store.getters.getDatosDeclaracion;
        },
        ischeckedTerminate(){
            let secciones = this.getDatosDeclaracion.secciones;
            if(_.isUndefined(secciones) === false) {
                let seccion   = secciones.filter((item) => {
                    return item.Nombre === 'PRESTAMO O COMODATO POR TERCEROS'
                });
                return seccion[0].EstadoActual;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
