<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Solventación de Recomendaciones de Auditoría</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-2-3 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Solventación de Recomendaciones de Auditoría</h3>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-top uk-flex uk-flex-middle uk-flex-right">
                    <router-link class="uk-back-button uk-text-uppercase"
                                 tag="a"
                                 uk-tooltip="title: IR A AUDITORÍA DE DESEMPEÑO"
                                 :to="{name: 'auditoria-control-interno'}">
                        <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                    </router-link>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <!--Cragar lista de auditorias asignadas-->
                <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-text-uppercase" v-if="loading">
                    <span uk-spinner="ratio: 2.8"></span>
                    <br>
                    Cargando...
                </div>
                <div class="uk-width-1-1" v-else>
                    <template v-if="respuestas.length <= 0">
                        <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase">
                            No se encontraron resultados
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModuloSolventacionRecomendaciones",
        created() {
            this.getRespuestasSolventacionAuditoria();
        },
        data() {
            return {
                loading: false,
                respuestas: []
            }
        },
        methods: {
            getRespuestasSolventacionAuditoria() {
                this.loading = true;
                setTimeout(() => {
                    this.loading = false;
                }, 2000);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
            }
        }
    }
</style>
