<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Auditorías</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Auditorías</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A AUDITORÍA DE CONTROL INTERNO"
                                         :to="{name: 'auditoria-control-interno'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <span class="uk-text-bold uk-btn-icon uk-border-rounded"
                                              uk-tooltip="title: CREAR AUDITORÍAS"
                                              v-if="auditorias.length > 0"
                                              @click="showModalCreate">
                                            <i class="fas fa-plus-circle fa-lg"></i>
                                        </span>
                                    </div>
                                    <div class="uk-width-1-2 uk-text-right">
                                        <span class="uk-text-bold">
                                            <i class="far fa-calendar-alt"></i> Ejercicio Fiscal
                                            <span v-if="ejercicioFiscal !== null">{{ ejercicioFiscal }}</span>
                                            <span v-else uk-spinner="ratio: 0.5"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-large-bottom uk-margin-small-top">
                        <div class="uk-width-1-1">
                            <template v-if="auditorias.length > 0">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <button type="button"
                                                class="uk-button uk-button-filter uk-border-rounded uk-float-right"
                                                :class="{ 'uk-button-filter-active' : showFiltros }"
                                                @click="showFiltros = !showFiltros">
                                            <i class="fas fa-ellipsis-v"></i> Filtros
                                        </button>
                                    </div>
                                </div>
                                <div class="uk-grid uk-grid-small uk-margin-remove-top" v-show="showFiltros">
                                    <div class="uk-width-1-3">
                                        <div class="uk-inline uk-width-1-1">
                                            <a class="uk-form-icon uk-form-icon-flip uk-link-reset">
                                                <i class="fas fa-search" v-if="!searching"></i>
                                                <span v-else uk-spinner="ratio: 0.7"></span>
                                            </a>
                                            <input class="uk-input uk-border-rounded uk-width-1-1 uk-text-uppercase"
                                                   type="text"
                                                   placeholder="Buscar auditoría"
                                                   @keyup.enter="getAuditorias"
                                                   v-model.trim="query"
                                                   :disabled="disabledSearch">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <button type="button"
                                                class="uk-button uk-button-default uk-border-rounded">
                                            Seleccionar etapa <i class="fas fa-angle-down"></i>
                                        </button>
                                        <div uk-dropdown="mode: click" class="uk-width-medium">
                                            <ul class="uk-list uk-width-medium">
                                                <li v-for="(etapa, index) in etapas" :key="index">
                                                    <label class="uk-text-uppercase">
                                                        <input class="uk-checkbox"
                                                               type="checkbox"
                                                               :value="etapa.DescripcionEtapa"
                                                               v-model="etapas_filter"> {{ etapa.DescripcionEtapa }}
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="uk-width-xlarge uk-cursor-pointer" @click="sort('Nombre')">
                                                Auditoría
                                                <i class="fas fa-sort-alpha-up" v-if="currentSortDir === 'asc'"></i>
                                                <i class="fas fa-sort-alpha-up-alt" v-else></i>
                                            </th>
                                            <th class="uk-text-center">Cuestionario</th>
                                            <th class="uk-text-center">Enlace</th>
                                            <th class="uk-text-center uk-width-medium uk-cursor-pointer" @click="sort('etapa_actual')">
                                                Etapa actual
                                                <i class="fas fa-sort-alpha-up" v-if="currentSortDir === 'asc'"></i>
                                                <i class="fas fa-sort-alpha-up-alt" v-else></i>
                                            </th>
                                            <th class="uk-text-center uk-width-medium">Fecha de creación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(auditoria, index) in sortedAuditorias"
                                            :key="index"
                                            @click="goToAuditoriaDetail(auditoria)"
                                            class="uk-cursor-pointer">
                                            <td>{{ index + 1 }}</td>
                                            <td class="uk-text-uppercase">{{ auditoria.Nombre }}</td>
                                            <td class="uk-text-center">
                                                <i class="fas fa-check uk-text-success" v-if="auditoria.CuestionarioID !== null"></i>
                                                <i class="fas fa-times uk-text-danger" v-else></i>
                                            </td>
                                            <td class="uk-text-center">
                                                <i class="fas fa-check uk-text-success" v-if="auditoria.enlace_id !== null"></i>
                                                <span class="uk-text-uppercase" v-else>Sin Asignar</span>
                                            </td>
                                            <td class="uk-text-center uk-text-uppercase">
                                                {{ auditoria.etapa_actual }}
                                            </td>
                                            <td class="uk-text-center uk-text-uppercase">{{ setCreateDate(auditoria.created_at) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                            <template v-else>
                                <template v-if="query === '' && etapas_filter.length === 0">
                                    <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-padding">
                                        <i class="far fa-folder-open fa-4x"></i>
                                        <p>
                                            No se encontraron auditorías de control interno para el ejercicio fiscal
                                            <span v-if="ejercicioFiscal !== null">{{ ejercicioFiscal }}</span>
                                            <span v-else uk-spinner="ratio: 0.5"></span>
                                        </p>
                                        <button class="uk-button uk-button-default uk-border-rounded" href="#modal-create-auditorias" uk-toggle>
                                            Crear nueva auditoria
                                        </button>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-padding">
                                        <i class="far fa-folder-open fa-4x"></i>
                                        <p>
                                            No se encontraron auditorías de control interno con la búsqueda especificada
                                            <br>
                                            <button type="button"
                                                    class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-margin-small-top"
                                                    @click="getResetSearch">
                                                Ver todas las auditorías
                                            </button>
                                        </p>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO: MOVER EL MODAL AL COMPONENTE PADRE PARA EVITAR DUPLICIDAD EN EL DOM -->
        <div id="modal-create-auditorias" uk-modal="bg-close: false; esc-close: false">
            <div class="uk-modal-dialog uk-modal-body uk-border-rounded uk-width-1-1">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="uk-alert uk-border-rounded">
                            <p class="uk-text-uppercase uk-text-bold">
                                Selecciona las auditorias que quieres crear
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-grid uk-flex uk-flex-center">
                            <div class="uk-width-1-1 uk-margin-small-top" v-if="error !== null">
                                <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                        <template v-if="entidades.length > 0">
                            <div class="uk-width-1-2@m uk-margin-small-top">
                                <label class="uk-text-uppercase uk-button uk-button-default">
                                    <input class="uk-checkbox"
                                           type="checkbox"
                                           v-model="selectAll"/>
                                        <b>Seleccionar todas </b>
                                </label>
                            </div>
                            <div class="uk-margin uk-column-1-2 uk-margin-small-top">
                                <div class="uk-form-controls">
                                    <ul class="uk-list">
                                        <li v-for="(entidad, index) in entidades"
                                            :key="index">
                                            <label class="uk-text-uppercase">
                                                <input class="uk-checkbox"
                                                       type="checkbox"
                                                       :value="entidad.EntidadID"
                                                       v-model="entidadesSelected"/>
                                                {{ entidad.Nombre }}
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <p class="uk-text-center uk-text-uppercase">
                                No se encontraron auditorias disponibles
                            </p>
                        </template>
                    </div>
                    <div class="uk-width-1-1 uk-flex uk-flex-right">
                        <button class="uk-button uk-button-default uk-modal-close uk-border-rounded"
                                type="button"
                                @click="clearEntidadesSelected">
                            Cancelar
                        </button>
                        <button class="uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                type="button"
                                style="background-color: #7A0A2C;"
                                @click="save"
                                :disabled="saving"
                                v-show="entidades.length > 0">
                            <span v-if="!saving">Guardar</span>
                            <span v-else><div uk-spinner="ratio: 0.7"></div></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let moment = require('moment');
    export default {
        name: "ModuloAuditorias",
        created() {
            this.getData();
            this.getEntidades();
            this.getAuditorias();
        },
        data() {
            return {
                ejercicioFiscal: null,
                entidades: [],
                entidadesSelected: [],
                auditorias: [],
                error: null,
                saving: false,
                searching: false,
                query: '',
                selectAll: false,
                currentSort:'Entidad',
                currentSortDir:'asc',
                showFiltros: false,
                etapas: [],
                etapas_filter: []
            }
        },
        methods: {
            getData() {
                // Obtener ejercicio fiscal, etapas y auditores para hacer filtros
                axios.get('/api/get-data-auditorias-monitoreo').then(resp => {
                    this.ejercicioFiscal = resp.data.ejercicio_fiscal;
                    this.etapas = resp.data.etapas;
                }).catch(e => {
                    console.log(e);
                });
            },
            getEntidades() {
                axios.get('/api/get-entidades').then(resp => {
                    this.entidades = resp.data.entidades;
                }).catch(e => {
                    console.log(e);
                });
            },
            getAuditorias() {
                this.searching = true;
                let data = {
                    search: this.query,
                    etapas: this.etapas_filter
                };
                axios.post('/api/get-auditorias', data).then(resp => {
                    this.auditorias = resp.data.auditorias;
                    this.removeEntesFromAuditoriasCreadas();
                    this.searching = false;
                }).catch(e => {
                    console.log(e);
                    this.searching = false;
                });
            },
            save() {
                this.error = null;
                if(this.entidadesSelected.length > 0) {
                    this.saving = true;
                    let data = {
                        entes: this.entidadesSelected
                    };
                    axios.post('/api/create-auditorias', data).then(resp => {
                        UIkit.modal("#modal-create-auditorias").hide();
                        this.clearEntidadesSelected();
                        this.saving = false;
                        this.getAuditorias();
                        return false;
                    }).catch(e => {
                        console.log(e);
                        this.clearEntidadesSelected();
                        this.saving = false;
                    });
                } else {
                    this.error = "Debes seleccionar al menos una opción";
                }
            },
            clearEntidadesSelected() {
                this.error = null;
                this.entidadesSelected = [];
            },
            goToAuditoriaDetail(auditoria) {
                this.$router.push({
                    name: 'modulo-auditorias-control-interno-detalle',
                    params: {
                        ejercicio: auditoria.Anio,
                        auditoria: auditoria.AuditoriaID
                    }
                });
            },
            showModalCreate() {
                UIkit.modal("#modal-create-auditorias").show();
            },
            setCreateDate(date) {
                moment.locale('es');
                return moment(date).format('D MMMM YYYY');
            },
            removeEntesFromAuditoriasCreadas() {
                let entidades = [];
                for(let i = 0; i < this.entidades.length; i++) {
                    let entidad = this.entidades[i].Nombre;
                    let creada = false;
                    var j = 0;
                    while (j < this.auditorias.length) {
                        let auditoria = this.auditorias[j].Nombre;
                        if (entidad === auditoria){
                            creada = true;
                            break;
                        }
                        j++;
                    }
                    if(!creada) {
                        entidades.push(this.entidades[i]);
                    }
                }
                this.entidades = entidades;
            },
            getResetSearch(){
                this.query = '';
                this.etapas_filter = [];
                this.getAuditorias();
            },
            sort(s) {
                if(s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                }
                this.currentSort = s;
            },
        },
        computed: {
            hasAuditoriasEntidades(){
                return (this.auditorias.length > 0 && this.entidades.length > 0);
            },
            disabledSearch() {
                return (this.auditorias.length === 0 && this.query.length > 0);
            },
            sortedAuditorias() {
                return this.auditorias.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            }
        },
        watch: {
            hasAuditoriasEntidades(val) {
                if(val) {
                    this.removeEntesFromAuditoriasCreadas();
                }
            },
            selectAll(val) {
                if(val) {
                    this.entidadesSelected = [];
                    let entidades = this.entidades;
                    for(let i = 0; i < entidades.length; i++){
                        let entidadID = entidades[i].EntidadID;
                        this.entidadesSelected.push(entidadID);
                    }
                } else {
                    this.entidadesSelected = [];
                }
            },
            etapas_filter(val) {
                this.getAuditorias();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-white solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-cursor-pointer {
            cursor:pointer;
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-filter-active {
            background-color: $color-grey-disabled;
            color: $color-grey-ligth;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
