<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Sistema de Administración Ti</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Sistema de Administración Ti</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <menu-card title="Módulo de Privilegios"
                           description="Administrar permisos de usuarios por plataforma"
                           goToUrl="administracion-ti-privilegios">
                    <i class="fas fa-user-lock fa-3x"></i>
                </menu-card>
                <menu-card title="Módulo de Usuarios"
                           description="Lista de usuarios del sistema"
                           goToUrl="administracion-ti-usuarios">
                    <i class="fas fa-users fa-3x"></i>
                </menu-card>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    export default {
        name: "index",
        components: {
            MenuCard
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
            }
        }
    }
</style>
