<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'administracion-ti-privilegios'}" class="uk-text-uppercase uk-text-small">Módulo de Privilegios</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">{{ setPlatformName }}</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase"><i class="fas fa-desktop"></i> {{ setPlatformName }}</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A MÓDULO DE PRIVILEGIOS"
                                         :to="{name: 'administracion-ti-privilegios'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div class="uk-width-1-1">
                    <table v-if="users.length > 0" class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small">
                        <thead>
                            <tr class="uk-thead">
                                <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                                <th class="uk-width-auto" style="position: sticky; top: 0;">Usuario</th>
                                <th class="uk-width-auto uk-text-center" style="position: sticky; top: 0;" v-for="(tipo, index) in tipoUsuariosRoles" :key="index">
                                    {{ tipo.NombreRol }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users">
                                <td class="uk-text-center">
                                    {{ index + 1}}
                                </td>
                                <td class="uk-text-uppercase">
                                    {{ setUserName(user) }}
                                </td>
                                <td class="uk-text-center" v-for="(tipo, index) in tipoUsuariosRoles" :key="index">
                                    <input type="checkbox"
                                           class="uk-checkbox"
                                           :id="user.UsuarioID + '_' + tipo.TipoUsuarioID + '_' + index"
                                           @click="checked(user.UsuarioID, tipo.TipoUsuarioID, index, tipo.PlataformaID)"
                                           :checked="setCheckbox(tipo, user)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else>
                        <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase">
                            USUARIOS NO ENCONTRADOS
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PrivilegiosPlataforma",
        data() {
            return {
                plataforma: {},
                users: [],
                tipoUsuariosRoles: [],
                selected: {},
                selectedDb: []
            }
        },
        created() {
            this.getPlatform();
            this.getUsers();
        },
        methods: {
            getUsers() {
                axios.post('/api/administracion-ti/get-users').then(resp => {
                    this.users = resp.data.users;
                }).catch(e => {
                    console.log(e);
                });
            },
            setUserName(user) {
                return user.Nombres + ' ' + user.PrimerApellido + ' ' + user.SegundoApellido;
            },
            getTipoUsuarioCat() {
                axios.post('/api/administracion-ti/get-tipo-usuarios', {platform: this.$route.params.platform}).then(resp => {
                    this.tipoUsuariosRoles = resp.data.tipoUsuariosRoles;
                    this.getUsuariosPrivilegios();
                }).catch(e => {
                    console.log(e);
                });
            },
            checked(user, tipo, index, plataforma) {
                let refString = '#' + user + '_' + tipo + '_' + index;
                let ref = $(refString);
                let userType = 'tipo_usuario_'+tipo;
                if(ref.is(":checked")) {
                    if(_.isUndefined(this.selected[userType])) {
                        this.selected[userType] = [];
                        this.selected[userType].push(user);
                        let result = window.confirm("¿ESTA SEGURO QUE DESEA ASIGNAR ESTE PROVILEGIO AL USUARIO?");
                        if(result) {
                            // -- usuario, plataforma, tipo_usuario
                            this.addPrivilegio(user, plataforma, tipo);
                        } else {
                            $(refString).prop('checked', false);
                        }
                    } else {
                        this.selected[userType].push(user);
                        let result = window.confirm("¿ESTA SEGURO QUE DESEA ASIGNAR ESTE PROVILEGIO AL USUARIO?");
                        if(result) {
                            // -- usuario, plataforma, tipo_usuario
                            this.addPrivilegio(user, plataforma, tipo);
                        } else {
                            $(refString).prop('checked', false);
                        }
                    }
                } else {
                    let result = window.confirm("¿ESTA SEGURO QUE DESEA QUITAR ESTE PROVILEGIO AL USUARIO?");
                    if(result) {
                        if(_.isUndefined(this.selected[userType]) === false) {
                            const indexSelected = this.selected[userType].indexOf(user);
                            if (indexSelected > -1) {
                                this.selected[userType].splice(indexSelected, 1);
                            }
                        }
                        this.removePrivilegio(user, plataforma, tipo);
                    } else {
                        $(refString).prop('checked', true);
                    }
                }
            },
            getPlatform() {
                let data = {
                    platform: this.$route.params.platform
                }
                axios.post('/api/administracion-ti/get-platform', data).then(resp => {
                    this.plataforma = resp.data.plataforma;
                    this.getTipoUsuarioCat();
                }).catch(e => {
                    console.log(e)
                });
            },
            getUsuariosPrivilegios() {
                let data = {
                    users: this.users,
                    plataformaId: this.plataforma.PlataformaID,
                    tipoUsuarioRol: this.tipoUsuariosRoles
                }
                axios.post('/api/administracion-ti/get-users-privilegios', data).then(resp => {
                    this.selectedDb = resp.data.privilegio;
                }).catch(e => {
                    console.log(e);
                });
            },
            setCheckbox(tipo, user) {
                let tipoId = tipo.TipoUsuarioID;
                let userId = user.UsuarioID
                for (const property in this.selectedDb) {
                    if(property.includes(tipoId)) {
                        let arr_usrs = this.selectedDb[property];
                        if(arr_usrs.includes(userId)) {
                            return true
                        } else {
                            return false;
                        }
                    }
                }
            },
            addPrivilegio(user, plataforma, tipo) {
                let data = {
                    user: user,
                    plataforma: plataforma,
                    tipo: tipo
                };
                axios.post('/api/administracion-ti/add-user-privilegio', data).then(resp => {
                    console.log(resp.data);
                }).catch(e => {
                    console.log(e);
                })
            },
            removePrivilegio(user, plataforma, tipo) {
                let data = {
                    user: user,
                    plataforma: plataforma,
                    tipo: tipo
                };
                axios.post('/api/administracion-ti/remove-user-privilegio', data).then(resp => {
                    console.log(resp.data);
                }).catch(e => {
                    console.log(e);
                })
            }
        },
        computed: {
            setPlatformName() {
                return this.$route.params.platform
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
</style>
