<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'administracion-ti-privilegios'}" class="uk-text-uppercase uk-text-small">Módulo de Privilegios</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Roles de Usuario</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Roles de usuario</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A MÓDULO DE PRIVILEGIOS"
                                         :to="{name: 'administracion-ti-privilegios'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div class="uk-width-1-1 uk-text-center uk-padding" v-if="loading">
                    <span uk-spinner="ratio: 2"></span>
                    <br>
                    CARGANDO...
                </div>
                <div v-else class="uk-width-1-1">
                    <button type="button" class="uk-button uk-button-primary uk-border-rounded uk-button-small"
                            uk-toggle="target: #modal-create-rol">
                        Crear nuevo rol
                    </button>
                    <table class="uk-table uk-table-small uk-table-striped uk-table-divider">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Rol</th>
                                <th>Plataforma</th>
                            </tr>
                        </thead>
                        <tbody class="uk-text-uppercase">
                            <tr v-for="(rol, index) in roles" :key="index">
                                <td>
                                    {{ index + 1 }}
                                </td>
                                <td>
                                    {{ rol.NombreRol }}
                                </td>
                                <td>
                                    {{ rol.Plataforma }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="modal-create-rol" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title uk-text-uppercase">Crear rol de usuario</h2>
                <form @submit.prevent="saveUserRol">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-1-2@m">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">
                                    Rol de usuario
                                </label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                                           id="form-stacked-text"
                                           type="text"
                                           required
                                           v-model.trim="createRol.name">
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-2@m">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">
                                    Plataforma
                                </label>
                                <div class="uk-form-controls">
                                    <select class="uk-select uk-border-rounded uk-text-uppercase"
                                            id="form-stacked-select"
                                            v-model="createRol.platformId"
                                            required>
                                        <option value="">Selecciona una plataforma</option>
                                        <option v-for="(platform, index) in platforms"
                                                :key="index"
                                                :value="platform.PlataformaID">
                                            {{ platform.Descripcion }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-border-rounded uk-modal-close" type="button">Cancelar</button>
                        <button class="uk-button uk-button-primary uk-border-rounded" type="submit" style="background-color: #7A0A2C;">Guardar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RolesUsuario",
        created() {
            this.getUserRoles();
            this.getPlataformas();
        },
        data() {
            return {
                loading: false,
                roles: [],
                platforms: [],
                createRol: {
                    name: '',
                    platformId: ''
                }
            }
        },
        methods: {
            getUserRoles() {
                this.loading = true;
                axios.get('/api/administracion-ti/get-user-roles').then(resp => {
                    this.roles = resp.data.roles;
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.roles = [];
                    this.loading = false;
                })
            },
            getPlataformas() {
                this.loading = true;
                axios.get('/api/get-platforms').then(resp => {
                    this.platforms = resp.data.platforms;
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.platforms = [];
                    this.loading = false
                });
            },
            saveUserRol() {
                axios.post('/api/administracion-ti/save-user-rol', this.createRol).then(resp => {
                    this.resetCreateRol();
                    this.getUserRoles();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Rol de usuario creado',
                        pos: 'top-right',
                        timeout: 4000
                    });
                    UIkit.modal('#modal-create-rol').hide();
                }).catch(e => {
                    this.resetCreateRol();
                    console.log(e);
                    UIkit.notification({
                        message: '<i class="fas fa-times"></i> Error no se pudo crear el rol de usuario',
                        pos: 'top-right',
                        timeout: 4000
                    });
                    UIkit.modal('#modal-create-rol').hide();
                })
            },
            resetCreateRol() {
                this.createRol.name = '';
                this.createRol.platformId = '';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand {
        .uk-container {
            .uk-grid {
                .uk-breadcrumb {
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active {
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3 {
                    font-family: $ff-franklin !important;
                }
                .uk-back-button {
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;

                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary {
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer {
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }

        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
