<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Usuarios</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Usuarios</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A SISTEMA DE ADMINISTRACION TI"
                                         :to="{name: 'plataforma-admon'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div class="uk-width-1-1">
                    <table v-if="users.length > 0" class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small">
                        <thead>
                            <tr class="uk-thead">
                                <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                                <th class="uk-width-auto" style="position: sticky; top: 0;">Usuario</th>
                                <th class="uk-width-auto uk-text-center" style="position: sticky; top: 0;">
                                    Opciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users">
                                <td class="uk-text-center">
                                    {{ index + 1}}
                                </td>
                                <td class="uk-text-uppercase">
                                    {{ setUserName(user) }}
                                </td>
                                <td class="uk-text-center">
                                    <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                        uk-toggle="target: #modal-cambio-pswd-usuarios"
                                        @click="setUserUpdate(user)">Actualizar contraseña
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else>
                        <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase">
                            USUARIOS NO ENCONTRADOS
                        </div>
                    </div>
                    <!-- This is the modal -->
                    <div id="modal-cambio-pswd-usuarios" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">¿Desea cambiar la contraseña?</h2>
                            <div class="uk-alert-primary" uk-alert>
                                <p>La contraseña debe tener por lo menos 8 caracteres</p>
                            </div>
                            <form @submit.prevent='updatePassword'>
                                <label class="uk-form-label uk-text-uppercase">Ingrese la nueva contraseña</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded"
                                            id="nueva-password"
                                            type="password"
                                            minlength="8"
                                            v-model="password_new"
                                            required>
                                </div>
                                <label class="uk-form-label uk-text-uppercase">Verifique la nueva contraseña</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded"
                                            id="conforma-password"
                                            type="password"
                                            minlength="8"
                                            v-model="password_verified"
                                            required>
                                </div>
                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close uk-border-rounded" type="button">Cancelar</button>
                                    <button class="uk-button uk-button-primary uk-border-rounded"
                                        style="background-color: #7A0A2C  !important;"
                                        type="submit">
                                        Guardar
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Usuarios",
        data() {
            return {
                users: [],
                password_new:'',
                password_verified:'',
                user_id: '',
            }
        },
        created() {
            this.getUsers();
        },
        methods: {
            getUsers() {
                axios.post('/api/administracion-ti/get-users').then(resp => {
                    this.users = resp.data.users;
                }).catch(e => {
                    console.log(e);
                });
            },
            setUserName(user) {
                return user.Nombres + ' ' + user.PrimerApellido + ' ' + user.SegundoApellido;
            },
            updatePassword(){
                let data = {
                    usuario_id: this.user_id,
                    password: this.password_new
                };
                if( this.password_new == this.password_verified){
                    axios.post('/api/administracion-ti/update-password', data).then(resp=>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        UIkit.modal('#modal-cambio-pswd').hide();
                    }).catch(e =>{
                        console.log(e);
                    })
                }else{
                    alert('Las contraseñas no coinciden');
                }
                this.password_new = '';
                this.password_verified = '';
            },
            setUserUpdate(user) {
                console.log(user)
                this.user_id  = user.UsuarioID;
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-button-hover{
            color: $color-black;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-primary {
            background-color: $color-primary !important;
        }
    }
</style>
