<template>
    <div class="uk-grid uk-margin-remove-left">
        <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-bottom uk-alert uk-border-rounded">
            <p class="uk-text-uppercase uk-text-bold">
                Documentación anexa
            </p>
            <table class="uk-table uk-table-small uk-text-small uk-table-middle uk-table-striped uk-table-divider uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-text-center">#</th>
                        <th class="uk-text-left">Nombre de documento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(anexo, index) in anexos">
                        <td class="uk-text-center">{{ index + 1 }}</td>
                        <td class="uk-text-left uk-text-uppercase">
                            <i :class="setFileIcon(anexo.NombreArchivo)"></i> {{ anexo.NombreArchivo }}
                        </td>
                        <td class="uk-text-right">
                            <a class="uk-link-reset uk-button-delete uk-border-rounded" @click="removeAnexo(anexo)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
	export default {
        name: "DocumentacionAnexada",
        props: ['anexos', 'pregunta'],
        methods: {
            setFileIcon(nameFile) {
                if(nameFile.includes('.pdf')) {
                    return 'fas fa-file-pdf fa-2x';
                } else if(nameFile.includes('.docx')) {
                    return 'fas fa-file-word fa-2x';
                } else if(nameFile.includes('.xlsx')) {
                    return 'fas fa-file-excel fa-2x';
                } else if(nameFile.includes('.zip') || nameFile.includes('.rar')) {
                    return 'fas fa-file-archive fa-2x';
                } else if(nameFile.includes('.jpg') || nameFile.includes('.png')) {
                    return 'fas fa-image fa-2x';
                } else {
                    return 'fas fa-file fa-2x';
                }
            },
            removeAnexo(anexo) {
                UIkit.modal.confirm('¡ATENCIÓN! ¿DESEA BORRAR EL ANEXO DE FORMA PERMANETE? YA NO PODRÁ RECUPERARLO').then(() => {
                    let data = {
                        api_token: localStorage.getItem('api_token'),
                        anexo_id: anexo.AnexoID
                    };
                    axios.post('/api/delete-anexo', data).then(resp => {
                        this.$store.dispatch('getAnexos', {
                            pregunta: this.pregunta
                        });
                    }).catch(e => {
                        console.log(e);
                    });
                },  () => console.log('Cerrar sesión cancelado'));
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-delete {
        border: 1px $color-primary solid;
        color: $color-primary !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        &:hover {
            background-color: $color-primary;
            color: $color-white !important;
        }
    }
</style>
