<template>
    <div class="uk-grid uk-margin-medium-top">
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-calendar-alt"></i> Fechas
                </span>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-top">
            <div class="uk-grid">
                <div class="uk-width-1-1" v-if="error !== null">
                    <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                        {{ error }}
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        Fechas para contestar el cuestionario
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-2@m">
                            <label class="uk-form-label uk-text-uppercase">Inicial</label>
                            <div class="uk-form-controls">
                                <flat-pickr v-model="fechas.cuestionarioInicio"
                                            :config="config"
                                            class="uk-input uk-border-rounded"
                                            :disabled="!editarFechas"/>
                            </div>
                        </div>
                        <div class="uk-width-1-2@m">
                            <label class="uk-form-label uk-text-uppercase">Final</label>
                            <div class="uk-form-controls">
                                <flat-pickr v-model="fechas.cuestionarioFinal"
                                            :config="config"
                                            class="uk-input uk-border-rounded"
                                            :disabled="!editarFechas"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        Fechas para solventar las recomendaciones
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-2@m">
                            <label class="uk-form-label uk-text-uppercase">Inicial</label>
                            <div class="uk-form-controls">
                                <flat-pickr v-model="fechas.solventacionInicio"
                                            :config="config"
                                            class="uk-input uk-border-rounded"
                                            :disabled="!editarFechas"/>
                            </div>
                        </div>
                        <div class="uk-width-1-2@m">
                            <label class="uk-form-label uk-text-uppercase">Final</label>
                            <div class="uk-form-controls">
                                <flat-pickr v-model="fechas.solventacionFinal"
                                            :config="config"
                                            class="uk-input uk-border-rounded"
                                            :disabled="!editarFechas"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1@m uk-margin-small-top uk-text-right">
                    <template v-if="!editarFechas">
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="editarFechas = true">
                            Actualizar
                        </button>
                    </template>
                    <template v-else>
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded"
                                @click="cancelEdit">
                            Cancelar
                        </button>
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="saveFechas">Guardar <span uk-spinner="ratio: 0.6" v-show="updating"></span></button>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import moment from "moment";
    export default {
        name: "FechasAuditoria",
        props: ['auditoria'],
        components: {
            flatPickr
        },
        created() {
            this.getFechas();
        },
        data() {
            return {
                editarFechas: false,
                updating: false,
                error: null,
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                fechasTemporal: {
                    cuestionarioInicio: null,
                    cuestionarioFinal: null,
                    solventacionInicio: null,
                    solventacionFinal: null
                },
                fechas: {
                    cuestionarioInicio: null,
                    cuestionarioFinal: null,
                    solventacionInicio: null,
                    solventacionFinal: null
                },
            }
        },
        methods: {
            getFechas() {
                let data = {
                    auditoriaID: this.auditoria.AuditoriaID
                };
                axios.post('/api/get-auditoria-fechas', data).then(resp => {
                    let fechas = resp.data.fechas;
                    for(let i = 0; i < fechas.length; i++) {
                        if(fechas[i].etapa === 1) {
                            this.fechasTemporal.cuestionarioInicio = fechas[i].fecha_inicial;
                            this.fechasTemporal.cuestionarioFinal = fechas[i].fecha_final
                        } else {
                            this.fechasTemporal.solventacionInicio = fechas[i].fecha_inicial;
                            this.fechasTemporal.solventacionFinal = fechas[i].fecha_final
                        }
                    }
                    this.fechas = JSON.parse(JSON.stringify(this.fechasTemporal));
                }).catch(e => {
                    console.log(e);
                })
            },
            cancelEdit() {
                this.error = null;
                this.fechas = this.fechasTemporal;
                this.editarFechas = false;
            },
            saveFechas() {
                this.error = null;
                // Fechas
                let f_cinicio = this.fechas.cuestionarioInicio;
                let f_cfinal = this.fechas.cuestionarioFinal;
                let f_sinicio = this.fechas.solventacionInicio;
                let f_sfinal = this.fechas.solventacionFinal;
                // Validar el llenado de fechas
                if( (f_cinicio !== null && f_cfinal === null) || (f_cinicio === null && f_cfinal !== null) ) {
                    this.error = 'Debes indicar la fecha inicial y final para contestar el cuestionario';
                    return false;
                }
                if( (f_sinicio !== null && f_sfinal === null) || (f_sinicio === null && f_sfinal !== null) ) {
                    this.error = 'Debes indicar la fecha inicial y final para solventar recomendaciones';
                    return false;
                }
                // Validar que fecha inicio sea menor que fecha de fin
                if(moment(f_cinicio).isAfter(f_cfinal, 'day')) {
                    this.error = 'La fecha final para contestar el cuestionario debe ser mayor a la fecha inicial';
                    return false;
                }
                if(moment(f_sinicio).isAfter(f_sfinal, 'day')) {
                    this.error = 'La fecha final para solventar las recomendaciones debe ser mayor a la fecha inicial';
                    return false;
                }
                this.updating = true;
                let data = {
                    auditoriaID: this.auditoria.AuditoriaID,
                    fechas: this.fechas
                };
                axios.post('/api/update-auditoria-fechas', data).then(resp => {
                    this.getFechas();
                    this.editarFechas = false;
                    this.updating = false;
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Auditoría actualizada correctamente',
                        pos: 'top-right',
                        timeout: 4000
                    });
                }).catch(e => {
                    console.log(e);
                    this.error = 'Ocurrio un error. Contacta a la Unidad de Tecnologías de Información';
                    this.updating = false;
                });
            }
        }, watch: {
            'fechas.cuestionarioInicio': function(val) {
                if(val === '') {
                    this.fechas.cuestionarioInicio = null;
                }
            },
            'fechas.cuestionarioFinal': function(val) {
                if(val === '') {
                    this.fechas.cuestionarioFinal = null;
                }
            },
            'fechas.solventacionInicio': function(val) {
                if(val === '') {
                    this.fechas.solventacionInicio = null;
                }
            },
            'fechas.solventacionFinal': function(val) {
                if(val === '') {
                    this.fechas.solventacionFinal = null;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
