<template>
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-text-uppercase" v-show="loading">
            <div uk-spinner="ratio: 2.0"></div>
            <br>
            Cargando...
        </div>
        <div class="uk-width-1-1" v-show="!loading">
            <div class="uk-grid uk-margin-small-bottom" id="pregunta_section">
                <div class="uk-width-1-2">
                    <span class="uk-text-primary uk-text-bold uk-text-uppercase">{{ formTopic.temaId }}. {{ formTopic.temaName }}</span>
                </div>
                <div class="uk-width-1-2 uk-text-right" v-if="!isEmptyPregunta">
                    <span class="uk-text-primary uk-text-bold uk-text-uppercase uk-info-number uk-border-rounded">Pregunta {{ getNumberPregunta }} de {{ getNumberPreguntas }}</span>
                </div>
            </div>
            <template v-if="showListaPreguntas">
                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                    <thead>
                        <tr>
                            <th class="uk-text-center">No. Pregunta</th>
                            <th>Pregunta</th>
                            <th class="uk-text-center">Estado</th>
                            <th class="uk-text-center">Anexos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(pregunta, index) in preguntas" :key="index" @click="showFormPregunta(pregunta)" class="uk-table-hover">
                            <td class="uk-text-uppercase uk-text-center">
                                {{ pregunta.NoPregunta }}
                            </td>
                            <td class="uk-text-justify">
                                {{ pregunta.Pregunta }}
                            </td>
                            <td class="uk-text-center">
                                <span v-if="checkPreguntaTerminada(pregunta)" class="uk-text-success">
                                    Contestada
                                </span>
                                <span v-else class="uk-text-danger">
                                    No contestada
                                </span>
                            </td>
                            <td class="uk-text-center">
                                <span v-if="isNullAnexos(pregunta.No_Anexos)"></span>
                                <span v-else-if="pregunta.No_Anexos === 0"></span>
                                <span v-else>
                                    <i class="fas fa-paperclip fa-lg" :uk-tooltip="pregunta.No_Anexos"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </template>
            <template v-else>
                <pregunta-cuestionario :preguntas="preguntas" @reloadpreguntas="reloadPreguntas"></pregunta-cuestionario>
                <button type="button"
                        class="uk-button uk-button-default uk-border-rounded uk-float-left uk-margin-small-top"
                        @click="resetPregunta"
                        v-show="showButtonBack">
                    <i class="fas fa-long-arrow-alt-left"></i> Regresar a lista de preguntas
                </button>
            </template>
        </div>
    </div>
</template>

<script>
    import PreguntaCuestionario from "@/js/components/auditoria_control_interno/PreguntaCuestionario";
    export default {
        name: "FormCuestionario",
        components: {
            PreguntaCuestionario
        },
        data() {
            return {
                preguntas: [],
                loading: false,
                pregunta: {},
                preguntaAnterior: {},
                preguntaSiguiente: {}
            }
        },
        created() {
            this.getPreguntas();
        },
        methods: {
            getPreguntas() {
                this.loading = true;
                let data = {
                    api_token: localStorage.getItem('api_token'),
                    formTopic: this.formTopic
                };
                axios.post('/api/get-preguntas-tema', data).then(resp => {
                    this.preguntas = resp.data.preguntas;
                    this.$store.commit('updateNoPreguntas', this.preguntas.length);
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                })
            },
            checkPreguntaTerminada(pregunta) {
                if(pregunta.Condicional === null && pregunta.Respuesta === null) {
                    return false;
                } else {
                    return true;
                }
            },
            showFormPregunta(pregunta) {
                this.setPreguntaAntSig(pregunta);
                this.$store.commit('updatePregunta', pregunta);
                this.$store.dispatch('getAnexos', {
                    pregunta: pregunta
                });
                var elmnt = document.getElementById("pregunta_section");
                elmnt.scrollIntoView();
            },
            resetPregunta() {
                this.$store.commit('resetPregunta');
                this.getPreguntas();
                this.$store.commit('resetAnexos');
            },
            setPreguntaAntSig(pregunta) {
                let noPregunta = pregunta.NoPregunta;
                let totalPreguntas = this.preguntas.length;
                this.preguntaAnterior = {};
                this.preguntaSiguiente = {};
                if(noPregunta === 1) {
                    this.$store.commit('updatePreguntaAnterior', {});
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[1]);
                } else if(noPregunta === totalPreguntas) {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[totalPreguntas - 2]);
                    this.$store.commit('updatePreguntaSiguiente', {});
                } else {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[noPregunta - 2]);
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[noPregunta]);
                }
            },
            reloadPreguntas() {
                this.getPreguntas();
            },
            isNullAnexos(anexos){
                return _.isNull(anexos);
            }
        },
        computed: {
            formTopic() {
                return this.$store.getters.dataFormTopic;
            },
            getNumeroPreguntas() {
                return this.$store.getters.dataCuestionario.noPreguntas;
            },
            getDataPregunta() {
                return this.$store.getters.dataPregunta;
            },
            showButtonBack() {
                return (this.getNumeroPreguntas > 0 && _.isEmpty(this.getDataPregunta) === false);
            },
            showListaPreguntas() {
                return (_.isEmpty(this.$store.getters.dataPregunta));
            },
            isEmptyPregunta() {
                return (_.isEmpty(this.$store.getters.dataPregunta));
            },
            getNumberPregunta() {
                return this.$store.getters.dataPregunta.NoPregunta;
            },
            getNumberPreguntas() {
                return this.$store.getters.dataCuestionario.noPreguntas;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-table-hover {
        cursor: pointer;
    }
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-info-number {
        color: $color-primary !important;
    }
</style>
