<template>
    <div id="modal-expedientes-control-interno" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title uk-text-uppercase">Expedientes</h2>
            <!-- SECCION DE PERIODO DE CÉDULA DE RESULTADOS PRELIMINARES -->
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="far fa-file-alt"></i> PERIODO DE CÉDULA DE RESULTADOS PRELIMINARES
                </span>
            </div>
            <div v-if="hasExpedientesCrp === false" class="uk-height-small uk-text-uppercase uk-text-center uk-flex uk-flex-middle uk-flex-center">
                Sección en construcción
            </div>
            <div v-else>
                <div class="uk-grid">
                    <file-modal name="Respuestas del cuestionario">
                        <i class="far fa-file-pdf fa-4x" style="color: #EB1000;"></i>
                    </file-modal>
                    <file-modal name="Acuse ">
                        <i class="far fa-file-pdf fa-4x" style="color: #EB1000;"></i>
                    </file-modal>
                </div>
            </div>
            <!-- SECCION DE PERIODO DE SOLVENTACIÓN DE RESULTADOS -->
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="far fa-file-alt"></i> PERIODO DE SOLVENTACIÓN DE RECOMENDACIONES
                </span>
            </div>
            <div v-if="hasExpedientesSolventacion === false" class="uk-height-small uk-text-uppercase uk-text-center uk-flex uk-flex-middle uk-flex-center">
                Sección en construcción
            </div>
            <div v-else>

            </div>
        </div>
    </div>
</template>

<script>
    import FileModal from "@/js/components/FileModal";
    export default {
        name: "ModalExpendientes",
        components: {
            FileModal
        },
        data() {
            return {

            }
        },
        created() {
            //
        },
        methods: {
           //
        },
        computed: {
            hasExpedientesCrp() {
                return false;
                return this.$store.getters.getHasExpedientesCrp;
            },
            hasExpedientesSolventacion() {
                return false;
                return this.$store.getters.getHasExpedientesSolventacion;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
