<template>
    <div class="uk-grid uk-margin-medium-top">
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-desktop"></i> Monitoreo
                </span>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-medium-bottom uk-margin-medium-top">
            <div class="uk-width-1-1">
                <div v-if="etapas.length > 0">
                    <div class="uk-grid">
                        <div class="uk-width-1-1 uk-margin-small-bottom">
                            <div class="uk-grid uk-margin-remove-left">
                                <div class="uk-width-1-2 uk-text-center uk-text-uppercase uk-table-info uk-text-bold">
                                    Cédula de Resultados Preliminares
                                </div>
                                <div class="uk-width-1-2 uk-text-center uk-text-uppercase uk-table-info uk-text-bold">
                                    Solventación de Cédula de Resultados Preliminares
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-remove-left uk-margin-remove-top">
                                <div class="uk-width-1-2">
                                    <div class="uk-grid uk-flex uk-flex-center">
                                        <div class="uk-width-2-5 uk-text-center uk-text-uppercase uk-table-info-second uk-padding-remove-left">
                                            Periodo de Revisión
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2">
                                    <div class="uk-grid uk-flex uk-flex-center">
                                        <div class="uk-width-2-5 uk-text-center uk-text-uppercase uk-table-info-second uk-padding-remove-left">
                                            Periodo de Revisión
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1">
                            <vue-step :now-step="setCurrentStep" :step-list="etapas" style-type="style2"></vue-step>
                        </div>
                    </div>
                </div>
                <div v-else class="uk-text-center uk-margin-small-top uk-text-uppercase">
                    <div uk-spinner></div>
                    <br>
                    Cargando...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vueStep from 'vue-step';
    export default {
        name: "MonitoreoAiuditoria",
        props: ['auditoria'],
        components: {
            vueStep
        },
        created() {
            this.getEtapas();
        },
        data() {
            return {
                etapas: [],
                etapaAuditoria: '',
            }
        },
        methods: {
            getEtapas(){
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/get-etapas-auditoria', data).then(resp => {
                    let etapas = [];
                    for(let i = 0; i < resp.data.etapas.length; i++) {
                        let etapa_temp = resp.data.etapas[i].DescripcionCorta;
                        etapas.push(etapa_temp.toUpperCase());
                    }
                    this.etapas = etapas;
                    this.getEtapaAuditoria();
                }).catch(e => {
                    console.log(e);
                    this.etapas = [];
                });
            },
            getEtapaAuditoria(){
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/get-etapa-auditoria', data).then(resp => {
                    this.etapaAuditoria = resp.data.etapa_actual.DescripcionCorta.toUpperCase();
                }).catch(e => {
                    console.log(e)
                })
            },
        },
        computed: {
            setCurrentStep() {
                if(this.etapaAuditoria === '') {
                    return 1;
                } else {
                    let step = 0;
                    for(let i = 0; i < this.etapas.length; i++) {
                        if(step === 0) {
                            if(this.etapas[i] === this.etapaAuditoria) {
                                step = i + 1;
                            }
                        }
                    }
                    return step;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-table-info{
        background-color: #616161;
        color: white;
        border: 1px #424242 solid;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .uk-table-info-second{
        background-color: #9E9E9E;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
