<template>
    <div class="uk-container" uk-height-viewport="offset-top: true">
        <div class="uk-grid">
            <div>
                Página no encontrada
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Error",
        created() {
            window.location.href = "/";
        }
    }
</script>

<style scoped>

</style>
