<template>

</template>

<script>
    export default {
        name: "404_Dashboard",
        created() {
            window.location.href = "/panel";
        }
    }
</script>

<style scoped>

</style>
