<template>
    <div>
        <div class="uk-container">
            <div class="uk-grid uk-flex uk-flex-center uk-margin-medium-top uk-margin-remove-left">
                <div class="uk-width-1-3@m uk-text-center uk-padding-remove-left">
                    <img src="/img/osafig2018.png" alt="OSAFIG">
                    <h2 class="uk-text-uppercase uk-margin-small-top">
                        Auditoría en Línea
                    </h2>
                </div>
            </div>
            <div class="uk-grid uk-flex uk-flex-center uk-margin-small-top uk-margin-remove-left">
                <div class="uk-width-1-3@m uk-padding-remove-left">
                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-small-top uk-margin-medium-bottom">
                        <h3 class="uk-card-title uk-text-center uk-text-uppercase">
                            Iniciar sesión
                        </h3>
                        <div class="uk-alert-danger uk-border-rounded" uk-alert v-show="error !== false">
                            <p class="uk-text-small uk-text-uppercase">{{ error }}</p>
                        </div>
                        <form class="uk-form-stacked" @submit.prevent="login()">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="email">Correo electrónico</label>
                                <div class="uk-form-controls">
                                    <input v-model="form.email"
                                           class="uk-input uk-width-1-1 uk-form-large uk-border-rounded"
                                           id="email"
                                           type="email"
                                           required>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="password">Contraseña</label>
                                <div class="uk-form-controls">
                                    <input v-model="form.password"
                                           class="uk-input uk-width-1-1 uk-form-large uk-border-rounded"
                                           id="password"
                                           type="password"
                                           required>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <button type="submit"
                                        class="uk-button uk-button-primary uk-border-rounded uk-button-large uk-width-1-1" :disabled="accediendo">
                                    Iniciar sesión
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
        data() {
            return {
                form: {
                    email:    '',
                    password: ''
                },
                error: false,
                accediendo: false
            }
        },
        methods: {
            login() {
                this.error = false;
                this.accediendo = true;
                axios.post('/api/login', this.form).then(res => {
                    if(typeof res.data.api_token !== 'undefined'){
                        this.accediendo = false;
                        localStorage.setItem('api_token', res.data.api_token);
                        window.axios.defaults.headers.common['Authorization'] = `Bearer ${res.data.api_token}`;
                        if(res.data.enlace == false) {
                            localStorage.setItem('tipo_usuario', 'osafig');
                            this.$router.push({name: 'dashboard'});
                        } else {
                            localStorage.setItem('tipo_usuario', 'enlace');
                            this.$router.push({name: 'dashboard_enlace'});
                        }
                    } else {
                        throw new Error('Usuario no válido');
                    }
                }).catch(err => {
                    this.accediendo = false;
                    if(typeof err.response === 'undefined'){
                        this.error = err;
                    } else {
                        this.error = err.response.data.message;
                    }
                });
            }
        },
    }
</script>

<style lang="scss" scoped>
    .uk-container{
        h2{
            font-family: $ff-franklin;
            font-weight: 300;
            font-size: 22px;
        }
        h3 {
            font-family: $ff-franklin;
            font-weight: 300;
            font-size: 17px;
        }
        .uk-button-primary {
            font-family: $ff-franklin;
            background-color: $color-primary;
            color: $color-white;
            &:active {
                background-color: $color-primary;
                color: $color-white;
            }
        }
        .uk-button-primary:disabled,
        .uk-button-primary[disabled] {
            background-color: $color-grey-disabled;
            color: $color-black;
        }

    }
</style>
