<template>
    <div class="uk-width-1-2@m uk-margin-small-bottom">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-height-small-custom uk-padding-small uk-card-hover uk-animation-fade"
             @click="goTo">
            <div class="uk-grid uk-height-1-1">
                <div class="uk-width-1-5 uk-flex uk-flex-middle uk-flex-center uk-height-1-1">
                    <slot></slot>
                </div>
                <div class="uk-width-4-5 uk-height-1-1 uk-flex uk-flex-middle">
                    <div>
                        <p class="uk-text-bold uk-margin-small-bottom uk-margin-top-custom uk-text-uppercase">
                            {{title}}
                        </p>
                        <template v-if="status !== null">
                            <p class="uk-margin-small-top uk-text-uppercase uk-text-small uk-text-danger" v-if="status === false">
                                <i class="far fa-times-circle"></i> PENDIENTE
                            </p>
                            <p v-else class="uk-margin-small-top uk-text-uppercase uk-text-small uk-text-success">
                                <i class="far fa-check-circle"></i> CONTESTADA
                            </p>
                        </template>
                        <template v-else>
                            <p class="uk-margin-small-top uk-text-uppercase uk-text-small">
                                (OPCIONAL)
                            </p>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "MenuCardSmall",
        props: ['title', 'goToUrl', 'status'],
        methods: {
            goTo() {
                if(this.goToUrl !== '') {
                    window.scrollTo(0, 100);
                    this.$router.push({name: this.goToUrl});
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-card{
        border-left: 7px $color-black solid;
        &:hover{
            cursor: pointer;
            color: $color-primary;
            border-left: 7px $color-primary solid;
        }
        p {
            font-family: $ff-franklin !important;
        }
    }
    .uk-margin-top-custom{
        margin-top: 10px;
    }
    .uk-height-small-custom{
        height: 120px;
    }
</style>
