<template>
    <div class="uk-width-1-2@m uk-margin-small-bottom">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-height-small uk-padding-small uk-card-hover uk-animation-fade" @click="goTo">
            <div class="uk-grid uk-height-1-1">
                <div class="uk-width-1-5 uk-flex uk-flex-middle uk-flex-center uk-height-1-1">
                    <slot></slot>
                </div>
                <div class="uk-width-4-5 uk-height-1-1">
                    <p class="uk-text-bold uk-margin-small-bottom uk-margin-top-custom uk-text-uppercase">
                        {{title}}
                    </p>
                    <p class="uk-margin-small-top uk-text-uppercase uk-text-small">
                        {{description}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "MenuCard",
        props: ['title', 'description', 'goToUrl'],
        methods: {
            goTo() {
                if(_.isObject(this.goToUrl)) {
                    let name = this.goToUrl.name;
                    let platform = JSON.parse(this.goToUrl.params.platform);
                    this.$router.push({
                        name: name,
                        params: {
                            platform: platform.Descripcion
                        }
                    });
                } else {
                    if(this.goToUrl !== '') {
                        this.$router.push({
                            name: this.goToUrl
                        });
                    }
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-card{
        border-left: 7px $color-black solid;
        &:hover{
            cursor: pointer;
            color: $color-primary;
            border-left: 7px $color-primary solid;
        }
        p {
            font-family: $ff-franklin !important;
        }
    }
    .uk-margin-top-custom{
        margin-top: 25px;
    }
</style>
