<template>
    <nav class="uk-navbar-container uk-box-shadow-small" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#!">
                <img src="/img/osafig2018.png" alt="OSAFIG" width="150">
            </a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a class="uk-text-bold">
                        <span v-if="typeof getUserName === 'undefined'">
                            <div uk-spinner="ratio: 0.7"></div>
                        </span>
                        <span v-else>
                            {{ getUserName }}
                        </span>
                    </a>
                </li>
                <li>
                    <a uk-toggle="target: #modal-cambio-pswd" @click="user_id = getDataUser.UsuarioID">
                        <i class="fas fa-key fa-lg" uk-tooltip="CAMBIAR CONTRASEÑA" ></i>
                    </a>
                </li>
                <li>
                    <router-link tag="a" to="" v-on:click.native="logout" uk-tooltip="SALIR">
                        <i class="fas fa-times-circle fa-lg"></i>
                    </router-link>
                </li>
            </ul>
        </div>
        <!-- This is the modal -->
        <div id="modal-cambio-pswd" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">¿Desea cambiar la contraseña?</h2>
                <div class="uk-alert-primary" uk-alert>
                    <p>La contraseña debe tener por lo menos 8 caracteres</p>
                </div>
                <form @submit.prevent='updatePassword'>
                    <label class="uk-form-label uk-text-uppercase">Ingrese la nueva contraseña</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded"
                                id="nueva-password"
                                type="password"
                                minlength="8"
                                v-model="password_new"
                                required>
                    </div>
                    <label class="uk-form-label uk-text-uppercase">Verifique la nueva contraseña</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded"
                                id="conforma-password"
                                type="password"
                                minlength="8"
                                v-model="password_verified"
                                required>
                    </div>
                    <div class="uk-alert-danger uk-hidden uk-notificacion" uk-alert>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close uk-border-rounded" type="button">Cancelar</button>
                        <button class="uk-button uk-button-primary uk-border-rounded"
                            style="background-color: #7A0A2C  !important;"
                            type="submit">
                            Guardar
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "NavBar",
        async created() {
            try {
                await this.$store.dispatch('getUser');
            } catch (e) {
                console.error(error);
            }
        },
        data() {
            return {
                password_new:'',
                password_verified:'',
                user_id: '',
            }
        },
        methods: {
            logout() {
                UIkit.modal.confirm('¿CONFIRMA QUE DESEA SALIR?').then(() => {
                    localStorage.removeItem('api_token');
                    localStorage.removeItem('tipo_usuario');
                    localStorage.removeItem('user_rol');
                    this.$router.push({name: 'home'});
                    this.$store.dispatch('logoutUser');
                },  () => console.log('Cerrar sesión cancelado'));
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            },
            updatePassword(){
                let data = {
                    usuario_id: this.user_id,
                    password: this.password_new
                };

                if( this.password_new == this.password_verified){
                    axios.post('/api/administracion-ti/update-password', data).then(resp=>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        UIkit.modal('#modal-cambio-pswd').hide();
                    }).catch(e =>{
                        console.log(e);
                    })
                }else{
                    alert('Las contraseñas no coinciden');
                }
            }
        },
        computed: {
            getUserName(){
                return this.$store.getters.fullNameUser;
            },
            getDataUser(){
                return this.$store.getters.dataUser;
            }
        },
    }
</script>

<style lang="scss" scoped>
    .uk-navbar-container:not(.uk-navbar-transparent){
        background-color: $color-white;
        .uk-navbar-right{
            .uk-navbar-nav{
                li > a > span {
                    font-family: $ff-franklin !important;
                }
            }
        }
    }
</style>
