<template>
    <div class="uk-grid uk-margin-remove-left">
        <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-bottom uk-alert uk-border-rounded">
            <p class="uk-text-uppercase uk-text-bold">
                Documentación anexa
            </p>
            <table class="uk-table uk-table-small uk-text-small uk-table-middle uk-table-striped uk-table-divider uk-table-hover">
                <thead>
                <tr>
                    <th class="uk-text-center">#</th>
                    <th class="uk-text-left">Nombre de documento</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(anexo, index) in anexos">
                    <td class="uk-text-center">{{ index + 1 }}</td>
                    <td class="uk-text-left uk-text-uppercase">
                        <i :class="setFileIcon(anexo.NombreArchivo)"></i> {{ anexo.NombreArchivo }}
                    </td>
                    <td class="uk-text-right">
                        <form class="uk-display-inline" @submit.prevent="previewAnexo(anexo)">
                            <button class="uk-link-reset uk-button-delete uk-border-rounded uk-padding-small"
                                    uk-tooltip="Ver documento"
                                    type="submit">
                                <i class="fas fa-eye"></i>
                            </button>
                        </form>
                        <form action="/api/auditor/descargar-anexo"
                              method="post"
                              class="uk-display-inline"
                              target="_blank">
                            <input type="hidden" id="anexo_id" name="anexo_id" :value="anexo.AnexoID">
                            <input type="hidden" id="api_token" name="api_token" :value="getApiToken">
                            <button class="uk-link-reset uk-button-delete uk-border-rounded uk-padding-small"
                                    type="submit"
                                    uk-tooltip="Descargar documento">
                                <i class="fas fa-download"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DocumentacionAnexada",
        props: ['anexos', 'pregunta'],
        methods: {
            setFileIcon(nameFile) {
                if(nameFile.includes('.pdf') || nameFile.includes('.PDF')) {
                    return 'fas fa-file-pdf fa-2x';
                } else if(nameFile.includes('.docx') || nameFile.includes('.DOCX') || nameFile.includes('.doc') || nameFile.includes('.DOC')) {
                    return 'fas fa-file-word fa-2x';
                } else if(nameFile.includes('.xlsx') || nameFile.includes('.XLSX') || nameFile.includes('.xls') || nameFile.includes('.XLS')) {
                    return 'fas fa-file-excel fa-2x';
                } else if(nameFile.includes('.zip') || nameFile.includes('.ZIP') || nameFile.includes('.rar') || nameFile.includes('.RAR')) {
                    return 'fas fa-file-archive fa-2x';
                } else if(nameFile.includes('.jpg') || nameFile.includes('.JPG') || nameFile.includes('.jpeg') || nameFile.includes('.JPEG') || nameFile.includes('.png') || nameFile.includes('.PNG')) {
                    return 'fas fa-image fa-2x';
                } else if(nameFile.includes('.pptx') || nameFile.includes('.ppt')) {
                    return 'fas fa-file-powerpoint fa-2x';
                }else {
                    return 'fas fa-file fa-2x';
                }
            },
            previewAnexo(anexo) {
                let url = window.location;
                let baseUrl = '';
                if(anexo.NombreArchivo.includes('.pdf') || anexo.NombreArchivo.includes('.PDF')) {
                    baseUrl = url .protocol + "//" + url.host+"/"+anexo.Ruta;
                } else {
                    baseUrl = url .protocol + "//" + url.host+"/panel/sad/responsable/preview-anexo/"+anexo.Hash;
                }
                window.open(baseUrl);
            }
        },
        computed: {
            getApiToken(){
                return localStorage.getItem('api_token');
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-delete {
        border: 1px $color-primary solid;
        color: $color-primary !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        &:hover {
            background-color: $color-primary;
            color: $color-white !important;
        }
    }
</style>
