<template>
    <form @submit.prevent="save">
        <!--Primera sección-->
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de bien*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" id="tipo-vehiculo" v-model="tipo_bien_id" required>
                        <option value="">Selecciona un tipo de bien mueble</option>
                        <option v-for="(tipo_bien_mueble, index) in cat_bienes_mueble" :key="index"
                                :value="tipo_bien_mueble.TipoBienID">{{tipo_bien_mueble.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="tipo_bien_id == 99">
                <label class="uk-form-label uk-text-uppercase">Especifique*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo_bien"
                           type="text"
                           required
                           v-model="otro_tipo_inmueble">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Titular del bien*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_titular" required>
                        <option value="">Seleccione el/los titulares</option>
                        <option v-for="(tipo, index) in cat_tipo_titular" :key="index"
                                :value="tipo.TipoTitular">{{tipo.TipoTitular}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Descripción general del bien*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="marca"
                           type="text"
                           required
                           v-model="descripcion_general">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Forma de adquisición*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="forma_adquisicion" required>
                        <option value="">Seleccione la forma de adquisición</option>
                        <option v-for="(forma_adquisicion, index) in cat_forma_adquisicion" :key="index"
                                :value="forma_adquisicion.FormaOperacionID">{{forma_adquisicion.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Forma de pago*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="forma_pago" required>
                        <option value="">Seleccione forma de pago</option>
                        <option value="Crédito">Crédito</option>
                        <option value="Contado">Contado</option>
                        <option value="No aplica">No aplica</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Valor de adquisición del mueble</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="valor-adquisicion"
                           type="number"
                           v-model="valor">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Tipo de moneda</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo-moneda"
                           type="text"
                           v-model="tipo_moneda">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Fecha de adquisición</label>
                <div class="uk-form-controls">
                    <flat-pickr id="fecha_inicio"
                                v-model="fecha_adquisicion"
                                :config="config"
                                class="uk-input uk-border-rounded"/>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">
                    En caso de baja del mueble incluir motivo (Venta, Donación, Siniestro, Otro)</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="motivo-baja"
                           type="text"
                           v-model="motivo_baja">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <textarea rows="3"
                              class="uk-textarea uk-border-rounded uk-text-uppercase"
                              v-model.trim="observaciones"
                              id="funciones">
                    </textarea>
                </div>
            </div>
        </div>
        <!-- Seccion terceros -->
        <div id="datos-terceros" v-if="showTerceros">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-file-invoice"></i> Datos terceros
                </span>
            </div>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Tipo persona*</label>
                    <div class="uk-form-controls">
                        <div class="uk-grid-small uk-child-width-auto uk-grid">
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona === 0}">
                                <input class="uk-radio" type="radio" v-model="tipo_persona" name="radio2" checked :value="0" required>Persona física
                            </label>
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona === 1}">
                                <input class="uk-radio" type="radio" v-model="tipo_persona" name="radio2" :value="1">Persona Moral
                            </label>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="nombre-terceros">Nombre del tercero o terceros*</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="nombre-terceros"
                               type="text"
                               required
                               v-model="nombre_tercero">
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">RFC</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="rfc-terceros"
                               type="text"
                               v-model="rfc_tercero">
                    </div>
                </div>
            </div>
        </div>
        <!-- Seccion Transmisor -->
        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
            <span class="uk-text-bold">
                <i class="fas fa-file-invoice"></i> Datos transmisor
            </span>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo persona*</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona_transmisor === 1}">
                            <input class="uk-radio" type="radio" v-model="tipo_persona_transmisor" name="radio1" checked :value="1" required>Persona física
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona_transmisor === 2}">
                            <input class="uk-radio" type="radio" v-model="tipo_persona_transmisor" name="radio1" :value="2">Persona Moral
                        </label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre-terceros">Nombre o razón social del transmisor de la propiedad*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="nombre-transmisor"
                           type="text"
                           required
                           v-model="nombre_transmisor">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">RFC Transmisor</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="rfc-transmisor"
                           type="text"
                           v-model="rfc_transmisor">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Relación del transmisor de la propiedad con el titular</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="vinculo_transmisor">
                        <option value="">Seleccione el tipo de relación con el transmisor</option>
                        <option v-for="(vinculo, index) in cat_vinculo_personal" :key="index"
                                :value="vinculo.Nombre">
                            {{vinculo.Nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                    <span v-show="btnLoading === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    export default {
        name: "BienesMueblesForm",
        props:[
            'cat_bienes_mueble',
            'cat_tipo_titular',
            'cat_vinculo_personal',
            'cat_forma_adquisicion',
            'bien'
        ],
        components: {
            flatPickr
        },
        mounted() {
            if(_.isEmpty(this.bien) === false) {
                let bien_mueble = this.bien;
                this.tipo_bien_id = bien_mueble.TipoBienID;
                this.tipo_titular = bien_mueble.Titular;
                this.otro_tipo_inmueble = (_.isNull(bien_mueble.OtroTipoBien)) ? '' : bien_mueble.OtroTipoBien;
                this.forma_adquisicion = bien_mueble.FormaAdquisicionID;
                this.forma_pago = bien_mueble.FormaPago;
                this.descripcion_general = (_.isNull(bien_mueble.DescripcionBien)) ? '' : bien_mueble.DescripcionBien;
                this.tipo_moneda = bien_mueble.TipoMoneda;
                this.valor = bien_mueble.Valor;
                this.fecha_adquisicion = bien_mueble.FechaOperacion;
                this.motivo_baja = (_.isNull(bien_mueble.MotivoBaja)) ? '' : bien_mueble.MotivoBaja;
                this.observaciones = (_.isNull(bien_mueble.Observaciones)) ? '' : bien_mueble.Observaciones;
                this.tipo_persona = parseInt(bien_mueble.TipoPersonaTercero);
                this.nombre_tercero = (_.isNull(bien_mueble.NombreTercero)) ? '' : bien_mueble.NombreTercero;
                this.rfc_tercero = (_.isNull(bien_mueble.RFCTercero)) ? '' : bien_mueble.RFCTercero;
                this.nombre_transmisor = (_.isNull(bien_mueble.NombreRazonSocial)) ? '' : bien_mueble.NombreRazonSocial;
                this.tipo_persona_transmisor = parseInt(bien_mueble.TipoPersonaTransmisor);
                this.rfc_transmisor = (_.isNull(bien_mueble.RFCTRansmisor)) ? '' : bien_mueble.RFCTRansmisor;
                this.vinculo_transmisor = (_.isNull(bien_mueble.RelacionTransmisor)) ? '' : bien_mueble.RelacionTransmisor;
                this.bien_mueble = bien_mueble.BienMuebleID;
            }
        },
        data() {
            return {
                bien_mueble: null,
                tipo_bien_id: "",
                tipo_titular: "",
                otro_tipo_inmueble: "",
                forma_adquisicion: "",
                forma_pago: "",
                descripcion_general: "",
                tipo_moneda: "",
                valor: "",
                en_extranjero: 0,
                fecha_adquisicion: "",
                motivo_baja: "",
                observaciones: "",
                tipo_persona: 0,
                nombre_tercero: "",
                rfc_tercero: "",
                nombre_transmisor: "",
                tipo_persona_transmisor: 1,
                rfc_transmisor: "",
                vinculo_transmisor: "",
                btnLoading: false,
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
            }
        },
        methods: {
            save(){
                let bien_mueble_id;
                if(this.bien_mueble == null){
                    bien_mueble_id = null;
                } else {
                    bien_mueble_id = this.bien_mueble;
                }
                let data = {};
                data.declaracion_id          = this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.tipo_bien_id            = this.tipo_bien_id;
                data.titular                 = this.tipo_titular;
                data.tipo_persona_transmisor = this.tipo_persona_transmisor;
                data.nombre_razon_social     = this.nombre_transmisor;
                data.rfc_transmisor          = this.rfc_transmisor;
                data.relacion_transmisor     = this.vinculo_transmisor;
                data.nombre_tercero          = this.nombre_tercero;
                data.tipo_persona_tercero    = this.tipo_persona;
                data.rfc_tercero             = this.rfc_tercero;
                data.forma_adquisiscion_id   = this.forma_adquisicion;
                data.forma_pago              = this.forma_pago;
                data.valor                   = this.valor;
                data.tipo_moneda             = this.tipo_moneda;
                data.fecha_operacion         = this.fecha_adquisicion;
                data.caracteristicas         = null;
                data.vehiculo_marca          = null;
                data.vehiculo_modelo         = null;
                data.vehiculo_no_serie       = null;
                data.en_extranjero           = null;
                data.vehiculo_anio           = null;
                data.motivo_baja             = this.motivo_baja;
                data.descripcion_bien        = this.descripcion_general;
                data.ubicacion               = null;
                data.observaciones           = this.observaciones;
                data.otro_tipo_bien          = this.otro_tipo_bien;
                data.bien_mueble_id          = bien_mueble_id;

                this.btnLoading = true;
                axios.post('/api/declaracion/save-vehiculo',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            cancel() {
                this.$emit('cancel');
            },
        },
        computed: {
            showTerceros(){
                if(this.tipo_titular != 'DECLARANTE' && this.tipo_titular != null){
                    return true;
                }else{
                    return false;
                }
            },
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
