<template>
    <form @submit.prevent="save">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
            </div>
        </div>
        <!--cargar catalogo de tipos de bienes con filtro inmueble -->
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo inmueble*</label>
                <div class="uk-form-controls">
                    <select v-model="tipo_inmueble" class="uk-select uk-border-rounded" required>
                        <option value="">Seleccione una opción</option>
                        <option v-for="(tipo_bien, index) in cat_bien_inmueble" :key="index"
                                :value="tipo_bien.TipoBienID">{{tipo_bien.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="tipo_inmueble == 99">
                <label class="uk-form-label uk-text-uppercase">Especifique*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo_bien1"
                           type="text"
                           v-model="otro_tipo_inmueble"
                           required>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Titular del inmueble*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_titular" required>
                        <option value="">Seleccione el/los titulares</option>
                        <option v-for="(tipo_titular, index) in cat_tipo_titular" :key="index"
                                :value="tipo_titular.TipoTitular">{{tipo_titular.TipoTitular}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="showTerceros">
                <label class="uk-form-label uk-text-uppercase">Porcentaje de propiedad del declarante conforme a escrituración o contrato*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="porcentaje"
                           type="number"
                           max="100"
                           v-model="porcentaje_propiedad">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Superficie del terreno* (en metros cuadrados)</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="superficie-terreno"
                           type="number"
                           v-model="superficie_terreno"
                           required>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Superficie de construcción* (en metros cuadrados)</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="superficie-contruccion"
                           type="number"
                           required
                           v-model="superficie_construida">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Forma de adquisición*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="forma_adquisicion" required>
                        <option value="">Seleccione la forma de adquisición</option>
                        <option v-for="(forma_adquisicion, index) in cat_forma_adquisicion" :key="index"
                                :value="forma_adquisicion.FormaOperacionID">{{forma_adquisicion.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Forma de pago*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="forma_pago" required>
                        <option value="">Seleccione forma de pago</option>
                        <option value="Crédito">Crédito</option>
                        <option value="Contado">Contado</option>
                        <option value="No aplica">No aplica</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Valor de adquisición*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="valor-adquisicion"
                           type="number"
                           v-model="valor_adquisicion">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de moneda*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo-moneda"
                           type="text"
                           v-model="tipo_moneda">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿el valor de adquisición del inmueble es conforme a?*</label>
                <div class="uk-form-controls">
                    <select class="uk-select" v-model="valor_conforme">
                        <option value="">Seleccione una de las opciones</option>
                        <option value="Escritura pública">Escritura pública</option>
                        <option value="Sentencia">Sentencia</option>
                        <option value="Contrato">Contrato</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Fecha de adquisición del inmueble*</label>
                <div class="uk-form-controls">
                    <flat-pickr id="fecha_ingreso"
                                :config="config"
                                v-model="fecha_adquisicion"
                                class="uk-input uk-border-rounded uk-text-uppercase"/>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Folio real*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="folio-real"
                           type="text"
                           v-model="folio_real">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Motivo baja inmueble</label>
                <div class="uk-form-controls">
                    <select class="uk-select" v-model="motivo_baja">
                        <option value="">Seleccione un motivo de baja</option>
                        <option value="Venta">Venta</option>
                        <option value="Donacion">Donación</option>
                        <option value="Siniestro">Siniestro</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="motivo_baja == 'Otro'">
                <label class="uk-form-label uk-text-uppercase">Especifique</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo_bien2"
                           type="text"
                           v-model="otro_motivo">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Aclaraciones / Observaciones</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea uk-border-rounded uk-text-uppercase"
                              id="observaciones"
                              rows="3"
                              v-model.trim="observaciones">
                    </textarea>
                </div>
            </div>
        </div>
        <!-- Seccion terceros -->
        <div id="datos-terceros" v-if="showTerceros">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-file-invoice"></i> Datos terceros
                </span>
            </div>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Tipo persona</label>
                    <div class="uk-form-controls">
                        <div class="uk-grid-small uk-child-width-auto uk-grid">
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona === 1}">
                                <input class="uk-radio"
                                       type="radio"
                                       name="radio2"
                                       v-model="tipo_persona"
                                       :value="1">Persona Fisíca
                            </label>
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona === 2}">
                                <input class="uk-radio"
                                       type="radio"
                                       name="radio2"
                                       v-model="tipo_persona"
                                       :value="2">Persona Moral
                            </label>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="nombre-terceros">Nombre del tercero o terceros</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               v-model="nombre_tercero"
                               id="nombre-terceros"
                               type="text">
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">RFC</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="rfc-terceros"
                               v-model="rfc_tercero"
                               type="text">
                    </div>
                </div>
            </div>
        </div>
        <!-- Seccion Transmisor -->
        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
            <span class="uk-text-bold">
                <i class="fas fa-file-invoice"></i> Datos transmisor
            </span>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo persona</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona_transmisor === 1}">
                            <input class="uk-radio"
                                   type="radio"
                                   name="radio3"
                                   v-model="tipo_persona_transmisor"
                                   :value="1">Persona física</label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona_transmisor === 2}">
                            <input class="uk-radio"
                                   type="radio"
                                   name="radio3"
                                   v-model="tipo_persona_transmisor"
                                   :value="2">Persona Moral</label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre-terceros">Nombre o razón social del transmisor de la propiedad</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="nombre-transmisor"
                           type="text"
                           v-model="nombre_transmisor">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">RFC Transmisor</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="rfc-transmisor"
                           type="text"
                           v-model="rfc_transmisor">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Relación del transmisor de la propiedad con el titular</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="vinculo_transmisor">
                        <option value="">Seleccione el tipo de relación con el transmisor</option>
                        <option v-for="(vinculo, index) in cat_vinculo_personal" :key="index"
                                :value="vinculo.Nombre">{{vinculo.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="vinculo_transmisor == 'Otro'">
                <label class="uk-form-label uk-text-uppercase">Especifique</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo_bien"
                           type="text"
                           v-model="otro_vinculo">
                </div>
            </div>
        </div>
        <!-- Domicilio -->
        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
            <span class="uk-text-bold">
                <i class="fas fa-home"></i> Datos dirección
            </span>
        </div>
        <direccion :estados="estados" :direccion="direccion"></direccion>
        <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
            <button class="uk-button uk-button-default uk-border-rounded"
                    @click="cancel"
                    type="button">
                <span>Cancelar</span>
            </button>
            <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                <span v-show="btnLoading === false">Guardar</span>
                <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
            </button>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Direccion from "@/js/views/dashboard/declaracion/components/Direccion.vue";
    export default {
        name: "BienesInmueblesForm",
        props: [
            'cat_bien_inmueble',
            'cat_tipo_titular',
            'cat_forma_adquisicion',
            'cat_vinculo_personal',
            'estados',
            'bienEditar'
        ],
        components:{
            flatPickr,
            Direccion
        },
        mounted() {
            if(_.isEmpty(this.bienEditar) === false) {
                this.tipo_inmueble          = this.bienEditar.TipoBienID;
                this.otro_tipo_inmueble     = (_.isNull(this.bienEditar.OtroTipoBien)) ? '' : this.bienEditar.OtroTipoBien;
                this.tipo_titular           = this.bienEditar.Titular;
                this.porcentaje_propiedad   = (_.isNull(this.bienEditar.PorcentajePropiedad)) ? '' : this.bienEditar.PorcentajePropiedad;
                this.superficie_terreno     = this.bienEditar.SuperficieTerreno;
                this.superficie_construida  = this.bienEditar.SuperficieConstruida;
                this.forma_adquisicion      = this.bienEditar.FormaOperacionID;
                this.forma_pago             = this.bienEditar.FormaPago;
                this.valor_adquisicion      = this.bienEditar.Valor;
                this.tipo_moneda            = this.bienEditar.TipoMoneda;
                this.valor_conforme         = this.bienEditar.ValorConformeA;
                this.fecha_adquisicion      = this.bienEditar.FechaOperacion;
                this.folio_real             = this.bienEditar.FolioReal;
                this.motivo_baja            = (_.isNull(this.bienEditar.MotivoBaja)) ? '' : this.bienEditar.MotivoBaja;
                this.otro_motivo            = (_.isNull(this.bienEditar.MotivoBaja)) ? '' : this.bienEditar.MotivoBaja;
                this.observaciones          = (_.isNull(this.bienEditar.Observaciones)) ? '' : this.bienEditar.Observaciones;
                this.tipo_persona           = parseInt(this.bienEditar.TipoPersonaTercero);
                this.nombre_tercero         = this.bienEditar.NombreTercero;
                this.rfc_tercero            = this.bienEditar.RFCTercero;
                this.tipo_persona_transmisor= parseInt(this.bienEditar.TipoPersonaTransmisor);
                this.nombre_transmisor      = this.bienEditar.NombreTransmisor;
                this.rfc_transmisor         = this.bienEditar.RFCTransmisor;
                this.vinculo_transmisor     = this.bienEditar.RelacionTransmisor;
                this.otro_vinculo           = this.bienEditar.RelacionTransmisor;
                this.bien_inmueble          = this.bienEditar.BienInmuebleID;
                this.getDireccion(this.bienEditar.DireccionID);
            }
        },
        data() {
            return {
                bien_inmueble:          null,
                tipo_inmueble:          "",
                otro_tipo_inmueble:     "",
                tipo_titular:           "",
                porcentaje_propiedad:   "",
                superficie_terreno:     "",
                superficie_construida:  "",
                forma_adquisicion:      "",
                forma_pago:             "",
                valor_adquisicion:      "",
                tipo_moneda:            "",
                valor_conforme:         "",
                fecha_adquisicion:      "",
                folio_real:             "",
                motivo_baja:            "",
                otro_motivo:            "",
                observaciones:          "",
                tipo_persona:            1,
                nombre_tercero:         "",
                rfc_tercero:            "",
                tipo_persona_transmisor: 1,
                nombre_transmisor:      "",
                rfc_transmisor:         "",
                vinculo_transmisor:     "",
                otro_vinculo:           "",
                btnLoading:             false,
                direccion:              {},
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
            }
        },
        methods: {
            save(){
                // asignacion de variables del formulario
                let data                      = this.getDatosDireccion;
                data.declaracion_id           = this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.tipo_bien_id             = this.tipo_inmueble;
                data.otro_tipo_bien           = this.otro_tipo_inmueble;
                data.titular                  = this.tipo_titular;
                data.porcentaje_propiedad     = this.porcentaje_propiedad;
                data.superficie_terreno       = this.superficie_terreno;
                data.superficie_construida    = this.superficie_construida;
                data.tipo_persona_tercero     = this.tipo_persona;
                data.nombre_tercero           = this.nombre_tercero;
                data.rfc_tercero              = this.rfc_tercero;
                data.forma_adquisicion        = this.forma_adquisicion;
                data.forma_pago               = this.forma_pago;
                data.tipo_persona_transmisor  = this.tipo_persona_transmisor;
                data.nombre_transmisor        = this.nombre_transmisor;
                data.rfc_transmisor           = this.rfc_transmisor;
                data.vinculo_transmisor       = this.vinculo_transmisor;
                data.valor                    = this.valor_adquisicion;
                data.tipo_moneda              = this.tipo_moneda;
                data.fecha_operacion          = this.fecha_adquisicion;
                data.valor_conforme_a         = this.valor_conforme;
                data.folio_real               = this.folio_real;
                data.motivo_baja              = this.motivo_baja;
                data.observaciones            = this.observaciones;
                data.bien_inmueble            = this.bien_inmueble;
                this.btnLoading               = true;
                axios.post('/api/declaracion/save-bien-inmueble',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            getDireccion(direccionID) {
                axios.post('/api/declaracion/get-direccion', {direcion_id: direccionID}).then(resp => {
                    this.direccion = resp.data.direccion;
                }).catch(e => {
                    console.log(e);
                })
            },
            cancel() {
                this.$store.commit('resetDireccion');
                this.$emit('cancel');
            }
        },
        computed: {
            showTerceros(){
                if(this.tipo_titular != 'DECLARANTE' && this.tipo_titular != null){
                    return true;
                }else{
                    return false;
                }
            },
            getDatosDireccion() {
                this.observaciones = this.$store.getters.direccionDeclaracion.observaciones;
                return this.$store.getters.direccionDeclaracion;
            },
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        },
        watch: {
            'getDatosDireccion': function(val) {
                this.observaciones = val.observaciones;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-input, .uk-select {
        text-transform: uppercase;
    }
</style>
