<template>
    <form @submit.prevent="save">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre *</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="nombre"
                           type="text"
                           v-model="nombre"
                           required>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="primerapellido">Primer apellido *</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="primerapellido"
                           type="text"
                           required
                           v-model="primer_apellido">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="segundoapellido">Segundo apellido</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="segundoapellido"
                           type="text"
                           v-model="segundo_apellido">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Fecha de nacimiento</label>
                <div class="uk-form-controls">
                    <flat-pickr id="fecha_ingreso"
                                :config="config"
                                class="uk-input uk-border-rounded"
                                v-model="fecha_nacimiento"/>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded"
                           id="rfc"
                           type="text"
                           v-model="rfc">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Relación con el declarante</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="relacion_id">
                        <option value="">Seleccione el tipo de relación</option>
                        <option v-for="(vinculo, index) in cat_vinculo_personal" :key="index"
                                :value="vinculo.VinculoID">{{vinculo.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Es ciudadano extranjero?</label>
                <div class="uk-grid-small uk-child-width-auto uk-grid">
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': es_extrajero === 1}">
                        <input class="uk-radio" type="radio" name="radio2" v-model="es_extrajero" :value="1">Sí
                    </label>
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': es_extrajero === 0}">
                        <input class="uk-radio" type="radio" name="radio2" v-model="es_extrajero" :value="0">No
                    </label>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">CURP</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="CURP"
                           type="text"
                           v-model="curp">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Es dependiente económico</label>
                <div class="uk-grid-small uk-child-width-auto uk-grid">
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': es_dependiente === 1}">
                        <input class="uk-radio" type="radio" name="radio3" v-model="es_dependiente" :value="1">Sí
                    </label>
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': es_dependiente === 0}">
                        <input class="uk-radio" type="radio" name="radio3" v-model="es_dependiente" :value="0">No
                    </label>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Habita en el domicilio del declarante?</label>
                <div class="uk-grid-small uk-child-width-auto uk-grid">
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': habita_domicilio === 1}">
                        <input class="uk-radio" type="radio" name="radio4" v-model="habita_domicilio" :value="1">Sí</label>
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': habita_domicilio === 0}">
                        <input class="uk-radio" type="radio" name="radio4" v-model="habita_domicilio" :value="0">No</label>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark" v-if="habita_domicilio === 0">
                <span class="uk-text-bold">
                    <i class="fas fa-home"></i> Domicilio de la pareja
                </span>
            </div>
            <direccion v-if="habita_domicilio === 0" :estados="estados" :direccion="direccion"></direccion>
            <experiencias-dependientes :dependiente="dependiente"></experiencias-dependientes>
            <hr>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Aclaraciones / Observaciones</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea uk-border-rounded uk-text-uppercase"
                              id="observaciones"
                              rows="3"
                              v-model="observaciones">
                    </textarea>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        @click="cancel"
                        type="button">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                    <span v-show="btnLoading === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Direccion from "@/js/views/dashboard/declaracion/components/Direccion.vue";
    import ExperienciasDependientes from "./ExperienciasDependientes";
    export default {
        name: "DependientesForm",
        props: ['cat_vinculo_personal', 'estados', 'dependiente', 'is_pareja'],
        components: {
            flatPickr,
            Direccion,
            ExperienciasDependientes
        },
        mounted() {
            if(_.isEmpty(this.dependiente) === false) {
                this.relacion_id = this.dependiente.RelacionID;
                this.nombre = this.dependiente.Nombres;
                this.primer_apellido = this.dependiente.PrimerApellido;
                this.segundo_apellido = (_.isNull(this.dependiente.SegundoApellido)) ? '' : this.dependiente.SegundoApellido;
                this.fecha_nacimiento = this.dependiente.FechaNacimiento;
                this.rfc = (_.isNull(this.dependiente.RFC)) ? '' : this.dependiente.RFC;
                this.es_extrajero = this.dependiente.CiudadanoExtranjero;
                this.curp = (_.isNull(this.dependiente.Curp)) ? '' : this.dependiente.Curp;
                this.es_dependiente = this.dependiente.DependienteEconomico;
                this.habita_domicilio = this.dependiente.DomicilioDeclarante;
                this.observaciones = (_.isNull(this.dependiente.Observaciones)) ? '' : this.dependiente.Observaciones;
                this.dependiente_id = this.dependiente.DependienteID;
                if(_.isNull(this.dependiente.DireccionID) === false) {
                    this.getDireccion(this.dependiente.DireccionID);
                }
            }
        },
        data(){
            return {
                btnLoading: false,
                direccion: {},
                experiencia:{},
                relacion_id: '',
                nombre: '',
                primer_apellido: '',
                segundo_apellido: '',
                fecha_nacimiento: '',
                rfc: '',
                es_extrajero: 0,
                curp: '',
                es_dependiente: 1,
                habita_domicilio: 1,
                observaciones: '',
                dependiente_id: null,
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
            }
        },
        methods: {
            save() {
                let data = this.getDatosDireccion;
                data.relacion_id =  this.relacion_id;
                data.nombre =  this.nombre;
                data.primer_apellido =  this.primer_apellido;
                data.segundo_apellido =  this.segundo_apellido;
                data.fecha_nacimiento =  this.fecha_nacimiento;
                data.rfc =  this.rfc;
                data.es_extrajero =  this.es_extrajero;
                data.curp =  this.curp;
                data.es_dependiente =  this.es_dependiente;
                data.habita_domicilio =  this.habita_domicilio;
                data.observaciones =  this.observaciones;
                data.is_pareja = this.is_pareja;
                data.dependiente_id = this.dependiente_id;
                this.btnLoading = true;
                axios.post('/api/declaracion/save-dependientes', data).then(resp => {
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    location.reload();
                    //this.$emit('reloadData');
                }).catch(e => {
                    this.btnLoading = false;
                    console.log(e);
                });
            },
            getDireccion(direccionID) {
                axios.post('/api/declaracion/get-direccion', {direcion_id: direccionID}).then(resp => {
                    this.direccion = resp.data.direccion;
                }).catch(e => {
                    console.log(e);
                })
            },
            cancel() {
                this.$store.commit('resetDireccion');
                this.$emit('cancel');
            }
        },
        computed: {
            getDatosDireccion() {
                return this.$store.getters.direccionDeclaracion;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-input, .uk-select {
        text-transform: uppercase;
    }
</style>
