<template>
    <div class="uk-grid uk-margin-small-top">
        <div class="uk-width-1-1@m">
            <!--Primera sección-->
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <span class="uk-text-bold">
                            <i class="fas fa-briefcase"></i> Experiencia laboral
                        </span>
                    </div>
                    <div class="uk-width-1-2 uk-text-right">
                        <button type="button"
                                class="uk-button uk-button-small uk-border-rounded uk-button-danger"
                                uk-tooltip="DE CLIC SI NO CUENTA CON EXPERIENCIAS LABORALES ANTERIORES"
                                @click="marcarNinguno" v-if="isDependienteEmpty === false">
                            Ninguno
                        </button>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-1@m uk-margin-small-bottom">
                    <div v-if="experiencias.length > 0">
                        <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-table-middle"
                               v-if="formato === 0">
                            <thead>
                            <tr>
                                <th class="uk-width-auto">Cargo</th>
                                <th class="uk-width-auto uk-text-center">Ente / Empresa</th>
                                <th class="uk-width-auto  uk-text-center">Ambito o sector</th>
                                <th class="uk-width-auto uk-text-center"></th>
                                <th class="uk-width-auto uk-text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(experiencia, index) in experiencias" :key="index">
                                <td class="uk-text-uppercase">
                                    {{experiencia.Empleo}}
                                </td>
                                <td class="uk-text-uppercase uk-text-center">
                                    {{experiencia.NombreEntePublico}}
                                </td>
                                <td class="uk-text-uppercase uk-text-center">
                                    {{experiencia.ActividadLaboral}}
                                </td>
                                <td class="uk-text-right">
                                    <button type="button"
                                            class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                            @click="setExperiencia(experiencia)">
                                        Editar registro
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                                <td class="uk-text-right">
                                    <button type="button"
                                            class="uk-button uk-button-danger uk-button-small uk-border-rounded"
                                            @click="dropExperiencia(experiencia)"
                                            uk-tooltip="title: BORRAR REGISTRO; pos: right">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div v-else>
                            <experiencia-laboral-form :formato="formato"
                                                      :cat_orden_gobierno="cat_orden_gobierno"
                                                      :cat_ambito_publico="cat_ambito_publico"
                                                      :cat_sector_laboral="cat_sector_laboral"
                                                      :experiencia="experiencia"
                                                      :dependiente="1"
                                                      :dependiente_id="dependienteObj.DependienteID"
                                                      @cancel="cancelFormato"
                                                      @reloadData="reloadData"/>
                        </div>
                    </div>
                    <div v-else>
                        <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small" v-if="formato === 0">
                            <button type="button"
                                    class="uk-button uk-button-default uk-border-rounded"
                                    @click="formato = 1" v-if="isDependienteEmpty === false">
                                Agregar experiencia laboral <i class="fas fa-briefcase"></i>
                            </button>
                            <span v-else class="uk-text-center uk-text-danger uk-text-uppercase">
                                PARA PODER REGISTRAR UNA EXPERIENCIA LABORAL ES NECESARIO DAR CLIC EN GUARDAR
                            </span>
                        </div>
                        <div v-else>
                            <experiencia-laboral-form :formato="formato"
                                                      :cat_orden_gobierno="cat_orden_gobierno"
                                                      :cat_ambito_publico="cat_ambito_publico"
                                                      :cat_sector_laboral="cat_sector_laboral"
                                                      :experiencia="experiencia"
                                                      :dependiente="1"
                                                      :dependiente_id="dependienteObj.DependienteID"
                                                      @cancel="cancelFormato"
                                                      @reloadData="reloadData"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ExperienciaLaboralForm from "@/js/views/dashboard/declaracion/components/ExperienciaLaboralForm";
    export default {
        name: "ExperienciasDependientes",
        props: ['dependiente'],
        components: {
            ExperienciaLaboralForm
        },
        data(){
            return{
                cat_orden_gobierno: [],
                cat_ambito_publico: [],
                cat_sector_laboral: [],
                experiencias:       [],
                formato:             0,
                experiencia:        {},
                dependienteObj:     this.dependiente
            }
        },
        created(){
            this.getCatOrdenGobierno();
            this.getCatAmbitoPublico();
            this.getCatSectorLaboral();
            this.getExperiencias();
            this.getDataDeclaracion();
        },
        methods:{
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            getCatOrdenGobierno(){
                axios.get('/api/declaracion/get-catalogo-orden-gobierno').then(resp =>{
                    this.cat_orden_gobierno = resp.data.catalogo_orden;
                }).catch(e => {
                    console.log(e);
                })
            },
            getCatAmbitoPublico(){
                axios.get('/api/declaracion/get-catalogo-ambito-publico').then(resp =>{
                    this.cat_ambito_publico = resp.data.catalogo_ambito;
                }).catch(e => {
                    console.log(e);
                })
            },
            getCatSectorLaboral(){
                axios.get('/api/declaracion/get-catalogo-sector-laboral').then(resp =>{
                    this.cat_sector_laboral = resp.data.catalogo_sector;
                }).catch(e => {
                    console.log(e);
                })
            },
            getExperiencias() {
                if(_.isEmpty(this.dependienteObj) === false) {
                    if(_.isNull(this.dependienteObj.ActividadLaboralID)) {
                        axios.get('/api/declaracion/get-dependiente/'+this.dependienteObj.DependienteID).then(resp => {
                            this.dependienteObj = resp.data.dependiente;
                            if(_.isNull(this.dependienteObj.ActividadLaboralID) === false) {
                                this.getExperiencias();
                            }
                        }).catch(e => {
                            console.log(e);
                        })
                    } else{
                        axios.get('/api/declaracion/get-experiencias/dependiente/'+this.dependienteObj.ActividadLaboralID).then(resp => {
                            this.experiencias = resp.data.experiencias;
                        }).catch(e => {
                            console.log(e);
                        })
                    }
                }
            },
            setExperiencia(experiencia){
                this.experiencia = experiencia;
                this.formato = 1;
            },
            marcarNinguno() {
                let confirm = window.confirm('¿ESTA SEGURO QUE DESEA MARCAR SU EXPERIENCIA LABORAL COMO NINGUNO. SE PERDERÁ LA INFORMACIÓN REGISTRADA?');
                if(confirm) {
                    let data = {
                        ActividadLaboralDetalleID: this.experiencias[0].ActividadLaboralDetalleID
                    };
                    axios.post('/api/declaracion/borrar-experiencia-dependiente', data).then(resp => {
                        this.dependienteObj.ActividadLaboralID = null;
                        this.experiencias = [];
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                    }).catch(e => {
                        console.log(e);
                    })
                } else {
                    return false;
                }
            },
            cancelFormato() {
                this.formato = 0;
                this.experiencia = {};
            },
            reloadData() {
                this.getExperiencias();
            },
            agregarExperiencia() {
                if(this.experiencias.length >= 5) {
                    alert("SOLO SE PUEDEN AGREGAR LOS ÚLTIMOS CINCO EMPLEOS");
                    return false;
                } else {
                    this.formato = 1;
                }
            },
            dropExperiencia(experiencia) {
                let confirm = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
                if(confirm) {
                    let data = {
                        ActividadLaboralDetalleID: experiencia.ActividadLaboralDetalleID
                    };
                    axios.post('/api/declaracion/borrar-experiencia-dependiente', data).then(resp => {
                        this.dependienteObj.ActividadLaboralID = null;
                        this.experiencias = [];
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                    }).catch(e => {
                        console.log(e);
                    })
                } else {
                    return false;
                }
            },
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            ischeckedTerminate(){
                let secciones = this.getDatosDeclaracion.secciones;
                if(_.isUndefined(secciones) === false) {
                    let seccion   = secciones.filter((item) => {
                        return item.Nombre === 'EXPERIENCIA LABORAL'
                    });
                    return seccion[0].EstadoActual;
                }
            },
            isDependienteEmpty() {
                return _.isEmpty(this.dependiente);
            }
        },
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-input, .uk-select {
        text-transform: uppercase;
    }
</style>
