<template>
    <form @submit.prevent="save">
        <div class="uk-grid uk-grid-small" v-show="formato == 1">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="sector_laboral">Ámbito / sector en el que laboraste *</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded uk-text-uppercase"
                            v-model="sector_publico"
                            id="sector_laboral"
                            required>
                        <option value="">Selecciona una opción</option>
                        <option :value="'Público'">Público</option>
                        <option :value="'Privado'">Privado</option>
                        <option :value="'Otro'">Otro</option>
                    </select>
                </div>
            </div>
            <template v-if="sector_publico === 'Público'">
                <!-- Especifique función principal -->
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="nivel">Nivel / orden de gobierno *</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-border-rounded uk-text-uppercase"
                                id="nivel"
                                v-model="orden_gobierno"
                                required>
                            <option value="">Selecciona una opción</option>
                            <option v-for="(orden_gobierno, index) in cat_orden_gobierno"
                                    class="uk-radio" :value="orden_gobierno.NivelOrdenID"
                                    type="radio" name="radio2" checked :key="index">{{orden_gobierno.NombreOrden}}</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="ambito">Ámbito público *</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-border-rounded uk-text-uppercase"
                                id="ambito"
                                v-model="ambito_publico"
                                required>
                            <option value="">Selecciona una opción</option>
                            <option v-for="(ambito_publico, index) in cat_ambito_publico"
                                    class="uk-radio" v-bind:value="ambito_publico.AmbitoID"
                                    type="radio" name="radio2" checked :key="index">{{ambito_publico.NombreAmbito}}</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-2@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="ente">Nombre del ente público *</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="ente"
                               type="text"
                               v-model.trim="nombre_ente"
                               required>
                    </div>
                </div>
                <div class="uk-width-1-2@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="area">Área de adscripción *</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="area"
                               type="text"
                               v-model="area_adscripcion"
                               required>
                    </div>
                </div>
                <div class="uk-width-1-2@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="cargo">Empleo, cargo o comisión *</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="cargo"
                               type="text"
                               v-model="empleo_cargo"
                               required>
                    </div>
                </div>
                <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="isUndefined(dependiente)">
                    <label class="uk-form-label uk-text-uppercase">Lugar donde se ubica</label>
                    <div class="uk-form-controls">
                        <div class="uk-grid-small uk-child-width-auto uk-grid" id="ubicacion">
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': extranjero === 0}">
                                <input class="uk-radio"
                                       type="radio"
                                       v-model="extranjero"
                                       :value="0"
                                       name="radio2" required>
                                En México
                            </label>
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': extranjero === 1}">
                                <input class="uk-radio"
                                       type="radio"
                                       v-model="extranjero"
                                       :value="1"
                                       name="radio2">
                                En el extranjero
                            </label>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="funcion">Especifique Funcion principal *</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea uk-border-rounded uk-text-uppercase"
                                             id="funcion"
                                             rows="3"
                                             v-model.trim="funcion"
                                             required>
                        </textarea>
                    </div>
                </div>
                <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="isUndefined(dependiente) === false">
                    <label class="uk-form-label uk-text-uppercase" for="salario1">Salario Neto Mensual</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="salario1"
                               type="number"
                               v-model="salario">
                    </div>
                </div>
            </template>
            <template v-else-if="sector_publico === 'Privado' || sector_publico === 'Otro'">
                <div v-if="sector_publico == 'Otro'" class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="especifique_ambito">Especifique *</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="especifique_ambito"
                               type="text"
                               v-model="otro_sector"
                               required>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="empresa">Nombre de la empresa, sociedad o asociación *</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="empresa"
                               type="text"
                               v-model.trim="nombre_ente"
                               required>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="RFC">RFC (12 dígitos de la empresa en que laboró)</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="RFC"
                               type="text"
                               minlength="12"
                               maxlength="12"
                               v-model.trim="rfc">
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom" v-if="isUndefined(dependiente)">
                    <label class="uk-form-label uk-text-uppercase" for="area2">Área *</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="area2"
                               type="text"
                               v-model="area_adscripcion"
                               required>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="puesto">Puesto *</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="puesto"
                               type="text"
                               v-model="empleo_cargo"
                               required>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="nivel">Sector al que pertenece</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-border-rounded uk-text-uppercase" id="sector" v-model=sector_laboral>
                            <option value="">Selecciona una opción</option>
                            <option v-for="(sector, index) in cat_sector_laboral"
                                    class="uk-radio" v-bind:value="sector.Sector"
                                    type="radio" name="radio2" checked :key="index">{{sector.Sector}}</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom" v-if="isUndefined(dependiente) === false">
                    <label class="uk-form-label uk-text-uppercase" for="salario">Salario Neto Mensual</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="salario"
                               type="number"
                               v-model="salario">
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom" v-if="isUndefined(dependiente) === false">
                    <label class="uk-form-label uk-text-uppercase">¿Es proveedor o Contratista del Gobierno?</label>
                    <div class="uk-form-controls">
                        <div class="uk-grid-small uk-child-width-auto uk-grid">
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom"
                                   :class="{'uk-radio-custom-border': es_proveedor === 1}">
                                <input class="uk-radio"
                                       type="radio"
                                       v-model="es_proveedor"
                                       :value="1"
                                       name="radio2">
                                Si
                            </label>
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom"
                                   :class="{'uk-radio-custom-border': es_proveedor === 0}">
                                <input class="uk-radio"
                                       type="radio"
                                       v-model="es_proveedor"
                                       :value="0"
                                       name="radio2">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom" v-if="isUndefined(dependiente)">
                    <label class="uk-form-label uk-text-uppercase">Lugar donde se ubica</label>
                    <div class="uk-form-controls">
                        <div class="uk-grid-small uk-child-width-auto uk-grid">
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': extranjero === 0}">
                                <input class="uk-radio"
                                       type="radio"
                                       v-model="extranjero"
                                       :value="0"
                                       name="radio2" required>
                                En México
                            </label>
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': extranjero === 1}">
                                <input class="uk-radio"
                                       type="radio"
                                       v-model="extranjero"
                                       :value="1"
                                       name="radio2">
                                En el extranjero
                            </label>
                        </div>
                    </div>
                </div>
            </template>
            <template v-if="sector_publico !== ''">
                <div class="uk-margin-small-bottom"
                     :class="{'uk-width-1-2': sector_publico === 'Público', 'uk-width-1-3': sector_publico !== 'Público'}">
                    <label class="uk-form-label uk-text-uppercase" for="fecha_ingreso">Fecha de ingreso</label>
                    <div class="uk-form-controls">
                        <flat-pickr id="fecha_ingreso"
                                    :config="config"
                                    class="uk-input uk-border-rounded"
                                    v-model="fecha_ingreso"/>
                    </div>
                </div>
                <div class="uk-margin-small-bottom"
                     :class="{'uk-width-1-2': sector_publico === 'Público', 'uk-width-1-3': sector_publico !== 'Público'}"
                     v-if="isUndefined(dependiente)">
                    <label class="uk-form-label uk-text-uppercase" for="fecha_egreso">Fecha de egreso</label>
                    <div class="uk-form-controls">
                        <flat-pickr id="fecha_egreso"
                                    :config="config"
                                    v-model="fecha_egreso"
                                    class="uk-input uk-border-rounded"/>
                    </div>
                </div>
                <div class="uk-width-1-1@m uk-margin-small-bottom" v-if="isUndefined(dependiente)">
                    <label class="uk-form-label uk-text-uppercase" for="observaciones">Aclaraciones / Observaciones</label>
                    <div class="uk-form-controls">
                        <textarea id="observaciones"
                                  class="uk-textarea uk-border-rounded uk-text-uppercase"
                                  rows="3"
                                  v-model="observaciones">
                        </textarea>
                    </div>
                </div>
            </template>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="$emit('cancel')">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                    <span v-show="btnLoading === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    export default {
        name: "ExperienciaLaboralForm",
        props: [
            'formato',
            'cat_orden_gobierno',
            'cat_ambito_publico',
            'cat_sector_laboral',
            'experiencia',
            'dependiente',
            'dependiente_id'
        ],
        components: {
            flatPickr
        },
        mounted() {
            if(_.isEmpty(this.experiencia) === false) {
                let experiencia             = this.experiencia;
                if(_.isUndefined(this.dependiente)) {
                    this.experiencia_laboral_id = experiencia.ExperienciaLaboralDetalleID;
                    this.sector_publico         = experiencia.AmbitoSector;
                    this.orden_gobierno         = experiencia.OrdenGobiernoID;
                    this.rfc                    = experiencia.RFCInstitucion;
                    this.area_adscripcion       = experiencia.Area;
                    this.nombre_ente            = experiencia.Institucion;
                    this.otro_sector            = experiencia.OtroSector;
                    this.empleo_cargo           = experiencia.Puesto;
                    this.funcion                = experiencia.FuncionPrincipal;
                    this.extranjero             = experiencia.EnExtranjero;
                    this.observaciones          = experiencia.Observaciones;
                    this.nombre_ente            = experiencia.Institucion;
                    this.fecha_ingreso          = experiencia.FechaIngreso;
                    this.fecha_egreso           = experiencia.FechaTermino;
                    this.sector_laboral         = this.setSector(experiencia.SectorID);
                    this.ambito_publico         = experiencia.AmbitoID;
                } else {
                    console.log(experiencia);
                    this.experiencia_laboral_id = experiencia.ActividadLaboralDetalleID;
                    this.sector_publico         = experiencia.ActividadLaboral;
                    this.orden_gobierno         = experiencia.AmbitoPublico;
                    this.rfc                    = experiencia.RFCInstitucion;
                    this.area_adscripcion       = (_.isNull(experiencia.AreaAdscripcion)) ? '' : experiencia.AreaAdscripcion;
                    this.nombre_ente            = experiencia.NombreEntePublico;
                    this.empleo_cargo           = experiencia.Empleo;
                    this.funcion                = (_.isNull(experiencia.FuncionPrincipal)) ? '' : experiencia.FuncionPrincipal;
                    this.observaciones          = experiencia.Observaciones;
                    this.fecha_ingreso          = (_.isNull(experiencia.FechaIngreso)) ? '' : experiencia.FechaIngreso;
                    this.sector_laboral         = this.setSector(experiencia.SectorID);
                    this.es_proveedor           = experiencia.ProveedorContratista;
                    this.salario                = experiencia.SalarioMensual;
                }
            }
        },
        data() {
            return {
                sector_publico:         '',
                orden_gobierno:         '',
                ambito_publico:         '',
                sector_laboral:         '',
                otro_sector:            '',
                nombre_ente:            '',
                rfc:                    '',
                area_adscripcion:       '',
                empleo_cargo:           '',
                funcion:                '',
                extranjero:             '',
                fecha_ingreso:          '',
                fecha_egreso:           '',
                observaciones:          '',
                salario:                '',
                es_proveedor:            0,
                experiencia_laboral_id: null,
                exp_info:               {},
                btnLoading:             false,
                config: {
                    altInput:   true,
                    altFormat:  "j/F/Y",
                    dateFormat: "Y-m-d",
                },
            }
        },
        methods: {
            save(){
                let dependiente = 0;
                if(_.isUndefined(this.dependiente)) {
                    dependiente = 0;
                } else {
                    dependiente = 1
                }
                // Validacion de ambito
                if(this.sector_publico == 'Otro'){
                    this.exp_info.ambito_sector = this.sector_publico;
                    this.exp_info.ambito_sector = this.otro_sector;
                }else{
                    this.exp_info.ambito_sector = this.sector_publico;
                    this.exp_info.otro_sector   = null;
                }
                var t1 = new Date(this.fecha_ingreso);
                var t2 = new Date(this.fecha_egreso);
                if(t1.getTime() < t2.getTime()){
                    this.exp_info.fecha_ingreso = this.fecha_ingreso;
                    this.exp_info.fecha_egreso  = this.fecha_egreso;
                }else{
                    if(this.isUndefined(this.dependiente)) {
                        alert("LA FECHA INICIAL DEBE SER MENOR A LA FECHA DE EGRESO");
                        return false;
                    }
                }
                this.exp_info.fecha_ingreso = this.fecha_ingreso;
                this.exp_info.fecha_egreso  = this.fecha_egreso;
                // asignacion de valores del formulario
                this.exp_info.orden_gobierno_id      =  this.orden_gobierno;
                this.exp_info.ambito_id              =  this.ambito_publico;
                this.exp_info.institucion            =  this.nombre_ente;
                this.exp_info.rfc_institucion        =  this.rfc;
                this.exp_info.area                   =  this.area_adscripcion;
                this.exp_info.puesto                 =  this.empleo_cargo;
                this.exp_info.funcion_principal      =  this.funcion;
                this.exp_info.sector_id              =  this.sector_laboral;
                this.exp_info.en_extranjero          =  this.extranjero;
                this.exp_info.observacion            =  this.observaciones;
                this.exp_info.experiencia_laboral_id =  this.experiencia_laboral_id;
                this.exp_info.salario                =  this.salario;
                this.exp_info.es_proveedor           =  this.es_proveedor;
                this.btnLoading = true;
                let url = '';
                if(dependiente === 0) {
                    url = '/api/declaracion/save-exp-laboral';
                } else {
                    this.exp_info.dependiente_id = this.dependiente_id
                    url = '/api/declaracion/save-exp-laboral-dependiente';
                }
                let data = {
                    info: this.exp_info
                }
                axios.post(url, data).then(resp => {
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            setSector(sector_id) {
                let sector_name = '';
                for(let i = 0; i < this.cat_sector_laboral.length; i++) {
                    let sector = this.cat_sector_laboral[i];
                    if(sector.SectorID === sector_id) {
                        sector_name = sector.Sector;
                    }
                }
                return sector_name
            },
            isUndefined(val) {
                return _.isUndefined(val);
            }
        },
    }
</script>

<style lang="scss" scoped>
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
</style>
