<template>
    <form @submit.prevent="save">
        <!--Primera sección-->
        <div class="uk-alert-primary uk-text-uppercase uk-border-rounded uk-text-bold uk-text-center" uk-alert>
            <p>Fideicomisos (Hasta los 2 últimos años)</p>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Participación en fideicomisos*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="participante" required>
                        <option value="">Selecciona el participante</option>
                        <option value="Declarante">Declarante</option>
                        <option value="Pareja">Pareja</option>
                        <option value="Dependiente economico">Dependiente economico</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de fideicomiso*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_fideicomiso" required>
                        <option value="">Selecciona el tipo de fideicomiso</option>
                        <option value="Público">Público</option>
                        <option value="Privado">Privado</option>
                        <option value="Mixto">Mixto</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC del fideicomiso</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="rfc-fideicomiso"
                           type="text"
                           v-model="rfc_fideicomiso">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de participación</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_participacion">
                        <option v-bind:value="''">Seleccione el tipo de participación</option>
                        <option v-bind:value="'Fideicomitente'">Fideicomitente</option>
                        <option v-bind:value="'Fiduciario'">Fiduciario</option>
                        <option v-bind:value="'Fideicomisario'">Fideicomisario</option>
                        <option v-bind:value="'Comité técnico'">Comité técnico</option>
                    </select>
                </div>
            </div>
        </div>

        <div v-if="tipo_participacion == 'Fideicomitente'" class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de persona fideicomitente*</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                            :class="{'uk-radio-custom-border': persona_fideicomitente === 'fisica'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="persona_fideicomitente" value="fisica" required>Persona física
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                            :class="{'uk-radio-custom-border': persona_fideicomitente === 'moral'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="persona_fideicomitente" value="moral">Persona moral
                        </label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Razón social del fideicomitente*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           v-model="nombre_fideicomitente"
                           required>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC Fideicomitente</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           v-model="rfc_fideicomitente">
                </div>
            </div>
        </div>

        <div v-if="tipo_participacion == 'Fiduciario'" class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de persona fiduciario*</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': persona_fiduciario === 'fisica'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="persona_fiduciario" value="fisica" required>Persona física
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': persona_fiduciario === 'moral'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="persona_fiduciario" value="moral">Persona moral
                        </label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Razón social del fiduciario*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           v-model="nombre_fiduciario"
                           required>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC fiduciario</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           v-model="rfc_fiduciario">
                </div>
            </div>
        </div>

        <div v-if="tipo_participacion == 'Fideicomisario'" class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de persona Fideicomisario*</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': persona_fideicomisario === 'fisica'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="persona_fideicomisario" value="fisica" required>Persona física
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': persona_fideicomisario === 'moral'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="persona_fideicomisario" value="moral">Persona Moral
                        </label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Razón social del Fideicomisario*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="nombre-fideicomitente"
                           type="text"
                           v-model="nombre_fideicomisario"
                           required>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC Fideicomisario</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="rfc-fideicomitente"
                           type="text"
                           v-model="rfc_fideicomisario">
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Dónde se encuentra registrado?*</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero === 0}">
                            <input class="uk-radio" type="radio" v-model="en_extranjero" name="radio3" :value="0" required>En México
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero === 1}">
                            <input class="uk-radio" type="radio" v-model="en_extranjero" name="radio3" :value="1">En el extranjero
                        </label>
                    </div>
                </div>
            </div>
            <div v-if="en_extranjero == 1" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">País *</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="pais"
                           type="text"
                           v-model="ubicacion"
                           required>
                </div>
            </div>
            <!-- cargar catalogo -->
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Sector productivo al que pertenece*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="sector_id" required>
                        <option :value="''">Seleccione el sector al que pertenece</option>
                        <option v-for="(sector, index) in catalogo_sector" :key="index"
                                :value="sector.SectorID">{{sector.Sector}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <textarea rows="3"
                              class="uk-textarea uk-border-rounded uk-text-uppercase"
                              v-model.trim="observaciones"
                              id="funciones"></textarea>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                    <span v-show="btnLoading === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    export default {
        name: "FideicomisosForm",
        props: ['catalogo_sector', 'estados', 'fideicomiso'],
        components: {
            flatPickr,
        },
        mounted() {
            if(_.isEmpty(this.fideicomiso) === false) {
                let fideicomiso = this.fideicomiso;
                this.participante = fideicomiso.Participante;
                this.tipo_fideicomiso = fideicomiso.TipoFideicomiso;
                this.rfc_fideicomiso = this.setNullValue(fideicomiso.RFCFideicomiso);
                this.persona_fideicomitente = this.setNullValue(fideicomiso.TipoPersonaFidecomitente);
                this.nombre_fideicomitente = this.setNullValue(fideicomiso.RazonSocialFideicomitente);
                this.rfc_fideicomitente = this.setNullValue(fideicomiso.RFCFideicomitente);
                this.persona_fiduciario = this.setNullValue(fideicomiso.TipoPersonaFiduciario);
                this.nombre_fiduciario = this.setNullValue(fideicomiso.RazonSocialFiduciario);
                this.rfc_fiduciario = this.setNullValue(fideicomiso.RFCFiduciario);
                this.persona_fideicomisario = this.setNullValue(fideicomiso.TipoPersonaFideicomisario);
                this.nombre_fideicomisario = this.setNullValue(fideicomiso.RazonSocialFideicomisario);
                this.rfc_fideicomisario = this.setNullValue(fideicomiso.RFCFideicomisario);
                this.en_extranjero = fideicomiso.EsExtranjero;
                this.tipo_participacion = this.setNullValue(fideicomiso.TipoParticipacion);
                this.sector_id = this.setNullValue(fideicomiso.SectorID);
                this.ubicacion = '';
                this.fideicomisos_id = fideicomiso.FideicomisosID;
                this.observaciones = this.setNullValue(fideicomiso.Observaciones);
            }
        },
        data() {
            return {
                participante:'',
                tipo_fideicomiso:'',
                rfc_fideicomiso:'',

                persona_fideicomitente:'fisica',
                nombre_fideicomitente:'',
                rfc_fideicomitente:'',

                persona_fiduciario:'fisica',
                nombre_fiduciario:'',
                rfc_fiduciario:'',

                persona_fideicomisario:'fisica',
                nombre_fideicomisario:'',
                rfc_fideicomisario:'',

                en_extranjero:0,
                tipo_participacion:'',
                sector_id:'',
                ubicacion:'',
                observaciones:'',
                fideicomisos_id: null,
                btnLoading: false
            }
        },
        methods: {
            save(){
                let data = {};

                if (this.tipo_beneficio == 'Especifique'){
                    data.tipo_beneficio = this.otro_tipo_beneficio;
                }else{
                    data.tipo_beneficio = this.tipo_beneficio;
                }

                data.declaracion_id                 =   this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.participante                   =   this.participante;
                data.tipo_fideicomiso               =   this.tipo_fideicomiso;
                data.tipo_participacion             =   this.tipo_participacion;
                data.rfc_fideicomiso                =   this.rfc_fideicomiso;
                data.tipo_persona_fidecomitente     =   this.persona_fideicomitente;
                data.razon_social_fideicomitente    =   this.nombre_fideicomitente;
                data.rfc_fideicomitente             =   this.rfc_fideicomitente;
                data.tipo_persona_fideicomisario    =   this.persona_fideicomisario;
                data.razon_social_fideicomisario    =   this.nombre_fideicomisario;
                data.rfc_fideicomisario             =   this.rfc_fideicomisario;
                data.sector_id                      =   this.sector_id;
                data.es_extranjero                  =   this.en_extranjero;
                data.observaciones                  =   this.observaciones;
                data.fideicomisos_id                =   this.fideicomisos_id;
                data.tipo_persona_fiduciario        =   this.persona_fiduciario;
                data.razon_social_fiduciario        =   this.nombre_fiduciario;
                data.rfc_fiduciario                 =   this.rfc_fiduciario;

                this.btnLoading = true;
                axios.post('/api/declaracion/save-fideicomiso',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            cancel() {
                this.$emit('cancel');
            },
            setNullValue(val) {
                return (_.isNull(val)) ? '' : val;
            }
        },
        computed:{
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
