<template>
    <form @submit.prevent="save">
        <div class="uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-bold" uk-alert>
            <p>Se manifestará el beneficio o ganancia directa del declarante si supera mensualmente 250 unidades de medida y actualización (UMA)</p>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">¿Realiza alguna actividad lucrativa independiente al empleo, cargo o comisión?</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': actividad_lucrativa === 1}">
                            <input class="uk-radio" type="radio" name="radio2" v-model="actividad_lucrativa" checked :value="1">Sí</label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': actividad_lucrativa === 0}">
                            <input class="uk-radio" type="radio" name="radio2" v-model="actividad_lucrativa" :value="0">No</label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Participante</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="participante">
                        <option value="">Seleccionar el participante</option>
                        <option value="Declarante">Declarante</option>
                        <option value="Pareja">Pareja</option>
                        <option value="Dependiente económico">Dependiente económico</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre de la empresa o servicio que proporciona</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="Empresa"
                        type="text"
                        v-model="nombre_empresa">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">RFC de la empresa</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="rfc-empresa"
                        type="text"
                        v-model="rfc_empresa">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Tipo de persona fiscal del cliente</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona_cliente === 'fisica'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="tipo_persona_cliente" :value="'fisica'">Persona física</label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona_cliente === 'moral'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="tipo_persona_cliente" :value="'moral'">Persona Moral</label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre o razón social del cliente principal</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="Empresa"
                        type="text"
                        v-model="nombre_cliente">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">RFC del cliente</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="rfc-cliente"
                        type="text"
                        v-model="rfc_cliente">
                </div>
            </div>
            <!-- cargar catalogo -->
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Sector productivo al que pertenece</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="sector_id" required>
                        <option :value="''">Seleccione el sector al que pertenece</option>
                        <option v-for="(sector, index) in catalogo_sector" :key="index"
                            :value="sector.SectorID">{{sector.Sector}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Monto mensual neto</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="porcentaje"
                        type="text"
                        v-model="monto">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Lugar donde se ubica</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero === 0}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="0">En México</label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero === 1}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="1">En el extranjero</label>
                    </div>
                </div>
            </div>
            <div v-if="en_extranjero == 1" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">País</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="pais"
                        type="text"
                        v-model="ubicacion">
                </div>
            </div>
            <div v-else class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Entidad federativa</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="entidad-federativa"
                        type="text"
                        v-model="ubicacion">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="observaciones"
                        type="text"
                        v-model="observaciones">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded"
                        :disabled="btnLoading"
                        type="submit">
                    <span v-show="btnLoading === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default{
        name: 'FormClientes',
        components: {
            flatPickr,
        },
        props:[
            'catalogo_sector',
            'cliente'
        ],
        mounted(){
            if(_.isEmpty(this.cliente) === false){
                let cliente = this.cliente;
                this.actividad_lucrativa = cliente.ActLucrativaDependiente;
                this.participante = cliente.Titular;
                this.nombre_empresa = cliente.NombreEmpresaServicio;
                this.rfc_empresa = cliente.RFCEmpresa;
                this.tipo_persona_cliente = cliente.TipoPersonaCliente;
                this.nombre_cliente = cliente.RazonSocialCliente;
                this.rfc_cliente = cliente.ClienteRFC;
                this.sector_id = cliente.SectorID;
                this.monto = cliente.MontoMensual;
                this.en_extranjero = cliente.EsExtranjero;
                this.ubicacion = cliente.Ubicacion;
                this.observaciones = cliente.Observaciones;
                this.cliente_id = cliente.ClientePrincipalID;
            }
        },
        data(){
            return{
                actividad_lucrativa: 1,
                participante:'',
                nombre_empresa:null,
                rfc_empresa:null,
                tipo_persona_cliente:'fisica',
                nombre_cliente:null,
                rfc_cliente:null,
                sector_id:'',
                monto:null,
                en_extranjero:0,
                ubicacion:null,
                observaciones:null,
                cliente_id:null,
                btnLoading: false
            }
        },
        methods:{
            save(){
                let data = {};

                data.declaracion_id             =   this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.act_lucrativa_dependiente  =   this.actividad_lucrativa;
                data.titular                    =   this.participante;
                data.nombre_empresa_servicio    =   this.nombre_empresa;
                data.rfc_empresa                =   this.rfc_empresa;
                data.cliente_rfc                =   this.rfc_cliente;
                data.razon_social_cliente       =   this.nombre_cliente;
                data.sector_id                  =   this.sector_id;
                data.monto_mensual              =   this.monto;
                data.es_extranjero              =   this.en_extranjero;
                data.ubicacion                  =   this.ubicacion;
                data.observaciones              =   this.observaciones
                data.cliente_principal_id       =   this.cliente_id;
                data.tipo_persona_cliente       =   this.tipo_persona_cliente;

                this.btnLoading = true;
                axios.post('/api/declaracion/save-cliente',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            cancel() {
                this.$emit('cancel');
            },
        },
        computed:{
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        },
    }
</script>
<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>