<template>
    <form @submit.prevent="save">
        <!--Primera sección-->
        <div class="uk-alert-primary uk-border-rounded uk-text-uppercase uk-text-bold" uk-alert>
            <p>Inversiones, cuentas bancarias y otro tipo de valores del declarante, pareja y/o dependientes económicos</p>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de inversión / activo*</label>
                <div class="uk-form-controls">
                    <div class="uk-form-controls">
                        <select class="uk-select uk-border-rounded" v-model="tipo_inversion" required>
                            <option :value="''">Seleccione el tipo de inversión</option>
                            <option v-for="(tipo_inversion, index) in cat_inversion" :key="index"
                                    :value="tipo_inversion.TipoInversionID">{{tipo_inversion.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- cargar catalogo -->
            <div class="uk-width-2-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Titular del bien*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_titular" required>
                        <option :value="''">Seleccione el/los titulares</option>
                        <option v-for="(tipo_titular, index) in cat_tipo_titular" :key="index"
                                :value="tipo_titular.TipoTitular">{{tipo_titular.TipoTitular}}</option>
                    </select>
                </div>
            </div>
            <!-- cargar catalogo -->
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Activo*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="activo" required>
                        <option :value="''">Seleccione el activo de inversión</option>
                        <option v-for="(activo, index) in cat_activos" :key="index"
                                :value="activo.TipoInversionID">{{activo.NombreActivo}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-2-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Dónde se localiza la inversión, cuenta bancaria y otro tipo de valores / activos? *</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': es_extranjero === 0}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="es_extranjero" checked :value="0" required>En México
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': es_extranjero === 1}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="es_extranjero" :value="1">En el extranjero
                        </label>
                    </div>
                </div>
            </div>
            <div v-if="es_extranjero == 1" class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">País</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="pais"
                           type="text"
                           v-model="pais">
                </div>
            </div>
            <div v-else class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">RFC</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="rfc_institucion"
                           type="text"
                           v-model="rfc_institucion">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Número de cuenta, contrato o póliza</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="no_contrato"
                           type="text"
                           v-model="numero_contrato">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Institución o razón social</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="razon_social"
                           type="text"
                           v-model="institucion">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de moneda</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo_moneda"
                           type="text"
                           v-model="tipo_moneda">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="saldo">Saldo a la fecha (Situación actual)</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="saldo"
                           type="number"
                           v-model="saldo">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="observaciones">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="observaciones"
                           type="text"
                           v-model="observaciones">
                </div>
            </div>
        </div>
        <!-- Seccion terceros -->
        <div id="datos-terceros" v-if="showTerceros">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-file-invoice"></i> Datos terceros
                                        </span>
            </div>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Tipo persona</label>
                    <div class="uk-form-controls">
                        <div class="uk-grid-small uk-child-width-auto uk-grid">
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona === 0}">
                                <input class="uk-radio" type="radio" v-model="tipo_persona" name="radio2" :value="0">Persona física
                            </label>
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona === 1}">
                                <input class="uk-radio" type="radio" v-model="tipo_persona" name="radio2" :value="1">Persona Moral
                            </label>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="nombre-terceros">Nombre del tercero o terceros*</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="nombre-terceros"
                               type="text"
                               required
                               v-model="nombre_tercero">
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">RFC</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="rfc-terceros"
                               type="text"
                               v-model="rfc_tercero">
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
            <button class="uk-button uk-button-default uk-border-rounded"
                    type="button"
                    @click="cancel">
                <span>Cancelar</span>
            </button>
            <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                <span v-show="btnLoading === false">Guardar</span>
                <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "InversionesForm",
        props: [
            'cat_tipo_titular',
            'cat_inversion',
            'inversion'
        ],
        mounted() {
            if(_.isEmpty(this.inversion) === false) {
                let inversion = this.inversion;
                this.tipo_titular = inversion.Titular;
                this.tipo_inversion = inversion.TipoInversionID;
                this.activo = inversion.ActivoID;
                this.tipo_persona = parseInt(inversion.TipoPersonaTercero);
                this.nombre_tercero = (_.isNull(inversion.NombreTercero)) ? '' : inversion.NombreTercero;
                this.rfc_tercero = (_.isNull(inversion.RFCTercero)) ? '' : inversion.RFCTercero;
                this.pais = (_.isNull(inversion.Ubicacion)) ? '' : inversion.Ubicacion;
                this.es_extranjero = inversion.EsExtranjero;
                this.rfc_institucion = (_.isNull(inversion.RFCIntitucion)) ? '' : inversion.RFCIntitucion;
                this.no_contrato = (_.isNull(inversion.NumeroContrato)) ? '' : inversion.NumeroContrato;
                this.razon_social = (_.isNull(inversion.Institucion)) ? '' : inversion.Institucion;
                this.institucion = (_.isNull(inversion.Institucion)) ? '' : inversion.Institucion;
                this.tipo_moneda = (_.isNull(inversion.Moneda)) ? '' : inversion.Moneda;
                this.saldo = (_.isNull(inversion.Saldo)) ? '' : inversion.Saldo;
                this.observaciones = (_.isNull(inversion.Aclaraciones)) ? '' : inversion.Aclaraciones;
                this.inversion_id = inversion.RecursoFinancieroID
                this.no_contrato = (_.isNull(inversion.NumeroContrato)) ? '' : inversion.NumeroContrato;
            }
        },
        data() {
            return {
                cat_activos: [],
                tipo_titular: '',
                tipo_inversion: '',
                activo: '',
                tipo_persona: 0,
                nombre_tercero: '',
                rfc_tercero: '',
                pais: '',
                es_extranjero: 0,
                rfc_institucion: '',
                no_contrato: '',
                razon_social: '',
                institucion: '',
                tipo_moneda: '',
                saldo: '',
                observaciones: '',
                btnLoading: false,
                inversion_id: null,
                numero_contrato: ''
            }
        },
        methods: {
            save(){
                let inversion_id;
                if(this.inversion_id == null){
                    inversion_id = null;
                } else {
                    inversion_id = this.inversion_id;
                }
                let data = {};
                data.declaracion_id             =   this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.tipo_inversion_id          =   this.tipo_inversion;
                data.activo                     =   this.activo;
                data.tipo_titular               =   this.tipo_titular;
                data.tipo_persona_tercero       =   this.tipo_persona;
                data.nombre_tercero             =   this.nombre_tercero;
                data.rfc_tercero                =   this.rfc_tercero;
                data.numero_contrato            =   this.numero_contrato;
                data.es_extranjero              =   this.es_extranjero;
                data.ubicacion                  =   this.pais;
                data.institucion                =   this.institucion;
                data.rfc_institucion            =   this.rfc_institucion;
                data.saldo                      =   this.saldo;
                data.moneda                     =   this.tipo_moneda;
                data.aclaraciones               =   this.observaciones;
                data.recurso_financiero_id      =   inversion_id;

                this.btnLoading = true;
                axios.post('/api/declaracion/save-inversion',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            getCatActivos(){
                axios.post('/api/declaracion/get-catalogo-activos',{id_inversion : this.tipo_inversion}).then(resp =>{
                    this.cat_activos = resp.data.catalogo_activos;
                }).catch(e => {
                    console.log(e);
                })
            },
            cancel() {
                this.$emit('cancel');
            },
        },
        computed:{
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            showTerceros(){
                if(this.tipo_titular != 'DECLARANTE' && this.tipo_titular != ''){
                    return true;
                }else{
                    return false;
                }
            },
        },
        watch: {
            'tipo_inversion': function(val){
                if (val != ''){
                    this.getCatActivos(val);
                }else{
                    this.cat_activos = [];
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
