<template>
    <form @submit.prevent="save">
        <!--Primera sección-->
        <div class="uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-bold" uk-alert>
            <p>¿Participación en la toma de decisiones de alguna de estas instituciones? (Hasta los últimos dos años)</p>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Participante*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="participante">
                        <option value="">Selecciona el participante</option>
                        <option value="Declarante">Declarante</option>
                        <option value="Pareja">Pareja</option>
                        <option value="Dependiente economico">Dependiente economico</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Tipo de Institución</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_institucion">
                        <option value="">Selecciona el participante</option>
                        <option v-for="(tipo_institucion, index) in cat_tipo_institucion" :key="index"
                            :value="tipo_institucion.TipoInstitucionID">{{tipo_institucion.TipoInstitucion}}</option>
                    </select>
                </div>
            </div>
            <div v-if="tipo_institucion == 99" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Especifique el tipo institución</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="Empresa"
                        type="text"
                        v-model="otro_tipo_institucion">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre de la institución</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="Empresa"
                        type="text"
                        v-model="nombre_institucion">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">RFC</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="rfc"
                        type="text"
                        v-model="rfc_institucion">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Puesto / rol</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="puesto"
                        type="text"
                        v-model="puesto">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="email">Fecha de inicio de participación dentro de la institución</label>
                <div class="uk-form-controls">
                    <flat-pickr id="fecha_inicio"
                                v-model="fecha_inicio"
                                class="uk-input uk-border-rounded"/>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">¿Recibe remuneración por su participación</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-radio" type="radio" v-model="recibe_remuneracion" name="radio1" checked value="1">Sí</label>
                        <label><input class="uk-radio" type="radio" v-model="recibe_remuneracion" name="radio1" value="0">No</label>
                    </div>
                </div>
            </div>
            <div v-if="recibe_remuneracion == 1" class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Monto mensual neto</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="porcentaje"
                        type="text"
                        v-model="monto">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">¿Dónde se encuentra registrado?</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-radio" type="radio" name="radio2" v-model="en_extranjero" checked value="0">En México</label>
                        <label><input class="uk-radio" type="radio" name="radio2" v-model="en_extranjero" value="1">En el extranjero</label>
                    </div>
                </div>
            </div>
            <div v-if="en_extranjero == 1" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">País</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="pais"
                        type="text"
                        v-model="ubicacion">
                </div>
            </div>
            <div v-else class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Entidad federativa</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="ubicacion">
                        <option value="">Selecciona la entidad federativa</option>
                        <option v-for="(estado, index) in cat_estados" :key="index"
                            :value="estado.Nombre">{{estado.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="observaciones"
                        type="text"
                        v-model="observaciones">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                    <span v-show="btnLoading === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    export default {
        name: "ParticipacionEmpresaForm",
        components: {
            flatPickr,
        },
        props:[
            'cat_tipo_institucion',
            'cat_estados',
            'participacion'
        ],
        mounted(){
            if(_.isEmpty(this.participacion) === false) {
                let participacion = this.participacion;
                this.participante = participacion.Participante;
                this.tipo_institucion = participacion.TipoInstitucionID;
                this.otro_tipo_institucion = participacion.NombreInstitucion;
                this.nombre_institucion = participacion.NombreInstitucion;
                this.rfc_institucion = participacion.RFCInstitucion;
                this.puesto = participacion.PuestoRol;
                this.fecha_inicio = participacion.FechaInicio;
                this.recibe_remuneracion = participacion.RecibeRemuneracion;
                this.monto = participacion.MontoMensual;
                this.en_extranjero = participacion.EsExtranjero;
                this.ubicacion = participacion.Ubicacion;
                this.observaciones = participacion.Observaciones;
                this.participacion_institucion_id = participacion.ParticipacionInstitucionesID;
            }
        },
        data(){
            return{
                participante: '',
                tipo_institucion: '',
                otro_tipo_institucion:'',
                nombre_institucion: '',
                rfc_institucion: '',
                puesto:'',
                fecha_inicio:'',
                recibe_remuneracion: '',
                monto: '',
                en_extranjero:0,
                ubicacion: '',
                observaciones: '',
                btnLoading: false,
                participacion_institucion_id: null
            }
        },
        methods:{
            save(){
                let data = {};

                if (this.tipo_institucion == 99){
                    data.tipo_institucion_id = this.otro_tipo_institucion;    
                }else{
                    data.tipo_institucion_id = this.tipo_institucion;
                }

                data.declaracion_id                 =   this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.participante                   =   this.participante;
                data.nombre_institucion             =   this.nombre_institucion;
                data.rfc_institucion                =   this.rfc_institucion;
                data.puesto_rol                     =   this.puesto;
                data.fecha_inicio                   =   this.fecha_inicio;
                data.recibe_remuneracion            =   this.recibe_remuneracion;
                data.monto_mensual                  =   this.monto;
                data.es_extranjero                  =   this.en_extranjero;
                data.ubicacion                      =   this.ubicacion;
                data.observaciones                  =   this.observaciones;

                // Aqui debes asignar el id de la participacion si vas a hacer actualizacion
                data.participacion_institucion_id   =   this.participacion_institucion_id;

                this.btnLoading = true;
                axios.post('/api/declaracion/save-participacion_institucion',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            cancel() {
                this.$emit('cancel');
            },
        },
        computed:{
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>