<template>
    <form @submit.prevent="save">
        <!--Primera sección-->
        <div class="uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-bold" uk-alert>
            <p>Participación en empresas, sociedades o asociaciones (Hasta los 2 últimos años)</p>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Participante*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="participante">
                        <option value="''">Selecciona el participante</option>
                        <option value="Declarante">Declarante</option>
                        <option value="Pareja">Pareja</option>
                        <option value="Dependiente economico">Dependiente economico</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre de la empresa, sociedad o asociación*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="Empresa"
                        type="text"
                        v-model="nombre_empresa">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">RFC</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="rfc"
                        type="text"
                        v-model="rfc_empresa">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Porcentaje de participación de acuerdo a escritura</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="porcentaje"
                        type="text"
                        v-model="porcentaje">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Tipo de participación*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_participante" required>
                        <option :value="''">Seleccione la forma de adquisición</option>
                        <option v-for="(tipo_participante, index) in cat_tipo_participante" :key="index"
                            :value="tipo_participante.TipoParticipante">{{tipo_participante.TipoParticipante}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">¿Recibe remuneración por su participación?*</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': remuneracion === 1}">
                            <input class="uk-radio" type="radio" v-model="remuneracion" name="radio" :value="1">Sí</label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': remuneracion === 0}">
                            <input class="uk-radio" type="radio" v-model="remuneracion" name="radio" :value="0">No</label>
                    </div>
                </div>
            </div>
            <div v-if="remuneracion == 1" class="uk-width-1-4@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Monto mensual neto</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="monto"
                        type="text"
                        v-model="monto">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">¿Dónde se encuentra registrado?</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero === 0}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="0">En México</label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero === 1}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="1">En el extranjero</label>
                    </div>
                </div>
            </div>
            <div v-if="en_extranjero == 1" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">País*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="pais"
                        type="text"
                        v-model="ubicacion">
                </div>
            </div>
            <div v-else class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Entidad federativa*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="entidad-federativa"
                        type="text"
                        v-model="ubicacion">
                </div>
            </div>
            <!-- cargar catalogo -->
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Sector productico al que pertenece*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="sector_id" required>
                        <option :value="''">Seleccione la forma de adquisición</option>
                        <option v-for="(sector, index) in catalogo_sector" :key="index"
                            :value="sector.SectorID">{{sector.Sector}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <textarea rows="3"
                              class="uk-textarea uk-border-rounded uk-text-uppercase"
                              v-model.trim="observaciones"
                              id="funciones"></textarea>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded"
                        :disabled="loadingBtn"
                        type="submit">
                    <span v-show="loadingBtn === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "ParticipacionEmpresaForm",
        props:[
            'cat_tipo_participante',
            'catalogo_sector',
            'participacion'
        ],
        mounted(){
            if(_.isEmpty(this.participacion) === false) {
                let participacion = this.participacion;
                console.log(participacion);
                this.participante = participacion.Participante;
                this.nombre_empresa = participacion.NombreEmpresa;
                this.rfc_empresa = participacion.RFCEmpresa;
                this.porcentaje = participacion.PorcentajeParticipacion;
                this.tipo_participante = participacion.TipoParticipacion;
                this.remuneracion = participacion.RecibeRemuneracion;
                this.monto = participacion.MontoMensual;
                this.en_extranjero = participacion.EsExtranjero;
                this.ubicacion = participacion.Ubicacion;
                this.sector_id = participacion.SectorID;
                this.observaciones = participacion.Observaciones;
                this.participacion_id = participacion.ParticipacionID;
            }
        },
        data(){
            return{
                participante:'',
                nombre_empresa:'',
                rfc_empresa:'',
                porcentaje: '',
                tipo_participante:'',
                remuneracion: 1,
                monto: '',
                en_extranjero:0,
                ubicacion: '',
                sector_id: '',
                observaciones:'',
                participacion_id:null,
                loadingBtn: false,
            }
        },
        methods:{
            save(){
                let data = {};

                data.declaracion_id             =   this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.nombre_empresa             =   this.nombre_empresa;
                data.rfc_empresa                =   this.rfc_empresa;
                data.porcentaje_participacion   =   this.porcentaje;
                data.tipo_participacion         =   this.tipo_participante;
                data.recibe_remuneracion        =   this.remuneracion;
                data.monto_mensual              =   this.monto;
                data.ubicacion                  =   this.ubicacion;
                data.es_extranjero              =   this.en_extranjero;
                data.participante               =   this.participante;
                data.sector_id                  =   this.sector_id;
                data.observaciones              =   this.observaciones
                data.participacion_id           =   this.participacion_id;

                this.loadingBtn = true;
                axios.post('/api/declaracion/save-participacion-empresa',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.loadingBtn = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.loadingBtn = false;
                })
            },
            cancel() {
                this.$emit('cancel');
            },
        },
        computed:{
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>