<template>
    <form @submit.prevent="save">
        <div class="uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-bold" uk-alert>
            <p>Representación de una empresa (Hasta los 2 últimos años)</p>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Representante</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="representante">
                        <option value="">Selecciona el representante</option>
                        <option value="Declarante">Declarante</option>
                        <option value="Pareja">Pareja</option>
                        <option value="Dependiente economico">Dependiente economico</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Tipo de representación</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_representacion">
                        <option value="">Selecciona el tipo de representación</option>
                        <option value="Representante">Representante</option>
                        <option value="Representado">Representado</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="email">Fecha de inicio de la representación</label>
                <div class="uk-form-controls">
                    <flat-pickr id="fecha_inicio"
                                v-model="fecha_inicio"
                                class="uk-input uk-border-rounded"/>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Tipo de persona</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-radio" type="radio" name="radio1" v-model="tipo_persona" checked value="fisica">Persona física</label>
                        <label><input class="uk-radio" type="radio" name="radio1" v-model="tipo_persona" value="moral">Persona moral</label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Razón social del representante / representado</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="Empresa"
                        type="text"
                        v-model="razon_social">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">RFC</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="rfc"
                        type="text"
                        v-model="rfc">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">¿Recibe remuneración por su participación</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-radio" type="radio" name="radio2" v-model="recibe_remuneracion" checked value="1">Sí</label>
                        <label><input class="uk-radio" type="radio" name="radio2" v-model="recibe_remuneracion" value="0">No</label>
                    </div>
                </div>
            </div>
            <div v-if="recibe_remuneracion == 1" class="uk-width-1-4@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Monto mensual neto</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="porcentaje"
                        type="text"
                        v-model="monto">
                </div>
            </div>
            <div class="uk-width-1-4@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">¿Dónde se encuentra registrado?</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" checked value="0">En México</label>
                        <label><input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" value="1">En el extranjero</label>
                    </div>
                </div>
            </div>
            <div v-if="en_extranjero == 1" class="uk-width-1-4@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">País</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="pais"
                        type="text"
                        v-model="ubicacion">
                </div>
            </div>
            <div v-else class="uk-width-1-4@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Entidad federativa</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="entidad-federativa"
                        type="text"
                        v-model="ubicacion">
                </div>
            </div>
            <!-- cargar catalogo -->
            <div class="uk-width-1-4@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Sector productico al que pertenece</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="sector_id" required>
                        <option :value="''">Seleccione la forma de adquisición</option>
                        <option v-for="(sector, index) in catalogo_sector" :key="index"
                            :value="sector.SectorID">{{sector.Sector}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="observaciones"
                        type="text"
                        v-model="observaciones">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded"
                        :disabled="loadingBtn"
                        type="submit">
                    <span v-show="loadingBtn === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default{
        name:"RepresentacionForm",
        props:[
            'catalogo_sector',
            'representaciones',
            'representacion'
        ],
        mounted(){
            if(_.isEmpty(this.representacion) === false){
                let representacion = this.representacion;
                this.representante = representacion.Representante;
                this.tipo_representacion = representacion.TipoRepresentacion;
                this.fecha_inicio = representacion.FechaInicio;
                this.tipo_persona = representacion.RepresentateTipoPersona;
                this.razon_social = representacion.NombreRazonSocial;
                this.rfc = representacion.RFCRepresentante;
                this.recibe_remuneracion = representacion.RecibeRemuneracion;
                this.monto = representacion.MontoMensual;
                this.en_extranjero = representacion.EsExtranjero;
                this.ubicacion = representacion.Ubicacion;
                this.sector_id = representacion.SectorID;
                this.observaciones = representacion.Observacion;
                this.representacion_id = representacion.RepresentacionID;
            }
        },
        components:{
            flatPickr,
        },
        data(){
            return{
                representante:'',
                tipo_representacion:'',
                fecha_inicio:'',
                tipo_persona:'',
                razon_social:'',
                rfc:null,
                recibe_remuneracion:1,
                monto: null,
                en_extranjero:0,
                ubicacion:null,
                sector_id: '',
                observaciones:null,
                representacion_id:null,
                loadingBtn: false,
            }
        },
        methods:{
            save(){
                let data = {};

                data.representante              =   this.representante;
                data.tipo_representacion        =   this.tipo_representacion;
                data.fecha_inicio               =   this.fecha_inicio;
                data.representante_tipo_persona =   this.tipo_persona;
                data.nombre_razon_social        =   this.razon_social;
                data.rfc_representante          =   this.rfc;
                data.recibe_remuneracion        =   this.recibe_remuneracion;
                data.monto_mensual              =   this.monto;
                data.es_extranjero              =   this.en_extranjero;
                data.ubicacion                  =   this.ubicacion;
                data.sector_id                  =   this.sector_id;
                data.observaciones              =   this.observaciones;
                data.declaracion_id             =   this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.representacion_id          =   this.representacion_id;

                this.btnLoading = true;
                axios.post('/api/declaracion/save-representacion',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            cancel() {
                this.$emit('cancel');
            },
        },
        computed:{
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>