<template>
    <form @submit.prevent="save">
        <!--Primera sección-->
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo vehículo*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded"
                            id="tipo-vehiculo"
                            v-model="tipo_bien_id"
                            required>
                        <option value="">Selecciona un tipo de vehículo</option>
                        <option v-for="(tipo_vehiculo, index) in cat_vehiculos" :key="index"
                                :value="tipo_vehiculo.TipoBienID">{{tipo_vehiculo.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="tipo_bien_id == 99">
                <label class="uk-form-label uk-text-uppercase">Especifique*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           v-model="otro_vinculo"
                           required>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Titular del vehículo*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_titular" required>
                        <option value="">Seleccione el/los titulares</option>
                        <option v-for="(tipo_titular, index) in cat_tipo_titular" :key="index"
                                :value="tipo_titular.TipoTitular">{{tipo_titular.TipoTitular}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Marca*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           required
                           type="text"
                           v-model="marca">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Modelo*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           required
                           type="text"
                           v-model="modelo">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Año*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="Anio"
                           type="number"
                           minlength="4"
                           maxlength="4"
                           required
                           v-model="anio">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Número de serie o registro</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="no-serie"
                           type="text"
                           v-model="no_serie">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Dónde se encuentra registrado?*</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero === 0}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="0" required>En México
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero === 1}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="1">En el extranjero
                        </label>
                    </div>
                </div>
            </div>
            <div v-if="en_extranjero == 1" class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">País*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="pais"
                           type="text"
                           required
                           v-model="ubicacion">
                </div>
            </div>
            <div v-else class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Entidad federativa*</label>
                <div class="uk-form-controls">
                    <select id="entidad_federativa1"
                            class="uk-select uk-border-rounded uk-text-uppercase"
                            required
                            v-model.trim="ubicacion">
                        <option value="">Selecciona una opción</option>
                        <option :value="estado.Nombre" v-for="(estado, index) in estados" :key="index">
                            {{estado.Nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Forma de adquisición*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="forma_adquisicion" required>
                        <option value="">Seleccione la forma de adquisición</option>
                        <option v-for="(forma_adquisicion, index) in cat_forma_adquisicion" :key="index"
                                :value="forma_adquisicion.FormaOperacionID">{{forma_adquisicion.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Forma de pago*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="forma_pago" required>
                        <option value="">Seleccione forma de pago</option>
                        <option value="Crédito">Crédito</option>
                        <option value="Contado">Contado</option>
                        <option value="No aplica">No aplica</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Valor de adquisición del vehículo*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="valor-adquisicion"
                           type="number"
                           required
                           v-model="valor_adquisicion">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Tipo de moneda*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo-moneda"
                           type="text"
                           v-model="tipo_moneda">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Fecha de adquisición del vehículo*</label>
                <div class="uk-form-controls">
                    <flat-pickr id="fecha_inicio"
                                :config="config"
                                v-model="fecha_adquisicion"
                                class="uk-input uk-border-rounded"/>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Motivo baja del vehículo</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="motivo-baja"
                           type="text"
                           v-model="motivo_baja">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <textarea rows="3"
                              class="uk-textarea uk-border-rounded uk-text-uppercase"
                              v-model.trim="observaciones"
                              id="funciones"></textarea>
                </div>
            </div>
        </div>
        <!-- Seccion terceros -->
        <div id="datos-terceros" v-if="showTerceros">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-file-invoice"></i> Datos terceros
                </span>
            </div>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Tipo persona*</label>
                    <div class="uk-form-controls">
                        <div class="uk-grid-small uk-child-width-auto uk-grid">
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona === 0}">
                                <input class="uk-radio" type="radio" name="radio2" v-model="tipo_persona" :value="0">Persona Fisíca
                            </label>
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona === 1}">
                                <input class="uk-radio" type="radio" name="radio2" v-model="tipo_persona" :value="1">Persona Moral
                            </label>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Nombre del tercero o terceros*</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               v-model="nombre_tercero"
                               id="nombre-terceros"
                               required
                               type="text">
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">RFC</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="rfc-terceros"
                               v-model="rfc_tercero"
                               minlength="12"
                               maxlength="13"
                               type="text">
                    </div>
                </div>
            </div>
        </div>
        <!-- Seccion Transmisor -->
        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
            <span class="uk-text-bold">
                <i class="fas fa-file-invoice"></i> Datos transmisor
            </span>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo persona*</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona_transmisor === 0}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="tipo_persona_transmisor" :value="0">Persona física
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona_transmisor === 1}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="tipo_persona_transmisor" :value="1">Persona Moral
                        </label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Relación del transmisor de la propiedad con el titular*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="vinculo_transmisor" required>
                        <option value="">Seleccione el tipo de relación con el transmisor</option>
                        <option v-for="(vinculo, index) in cat_vinculo_personal" :key="index"
                                :value="vinculo.Nombre">{{vinculo.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="vinculo_transmisor == 'Otro'">
                <label class="uk-form-label uk-text-uppercase">Especifique*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo_bien"
                           type="text"
                           v-model="otro_vinculo"
                           required>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Nombre o razón social del transmisor de la propiedad</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="nombre-transmisor"
                           type="text"
                           v-model="nombre_transmisor">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC Transmisor</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="rfc-transmisor"
                           type="text"
                           minlength="12"
                           maxlength="13"
                           v-model="rfc_transmisor">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Cancelar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                    <span v-show="btnLoading === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default {
        name: "VehiculosForm",
        props:[
            'cat_vehiculos',
            'cat_tipo_titular',
            'cat_vinculo_personal',
            'cat_forma_adquisicion',
            'estados',
            'vehiculo'
        ],
        components: {
            flatPickr,
        },
        mounted() {
            if(_.isEmpty(this.vehiculo) === false) {
                let vehiculo = this.vehiculo;
                this.tipo_bien_id = vehiculo.TipoBienID;
                this.tipo_titular = vehiculo.Titular;
                this.marca = vehiculo.VehiculoMarca;
                this.modelo = vehiculo.VehiculoModelo;
                this.anio = vehiculo.VehiculoAnio;
                this.no_serie = (_.isNull(vehiculo.VehiculoNumeroSerie)) ? '' : vehiculo.VehiculoNumeroSerie;
                this.en_extranjero = this.setEsExtrangero(vehiculo.Ubicacion);
                this.ubicacion = vehiculo.Ubicacion;
                this.forma_adquisicion = vehiculo.FormaAdquisicionID;
                this.forma_pago = vehiculo.FormaPago;
                this.valor_adquisicion = vehiculo.Valor;
                this.tipo_moneda = vehiculo.TipoMoneda;
                this.motivo_baja = (_.isNull(vehiculo.MotivoBaja)) ? '' : vehiculo.MotivoBaja;
                this.observaciones = (_.isNull(vehiculo.Observaciones)) ? '' : vehiculo.Observaciones;
                this.fecha_adquisicion = vehiculo.FechaOperacion;
                this.tipo_persona = parseInt(vehiculo.TipoPersonaTercero);
                this.nombre_tercero = (_.isNull(vehiculo.NombreTercero)) ? '' : vehiculo.NombreTercero;
                this.rfc_tercero = (_.isNull(vehiculo.RFCTercero)) ? '' : vehiculo.RFCTercero;
                this.vinculo_transmisor = vehiculo.RelacionTransmisor;
                this.tipo_persona_transmisor = parseInt(vehiculo.TipoPersonaTransmisor);
                this.nombre_transmisor = (_.isNull(vehiculo.NombreRazonSocial)) ? '' : vehiculo.NombreRazonSocial;
                this.rfc_transmisor = (_.isNull(vehiculo.RFCTRansmisor)) ? '' : vehiculo.RFCTRansmisor;
                this.otro_vinculo = (_.isNull(vehiculo.OtroTipoBien)) ? '' : vehiculo.OtroTipoBien;
                this.bien_mueble = vehiculo.BienMuebleID;
            }
        },
        data(){
            return{
                tipo_bien_id: "",
                tipo_titular: "",
                marca:"",
                modelo: "",
                anio: "",
                no_serie: "",
                en_extranjero: 0,
                ubicacion: "",
                forma_adquisicion: "",
                forma_pago: "",
                valor_adquisicion: "",
                tipo_moneda: "",
                motivo_baja: "",
                observaciones: "",
                fecha_adquisicion: "",
                tipo_persona: 0,
                nombre_tercero: "",
                rfc_tercero: "",
                vinculo_transmisor: "",
                tipo_persona_transmisor: 0,
                nombre_transmisor: "",
                rfc_transmisor: "",
                otro_vinculo: "",
                btnLoading: false,
                bien_mueble: null,
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
            }
        },
        methods: {
            save(){
                let bien_mueble_id;
                if(this.bien_mueble == null){
                    bien_mueble_id = null;
                } else {
                    bien_mueble_id = this.bien_mueble;
                }
                let data = {};
                data.declaracion_id          = this.getDatosDeclaracion.inf_gral[0].DeclaracionID;
                data.tipo_bien_id            = this.tipo_bien_id;
                data.titular                 = this.tipo_titular;
                data.tipo_persona_transmisor = this.tipo_persona_transmisor;
                data.nombre_razon_social     = this.nombre_transmisor;
                data.rfc_transmisor          = this.rfc_transmisor;
                data.relacion_transmisor     = this.vinculo_transmisor;
                data.nombre_tercero          = this.nombre_tercero;
                data.tipo_persona_tercero    = this.tipo_persona;
                data.rfc_tercero             = this.rfc_tercero;
                data.forma_adquisiscion_id   = this.forma_adquisicion;
                data.forma_pago              = this.forma_pago;
                data.valor                   = this.valor_adquisicion;
                data.tipo_moneda             = this.tipo_moneda;
                data.fecha_operacion         = this.fecha_adquisicion;
                data.caracteristicas         = null;
                data.vehiculo_marca          = this.marca;
                data.vehiculo_modelo         = this.modelo;
                data.vehiculo_no_serie       = this.no_serie;
                data.en_extranjero           = this.en_extranjero;
                data.vehiculo_anio           = this.anio;
                data.motivo_baja             = this.motivo_baja;
                data.descripcion_bien        = null;
                data.ubicacion               = this.ubicacion;
                data.observaciones           = this.observaciones;
                data.otro_tipo_bien          = null;
                data.bien_mueble_id          = bien_mueble_id;
                this.btnLoading              = true;
                axios.post('/api/declaracion/save-vehiculo',data).then(resp => {
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            },
            cancel() {
                this.$emit('cancel');
            },
            setEsExtrangero(ubicacion) {
                let esNacional = 0;
                for(let i = 0; i < this.estados.length; i++) {
                    if(esNacional === 0) {
                       if(this.estados[i].Nombre == ubicacion) {
                           esNacional = 1;
                       }
                    }
                }
                if(esNacional === 1) {
                    console.log(esNacional);
                    return 0;
                } else {
                    console.log(esNacional);
                    return 1;
                }
            }
        },
        computed: {
            showTerceros(){
                return (this.tipo_titular != 'DECLARANTE' && this.tipo_titular != null) ? true : false;
            },
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
