<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Menú principal</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Menú principal</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <!--Plataformas de usuario -->
                <template v-if="plataformas.length > 0">
                    <menu-card v-for="(plataforma, index) in plataformas" :key="index"
                               :title="plataforma.Descripcion"
                               :description="setDescription(plataforma)"
                               :goToUrl="setGoToUrl(plataforma)">
                        <i :class="setIconModule(plataforma)"></i>
                    </menu-card>
                </template>
                <template v-else>
                    <div class="uk-width-1-1 uk-text-center uk-padding">
                        <img src="/img/svg/ilustration2.svg" width="450"/>
                        <p class="uk-margin-small-top">
                            <span class="uk-text-uppercase uk-text-bold" v-if="loading === false">No se encontraron plataformas disponibles</span>
                            <template v-else>
                                <span uk-spinner="ratio: 2"></span> <br>
                                CARGANDO...
                            </template>
                        </p>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    export default {
        name: "index",
        components: {
            MenuCard
        },
        created() {
            this.getDataPlataformas();
        },
        data() {
            return {
                plataformas: [],
                loading: false
            }
        },
        methods: {
            getDataPlataformas() {
                this.loading = true;
                axios.post('/api/get-data-plataformas').then(resp => {
                    this.plataformas = resp.data.plataformas;
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                })
            },
            setDescription(plataforma) {
                let nombrePlataforma = plataforma.NombrePlataforma;
                if(nombrePlataforma === 'SAD') {
                    return 'Acceso a los módulos de Auditoría de Desempeño'
                } else if(nombrePlataforma === 'CI') {
                    return 'Acceso a los módulos de Auditoría de Control Interno'
                } else if(nombrePlataforma === 'SDP') {
                    return 'Sistema de Declaración y de Intereses';
                } else if(nombrePlataforma === 'ADMINISTRADORTI') {
                    return 'Acceso a la plataforma de Administración TI';
                }
                return '';
            },
            setGoToUrl(plataforma) {
                let nombrePlataforma = plataforma.NombrePlataforma;
                if(nombrePlataforma === 'SAD') {
                    return 'plataforma-sad';
                } else if(nombrePlataforma === 'CI') {
                    return 'plataforma-ci';
                } else if(nombrePlataforma === 'SDP') {
                    return 'plataforma-sdp';
                } else if(nombrePlataforma === 'ADMINISTRADORTI') {
                    return 'plataforma-admon';
                }
                return '';
            },
            setIconModule(plataforma) {
                let nombrePlataforma = plataforma.NombrePlataforma;
                if(nombrePlataforma === 'SAD') {
                    return 'fas fa-handshake fa-3x';
                } else if(nombrePlataforma === 'CI') {
                    return 'fas fa-clipboard-check fa-3x'
                } else if(nombrePlataforma === 'SDP') {
                    return 'fas fa-file-signature fa-3x';
                } else if(nombrePlataforma === 'ADMINISTRADORTI') {
                    return 'fas fa-desktop fa-3x';
                }
                return '';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
            }
        }
    }
</style>
