<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Menú principal</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Menú principal</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div v-if="loading" class="uk-width-1-1">
                    <div class="uk-margin-medium-top uk-margin-medium-bottom uk-text-center uk-text-uppercase">
                        <span uk-spinner="ratio: 3"></span> <br>
                        Cargando auditorías...
                    </div>
                </div>
                <div v-else class="uk-width-1-1">
                    <template v-if="hasAudControlInterno === false && hasAudDesempenio === false">
                        <p class="uk-text-center uk-text-uppercase">
                            No se encontrarón auditorías disponibles
                        </p>
                    </template>
                    <template v-else>
                        <div class="uk-grid">
                            <!--Auditoria de control interno-->
                            <menu-card
                                v-if="hasAudControlInterno"
                                title="Auditoría de Control Interno"
                                description="Contestar el cuestionario de auditoría de control interno"
                                goToUrl="cuestionario-auditoria-control-interno-enlace">
                                <i class="fas fa-clipboard-check fa-3x"></i>
                            </menu-card>
                            <!--Módulo de desempeño-->
                            <menu-card
                                v-if="hasAudDesempenio"
                                title="Auditoría de Desempeño"
                                description="Acceso a los módulos de Auditoría de Desempeño"
                                goToUrl="cuestionario-auditoria-desempenio-enlace">
                                <i class="fas fa-handshake fa-3x"></i>
                            </menu-card>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    export default {
        name: "indexEnlace",
        created() {
            this.checkAuditoriaControlInterno();
            this.checkAuditoriaDesempenio();
        },
        data() {
            return {
                hasAudControlInterno: false,
                hasAudDesempenio: false,
                loading: true
            }
        },
        components: {
            MenuCard
        },
        methods: {
            checkAuditoriaControlInterno() {
                let data = {
                    api_token: localStorage.getItem('api_token'),
                    FuncionarioID: this.getUser.FuncionarioID,
                    Entidad: this.getUser.Entidad
                };
                axios.post('/api/check-has-auditoria', data).then(resp => {
                    this.hasAudControlInterno = resp.data.audControlInterno;
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                })
            },
            checkAuditoriaDesempenio() {
                let data = {
                    api_token: localStorage.getItem('api_token'),
                    FuncionarioID: this.getUser.FuncionarioID,
                    Entidad: this.getUser.Entidad
                };
                axios.post('/api/check-has-auditoria-desempenio', data).then(resp => {
                    this.hasAudDesempenio = resp.data.audDesempenio;
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                })
            }
        },
        computed: {
            getUser(){
                return this.$store.getters.dataUser;
            }
        },
        watch: {
            getUser: function(val) {
                if(_.isEmpty(val) === false) {
                    this.checkAuditoriaControlInterno();
                    this.checkAuditoriaDesempenio();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
            }
        }
    }
</style>
