<template>
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-text-center uk-padding">
            <img src="/img/svg/ilustration2.svg" width="450" class="uk-margin-large-top">
            <p class="uk-margin-small-top">
                <span uk-spinner="ratio: 2"></span>
                <br>
                CARGANDO DECLARACION PATRIMONIAL
            </p>
        </div>
    </div>
</template>

<script>
    import user from "../../store/modules/user";

    export default{
        name: "PlataformaDeclaracion",
        created() {
            this.getUserRole();
        },
        methods: {
            getUserRole() {
                let data = {
                    plataforma: 'SDP'
                };
                axios.post('/api/get-user-platform-rol-declaracion', data).then(resp => {
                    let userTypes = resp.data.userTypes;
                    if(userTypes.length > 0) {
                        let isAdminDeclaracion = false;
                        userTypes.forEach(userType => {
                            if(isAdminDeclaracion === false) {
                                let rol = userType.NombreRol.toUpperCase();
                                if(rol === 'ADMINISTRADOR SDP') {
                                    isAdminDeclaracion = true
                                }
                            }
                        });
                        if(isAdminDeclaracion) {
                            this.$router.push({name: 'declaracion-administrador'});
                        } else {
                            this.$router.push({name: 'estatus-declaracion'});
                        }
                    } else {
                        this.$router.push({name: 'dashboard'});
                    }
                }).catch(e => {
                    this.$router.push({name: 'dashboard'});
                })
            }
        }
    }
</script>

<style scoped>

</style>
