<template>
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-text-uppercase" v-show="loading">
            <div uk-spinner="ratio: 2.0"></div>
            <br>
            Cargando...
        </div>
        <div class="uk-width-1-1" v-show="!loading">
            <div class="uk-grid uk-margin-small-bottom uk-margin-small-top uk-flex uk-flex-right" id="pregunta_section">
                <div class="uk-width-1-2 uk-text-right" v-if="!isEmptyPregunta">
                    <span class="uk-text-primary uk-text-bold uk-text-uppercase uk-info-number uk-border-rounded">Pregunta {{ getNumberPregunta }} de {{ getNumberPreguntas }}</span>
                </div>
            </div>
            <template v-if="showListaPreguntas">
                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                    <thead>
                    <tr>
                        <th class="uk-text-center">No. Pregunta</th>
                        <th>Pregunta</th>
                        <th class="uk-text-center">Estado</th>
                        <th class="uk-text-center">Puntuación</th>
                        <th class="uk-text-center">Clasificación</th>
                        <th class="uk-text-center">Anexos</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(pregunta, index) in preguntas" :key="index"
                            @click="showFormPregunta(pregunta)" class="uk-table-hover">
                            <td class="uk-text-uppercase uk-text-center">
                                {{ pregunta.NoPregunta }}
                            </td>
                            <td class="uk-text-justify">
                                {{ pregunta.Pregunta }}
                            </td>
                            <td class="uk-text-center">
                                    <span v-if="checkPreguntaTerminada(pregunta)" class="uk-text-success">
                                        Revisada
                                    </span>
                                <span v-else class="uk-text-danger">
                                        No revisada
                                    </span>
                            </td>
                            <td class="uk-text-center">
                                {{ pregunta.PuntosAuditor }}
                            </td>
                            <td class="uk-text-center">
                                {{ setClasificacion(pregunta.PuntosAuditor) }}
                            </td>
                            <td class="uk-text-center">
                                <span v-if="isNullAnexos(pregunta.No_Anexos)"></span>
                                <span v-else-if="pregunta.No_Anexos === 0"></span>
                                <span v-else>
                                    <i class="fas fa-paperclip fa-lg" :uk-tooltip="pregunta.No_Anexos"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="uk-text-lead uk-text-bold">
                                TOTAL
                            </td>
                            <td class="uk-text-lead uk-text-bold">
                                {{ setPuntuacionTotal }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </template>
            <template v-else>
                <pregunta-cuestionario :preguntas="preguntas"
                                       @reloadpreguntas="reloadPreguntas"
                                       :auditoria="auditoria"></pregunta-cuestionario>
                <button type="button"
                        class="uk-button uk-button-default uk-border-rounded uk-float-left uk-margin-small-top"
                        @click="resetPregunta"
                        v-show="showButtonBack">
                    <i class="fas fa-long-arrow-alt-left"></i> Regresar a lista de preguntas
                </button>
            </template>
        </div>
    </div>
</template>

<script>
    import PreguntaCuestionario from "@/js/components/auditoria_desempenio/Auditor/PreguntaCuestionario";
    export default {
        name: "FormCuestionario",
        props: ['auditoria'],
        components: {
            PreguntaCuestionario
        },
        data() {
            return {
                preguntas: [],
                loading: false,
                pregunta: {},
                preguntaAnterior: {},
                preguntaSiguiente: {}
            }
        },
        created() {
            this.getPreguntas();
        },
        methods: {
            getPreguntas() {
                this.loading = true;
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/auditor/get-preguntas', data).then(resp => {
                    this.preguntas = resp.data.preguntas;
                    this.$store.commit('updateNoPreguntas', this.preguntas.length);
                    this.$store.commit('updatePreguntasDesempenio', this.preguntas);
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                })
            },
            checkPreguntaTerminada(pregunta) {
                if(pregunta.RecomendacionAuditor === null) {
                    return false;
                } else {
                    return true;
                }
            },
            showFormPregunta(pregunta) {
                this.$store.commit('updatePregunta', pregunta);
                this.$store.dispatch('getAnexosDesempenioAuditor', {
                    pregunta: pregunta
                });
                this.setPreguntaAntSig(pregunta);
                var elmnt = document.getElementById("pregunta_section");
                elmnt.scrollIntoView();
            },
            resetPregunta() {
                this.$store.commit('resetPregunta');
                this.getPreguntas();
                this.$store.commit('resetAnexos');
            },
            setPreguntaAntSig(pregunta) {
                let noPregunta = pregunta.NoPregunta;
                let totalPreguntas = this.preguntas.length;
                this.preguntaAnterior = {};
                this.preguntaSiguiente = {};
                if(noPregunta === 1) {
                    this.$store.commit('updatePreguntaAnterior', {});
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[1]);
                } else if(noPregunta === totalPreguntas) {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[totalPreguntas - 2]);
                    this.$store.commit('updatePreguntaSiguiente', {});
                } else {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[noPregunta - 2]);
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[noPregunta]);
                }
            },
            reloadPreguntas() {
                this.getPreguntas();
            },
            isNullAnexos(anexos){
                return _.isNull(anexos);
            },
            setClasificacion(puntuacion) {
                if(_.isNull(puntuacion)) {
                    return '';
                } else {
                    let totalPreguntas = this.getNumberPreguntas;
                    let puntuacionAlta = parseFloat(100 / totalPreguntas).toFixed(2);
                    let puntuacionMedia = parseFloat(puntuacionAlta / 2).toFixed(2);
                    if(parseFloat(puntuacion) === parseFloat(puntuacionAlta)) {
                        return 'A';
                    } else if(parseFloat(puntuacion) === parseFloat(puntuacionMedia)) {
                        return 'B';
                    } else {
                        return 'C';
                    }
                }
            }
        },
        computed: {
            getNumeroPreguntas() {
                return this.$store.getters.dataCuestionario.noPreguntas;
            },
            getDataPregunta() {
                return this.$store.getters.dataPregunta;
            },
            showButtonBack() {
                return (this.getNumeroPreguntas > 0 && _.isEmpty(this.getDataPregunta) === false);
            },
            showListaPreguntas() {
                return (_.isEmpty(this.$store.getters.dataPregunta));
            },
            isEmptyPregunta() {
                return (_.isEmpty(this.$store.getters.dataPregunta));
            },
            getNumberPregunta() {
                return this.$store.getters.dataPregunta.NoPregunta;
            },
            getNumberPreguntas() {
                return this.$store.getters.dataCuestionario.noPreguntas;
            },
            setPuntuacionTotal() {
                let preguntas = this.preguntas;
                let puntuacion = 0;
                for(let i = 0; i < preguntas.length; i++) {
                    puntuacion = puntuacion + preguntas[i].PuntosAuditor;
                }
                return puntuacion.toFixed(2);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-table-hover {
        cursor: pointer;
    }
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-info-number {
        color: $color-primary !important;
    }
</style>
