<template>
    <div class="uk-width-1-1@m">
        <div v-if="loading">
            <div class="uk-text-center uk-padding">
                <p class="uk-margin-small-top">
                    <span uk-spinner="ratio: 2"></span> <br>
                    CARGANDO...
                </p>
            </div>
        </div>
        <div v-else>
            <template v-if="isDataTypeDeclaracionEmpty === false">
                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                    <div class="uk-grid">
                        <div class="uk-width-1-2@m">
                            <span class="uk-text-bold">
                                {{ dataDeclaracion.tipo.Nombre }}
                            </span>
                        </div>
                        <div class="uk-width-1-2@m uk-text-right">
                            <span class="uk-text-bold">
                                Ejercicio Fiscal {{ dataDeclaracion.ejercicio.Year }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-margin-remove-left">
                    <div class="uk-width-1-1 uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-small">
                        Se deberá presentar su declaración anual correspondiente al ejercicio fiscal 2020, a mas tardar el <strong>31 de Mayo de 2021.</strong>
                    </div>
                    <div class="uk-width-1-1 uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-top uk-margin-small-bottom uk-text-small">
                        I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL
                    </div>
                </div>

                <div class="uk-grid uk-margin-small-top">
                    <menu-card-small :title="setTitleSection(firstSecction.Nombre, index)"
                                     :goToUrl="setUrlSection(firstSecction)"
                                     :status="setStatusSection(firstSecction.EstadoActual)"
                                     v-for="(firstSecction, index) in getSeccionesFirst"
                                     :key="index">
                        <i :class="setIconSection(firstSecction)"></i>
                    </menu-card-small>
                    <menu-card-small :title="setTitleSection('Declaración Fiscal Anual (SAT)', this.getSeccionesFirst.length)"
                                     :goToUrl="'subir-declaracion-sat'"
                                     :status="null"
                                     :key="100">
                        <i class="fas fa-file-pdf fa-3x"></i>
                    </menu-card-small>
                </div>

                <div class="uk-grid uk-margin-remove-left uk-margin-small-top" v-if="getSeccionesSecond.length > 0">
                    <div class="uk-width-1-1 uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-text-small">
                        II. DECLARACIÓN DE INTERESES
                    </div>
                </div>
                <div class="uk-grid uk-margin-small-top">
                    <menu-card-small :title="setTitleSection(secondSection.Nombre, index)"
                                     :goToUrl="setUrlSection(secondSection)"
                                     :status="setStatusSection(secondSection.EstadoActual)"
                                     v-for="(secondSection, index) in getSeccionesSecond"
                                     :key="index">
                        <i :class="setIconSection(secondSection)"></i>
                    </menu-card-small>
                </div>
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                        <button class="uk-button uk-button-primary uk-border-rounded uk-float-right" disabled>
                            Envíar Declaración
                        </button>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-text-center uk-padding">
                        <img src="/img/svg/ilustration3.svg" width="450"/>
                        <p class="uk-margin-small-top uk-text-uppercase uk-text-bold">
                            No se ha definido el tipo de declaración a presentar.
                        </p>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    import MenuCardSmall from "@/js/components/MenuCardSmall";
    export default {
        name: "MenuSecciones",
        components: {
            MenuCardSmall
        },
        created() {
            this.getDataDeclaracion()
        },
        data() {
            return {
                loading: false,
                dataDeclaracion: {}
            }
        },
        methods: {
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            setTitleSection(sectionName, index) {
                let position = parseInt(index) + 1;
                return position+'. '+sectionName;
            },
            setStatusSection(status) {
                return (status === 1)
            },
            setUrlSection(section) {
                let sectionId = section.SeccionID;
                let url = '';
                if(sectionId === 1) {
                    url = 'datos-generales';
                } else if(sectionId === 2) {
                    url = 'domicilio-declarante';
                } else if(sectionId === 3) {
                    url = 'datos-curriculares';
                } else if(sectionId === 4) {
                    url = 'datos-cargo';
                } else if(sectionId === 5) {
                    url = 'experiencia-laboral';
                } else if(sectionId === 6) {
                    url = 'datos-pareja';
                } else if(sectionId === 7) {
                    url = 'datos-dependiente';
                } else if(sectionId === 8) {
                    url = 'ingresos';
                } else if(sectionId === 9) {
                    url = 'servidor-publico-pasado';
                } else if(sectionId === 10) {
                    url = 'bienes-inmuebles';
                } else if(sectionId === 11) {
                    url = 'vehiculos';
                } else if(sectionId === 12) {
                    url = 'bienes-muebles';
                } else if(sectionId === 13) {
                    url = 'inversiones';
                } else if(sectionId === 14) {
                    url = 'adeudos-pasivos';
                } else if(sectionId === 15) {
                    url = 'prestamo-comodato';
                } else if(sectionId === 16) {
                    url = 'participacion-empresas';
                } else if(sectionId === 17) {
                    url = 'participacion-instituciones';
                } else if(sectionId === 18) {
                    url = 'apoyos-beneficios';
                } else if(sectionId === 19) {
                    url = 'representacion';
                } else if(sectionId === 20) {
                    url = 'clientes-principales';
                } else if(sectionId === 21) {
                    url = 'beneficios-privados';
                } else {
                    url = 'fideicomisos';
                }
                return url;
            },
            setIconSection(section) {
                let sectionId = section.SeccionID;
                let icon = '';
                if(sectionId === 1) {
                    icon = 'fas fa-user fa-3x';
                } else if(sectionId === 2) {
                    icon = 'fas fa-home fa-3x';
                } else if(sectionId === 3) {
                    icon = 'fas fa-id-card-alt fa-3x';
                } else if(sectionId === 4) {
                    icon = 'fas fa-briefcase fa-3x';
                } else if(sectionId === 5) {
                    icon = 'fas fa-address-card fa-3x';
                } else if(sectionId === 6) {
                    icon = 'fas fa-user-friends fa-3x';
                } else if(sectionId === 7) {
                    icon = 'fas fa-users fa-3x';
                } else if(sectionId === 8) {
                    icon = 'fas fa-coins fa-3x';
                } else if(sectionId === 9) {
                    icon = 'fas fa-business-time fa-3x';
                } else if(sectionId === 10) {
                    icon = 'fas fa-file-invoice fa-3x';
                } else if(sectionId === 11) {
                    icon = 'fas fa-car fa-3x';
                } else if(sectionId === 12) {
                    icon = 'fas fa-gem fa-3x';
                } else if(sectionId === 13) {
                    icon = 'fas fa-wallet fa-3x';
                } else if(sectionId === 14) {
                    icon = 'fas fa-file-invoice-dollar fa-3x';
                } else if(sectionId === 15) {
                    icon = 'fas fa-credit-card fa-3x';
                } else if(sectionId === 16) {
                    icon = 'fas fa-city fa-3x';
                } else if(sectionId === 17) {
                    icon = 'fas fa-landmark fa-3x';
                } else if(sectionId === 18) {
                    icon = 'fas fa-hand-holding-usd fa-3x';
                } else if(sectionId === 19) {
                    icon = 'fas fa-user-tie fa-3x';
                } else if(sectionId === 20) {
                    icon = 'fas fa-user-tag fa-3x';
                } else if(sectionId === 21) {
                    icon = 'fas fa-search-dollar fa-3x';
                } else {
                    icon = 'fas fa-receipt fa-3x';
                }
                return icon;
            }
        },
        computed: {
            isDataTypeDeclaracionEmpty() {
                if(_.isEmpty(this.dataDeclaracion)) {
                    return true;
                } else {
                    if(this.dataDeclaracion.tipo === false) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            getSeccionesFirst() {
                if(this.isDataTypeDeclaracionEmpty === true) {
                    return [];
                } else {
                    let secciones = this.dataDeclaracion.secciones;
                    return secciones.filter(seccion => seccion.Parte === 1);
                }
            },
            getSeccionesSecond() {
                if(this.isDataTypeDeclaracionEmpty === true) {
                    return [];
                } else {
                    let secciones = this.dataDeclaracion.secciones;
                    return secciones.filter(seccion => seccion.Parte === 2);
                }
            },
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            }
        },
        watch:{
            'getDatosDeclaracion':function(val){
                this.dataDeclaracion = val;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
