<template>
    <div id="modal-usuarios-declaracion" class="uk-modal-container" uk-modal="esc-close:false; bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close @click="resetAsignar"></button>
            <div class="uk-modal-header">
                <h2 class="uk-text-large uk-text-uppercase">Usuarios asignados a {{ setTipoDeclaracion.Nombre }}</h2>
            </div>
            <div class="uk-modal-body uk-padding-remove-top" uk-overflow-auto>
                <template v-if="asignar === false">
                    <table class="uk-table uk-table-divider uk-table-striped uk-table-small uk-text-small uk-text-uppercase uk-table-hover"
                           v-if="users.length > 0">
                        <thead>
                        <tr class="uk-thead">
                            <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                            <th style="position: sticky; top: 0;">Usuario</th>
                            <th class="uk-text-right" style="position: sticky; top: 0;">
                                <button class="uk-button uk-border-rounded uk-button-small uk-button-danger"
                                        @click="enviarCorreos(users)" :disabled="btnLoading">
                                    <span v-if="!btnLoading">Envíar correos <i class="fas fa-envelope"></i></span>
                                    <span v-else uk-spinner="ratio: 0.7"></span>
                                </button>
                            </th>
                            <th style="position: sticky; top: 0;" class="uk-text-right uk-width-small">
                                <button class="uk-button uk-border-rounded uk-button-small uk-button-danger"
                                        uk-tooltip="AGREGAR USUARIOS"
                                        @click="asignar = true">
                                    <i class="fas fa-user-plus"></i>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(user, index) in users" :key="index">
                            <td class="uk-text-center">{{ index + 1 }}</td>
                            <td>{{ user.NombreUsuario }}</td>
                            <td class="uk-text-right">
                                <button class="uk-button uk-border-rounded uk-button-small uk-button-default uk-button-small"
                                        @click="enviarCorre(user)" :disabled="btnLoading">
                                    <span v-if="!btnLoading">Envíar correo <i class="fas fa-envelope"></i></span>
                                    <span v-else uk-spinner="ratio: 0.7"></span>
                                </button>
                            </td>
                            <td class="uk-text-right">
                                <button type="button"
                                        class="uk-button uk-button-small uk-border-rounded uk-button-danger"
                                        @click="removerUsuarioDeclaracion(user)">
                                    Remover <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div v-else>
                        <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-margin-medium-top">
                            <p>
                                No se encontraron usuarios asignados para este tipo de declaración
                            </p>
                            <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                    type="button"
                                    @click="asignar = true">
                                <i class="fas fa-user-plus"></i> Asignar usuarios
                            </button>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <table class="uk-table uk-table-divider uk-table-striped uk-table-small uk-text-small uk-text-uppercase uk-table-hover" v-if="usersClear.length > 0">
                        <thead>
                            <tr class="uk-thead">
                                <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                                <th style="position: sticky; top: 0;">Usuario</th>
                                <th style="position: sticky; top: 0;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in usersClear" :key="index">
                                <td class="uk-text-center">{{ index + 1 }}</td>
                                <td>{{ user.NombreUsuario }}</td>
                                <td>
                                    <input type="checkbox" class="uk-checkbox uk-border-rounded" :value="user.UsuarioID" v-model="usersClearForSave">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </template>
            </div>
            <div class="uk-modal-footer uk-text-right" v-show="asignar">
                <button class="uk-button uk-button-default uk-modal-close" type="button" @click="resetAsignar">Cancelar</button>
                <button class="uk-button uk-button-danger" type="button" @click="asignarUsuarios">Asignar</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModalUsuariosDeclaracion",
        data() {
            return {
                users: [],
                usersClear: [],
                usersClearForSave: [],
                asignar: false,
                btnLoading: false
            }
        },
        computed: {
            setTipoDeclaracion() {
                return this.$store.getters.getTipoDeclaracionConsultado
            },
        },
        methods: {
            resetAsignar() {
                this.asignar = false;
                this.usersClearForSave = [];
            },
            asignarUsuarios() {
                let confirm = window.confirm("¿CONFIRMA QUE DESEA AGREGAR A LOS USUARIOS SELECCIONADOS A ESTE TIPO DE DECLARACIÓN PATRIMONIAL?");
                if(confirm) {
                    let data = {
                        usuarios: this.usersClearForSave,
                        tipo: this.setTipoDeclaracion.TipoDeclaracionID
                    }
                    axios.post('/api/declaracion/admin/asignar-usuario-declaracion', data).then(resp => {
                        location.reload();
                    }).catch(e => {
                        console.log(e)
                    });
                } else {
                    return false;
                }
            },
            removerUsuarioDeclaracion(user) {
                let confirm = window.confirm("¿CONFIRMA QUE DESEA REMOVER AL USUARIO DE LA DECLARACIÓN. SE PERDERÁ TODA SU INFORMACIÓN?");
                if(confirm) {
                    let data = {
                        user: user.UsuarioID
                    }
                    axios.post('/api/declaracion/admin/remover-usuario-declaracion', data).then(resp => {
                        location.reload();
                    }).catch(e => {
                        console.log(e)
                    });
                } else {
                    return false;
                }
            },
            enviarCorreos(users) {
                let confirm = window.confirm("¿CONFIRMA QUE DESEA ENVÍAR EL CORREO DE NOTIFICACIÓN DE DECLARACIÓN PATRIMONIAL A LOS USUARIOS?");
                if(confirm) {
                    let data = {
                        users: users
                    }
                    this.btnLoading = true;
                    axios.post('/api/declaracion/admin/enviar-correos-notificacion', data).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Los correos han sido envíados',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.btnLoading = false;
                    }).catch(e => {
                        console.log(e)
                        this.btnLoading = false;
                    });
                } else {
                    return false;
                }
            },
            enviarCorre(user) {
                let confirm = window.confirm("¿CONFIRMA QUE DESEA ENVÍAR EL CORREO DE NOTIFICACIÓN DE DECLARACIÓN PATRIMONIAL AL USUARIO?");
                if(confirm) {
                    let data = {
                        user: user
                    }
                    this.btnLoading = true;
                    axios.post('/api/declaracion/admin/enviar-correo-notificacion', data).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> El correo ha sido envíado',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.btnLoading = false;
                    }).catch(e => {
                        console.log(e)
                        this.btnLoading = false;
                    });
                } else {
                    return false;
                }
            }
        },
        watch: {
            'setTipoDeclaracion': function(val) {
                this.asignar = false;
                let users    = this.$store.getters.getUsersToDeclare;
                let tipo     = val.TipoDeclaracionID;
                this.users   = users.filter((user) => {
                    return user.TipoDeclaracionID == tipo;
                });
                this.usersClear = users.filter((user) => {
                    return _.isNull(user.TipoDeclaracionID);
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-thead > th{
        font-weight: bold;
        background-color: #424242;
        color: $color-white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .uk-button-danger:disabled,
    .uk-button-danger[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
