<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Auditoría de Control Interno</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Auditoría de Control Interno</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <!--Módulo de respuesta inicial de auditoría-->
                <menu-card
                    title="Módulo de Respuesta inicial de auditoría"
                    description="Revisar y evaluar las respuestas y documentación anexa enviados por enlaces"
                    :goToUrl="setRouteRespuestas">
                    <i class="fas fa-clipboard-list fa-3x"></i>
                    <span class="uk-badge" :class="{'uk-animation-shake': noRespuestas > 0 }">{{noRespuestas}}</span>
                </menu-card>
                <!--Módulo de solventación de recomendaciones de auditoría-->
                <menu-card
                    title="Módulo de Solventación de Recomendaciones de Auditoría"
                    description="Revisar y evaluar las respuestas y documentación anexa enviados por enlaces"
                    :goToUrl="setRouteSolventacones">
                    <i class="fas fa-tasks fa-3x"></i>
                    <span class="uk-badge" :class="{'uk-animation-shake': noSolventaciones > 0 }">{{noSolventaciones}}</span>
                </menu-card>
            </div>
        </div>
    </div>
</template>

<script>
import MenuCard from "@/js/components/MenuCard";
export default {
    name: "IndexControlInterno",
    components: {
        MenuCard
    },
    created() {
        this.getNoRespuestasSolventaciones();
    },
    data() {
        return {
            noRespuestas: 0,
            noSolventaciones: 0
        }
    },
    methods: {
        getNoRespuestasSolventaciones() {
            axios.post('/api/auditor/get-respuestas-solventaciones').then(resp => {
                this.noRespuestas = resp.data.noRespuestas;
                this.noSolventaciones = resp.data.noSolventaciones;
            }).catch(e => console.log(e));
        },
    },
    computed: {
        setRouteRespuestas() {
            return (this.noRespuestas > 0) ? 'dashboard_auditor_respuesta_inicial_control_interno' : '';
        },
        setRouteSolventacones() {
            return (this.noSolventaciones > 0) ? 'dashboard_auditor_modulo_solventacion_recomendaciones_control_interno' : '';
        }
    }
}
</script>

<style lang="scss" scoped>
.uk-container-expand{
    .uk-container {
        .uk-grid{
            .uk-breadcrumb{
                li > span {
                    font-family: $ff-franklin !important;
                }
                .uk-breadcrumb-active{
                    background-color: $color-grey-disabled;
                    color: $color-black;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 4px;
                    padding-bottom: 5px;
                    border-radius: 5px;
                }
            }
            h3{
                font-family: $ff-franklin !important;
            }
            .uk-badge{
                background-color: $color-primary;
                color: $color-white;
                position: absolute;
                top: 45px;
                left: 65px;
            }
        }
    }
}
</style>
