<template>
    <div>
        <nav-bar v-if="showNavar"/>
        <slot></slot>
        <!-- Modales -->
        <modal-expendientes-control-interno v-if="showNavar"/>
        <modal-usuarios-declaracion></modal-usuarios-declaracion>
    </div>
</template>

<script>
    import NavBar from "@/js/components/NavBar";
    import ModalExpendientesControlInterno from "@/js/components/auditoria_control_interno/ModalExpendientes";
    import ModalUsuariosDeclaracion from "@/js/components/declaracion_patrimonial/ModalUsuariosDeclaracion";
    export default {
        name: "Layout",
        components: {
            ModalExpendientesControlInterno,
            ModalUsuariosDeclaracion,
            NavBar
        },
        computed: {
            showNavar() {
                let route_name = this.$route.name;
                if (route_name === 'home') {
                    return false;
                } else if(route_name === '404') {
                    return false;
                }
                return true;
            }
        }
    }
</script>

<style scoped>

</style>
